{% extends "pc/admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}公司现金流水{% endblock %}
{% block admin_title %}公司现金流水{% endblock %}
{% block admin_title_m %}公司现金流水{% endblock %}

{% block css %}
<style type="text/css">
@media (min-width: 768px){
    .form-inline .input-group>input.form-control {
        width: 110px;
    }
}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    // models
    var Record = Backbone.Model.extend({

        // 默认值
        defaults: {
            'num': ''
        }

    });

    // collections
    var Records = Backbone.Collection.extend({
        model: Record,

        _modelMaps: {
            'num': 'num',
            'recordId': 'record_id',
            'companyId': 'company_id',
            'companyName': 'company_name',
            'balance': 'balance',
            'value': 'value',
            'currentBalance': 'current_balance',
            'operation': 'operation',
            'notes': 'notes',
            'ip': 'ip',
            'isInvoice': 'is_invoice',
            'createTime': 'create_time'
        },

        // 查询
        search: function(start_date, end_date, name, operation, is_invoice, is_alipay, pageIndex){
            var me = this,
                start_date = start_date||'{{start_date}}',
                end_date = end_date||'{{end_date}}',
                name = name||'',
                operation = operation || "-1",
                is_invoice = is_invoice || '-1',
                is_alipay = is_alipay || '0',
                pageIndex = pageIndex || 1;

            ajaxSend(
                "/admin/cash_record/search", 
                {
                    'start_date': start_date, 
                    'end_date': end_date, 
                    'name': name, 
                    'operation': operation,
                    'is_invoice': is_invoice, 
                    'is_alipay': is_alipay,
                    'page_index': pageIndex
                }, 
                function(data){
                    me.pageIndex = pageIndex;
                    me.pageCount = data.page_count;
                    me.startDate = start_date;
                    me.endDate = end_date;
                    me.name = name;
                    me.operation = operation;
                    me.is_invoice = is_invoice;
                    me.isAlipay = is_alipay;
                    me.sumPrice = data.sum_price;

                    me.reset($.Global.Utils.dictMapParse(data.data, me._modelMaps));
                }
            );
        },

        addRecord: function(data, callback){
            var me = this;

            ajaxSend(
                "/admin/cash_record/add_cash_account",  
                data,
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );

        },

        changeIsInvoice: function(recordId){
            var me = this;

            ajaxSend(
                "/admin/cash_record/change_is_invoice",  
                {'record_id': recordId},
                function(response){
                    if(response.errcode == "0"){
                        me.findWhere({'recordId': recordId}).set('isInvoice', response.errmsg);
                        me.reset(me.toJSON());
                    } else {
                        $.Global.Notice.ErrorTopNotice(response.errmsg);
                    }
                }
            );

        }

    });

    // listView
    var ListView = Backbone.View.extend({
        el: '#record_list',

        pagination: new $.Global.Pagination.PaginationView(),

        template: _.template($('#record_template').html()),

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        events: {
            'click .search': 'search',
            'click .pointer': 'changeIsInvoice'
        },

        // 渲染函数
        render: function(){
            var data = this.collection.toJSON();

            this.showPanel();

            this.$('tbody').html(this.template({'records': data}));

            this.pagination.render(
                this.collection.pageIndex||1, 
                this.collection.pageCount, 
                String.format('search/{0}/{1}/{2}/{3}/{4}/{5}', this.collection.startDate, this.collection.endDate, this.collection.name, this.collection.operation, this.collection.is_invoice, this.collection.isAlipay)
            );

            this.$('.sum-price').html(this.collection.sumPrice);
            this.$('.operation').val(this.collection.operation);
            this.$('.is_invoice').val(this.collection.is_invoice);
            this.$('#start_date_search').val(this.collection.startDate);
            this.$('#end_date_search').val(this.collection.endDate);
            this.$('.name').val(this.collection.name);
        },

        // 显示面板
        showPanel: function(){
            $('.orange-nav-pills a[href="#record_list"]').tab('show');
        },

        search: function(){
            var startDate = this.$('#start_date_search').val(),
                endDate = this.$('#end_date_search').val(),
                name = this.$('.name').val(),
                operation = this.$('.operation').val(),
                is_invoice = this.$('.is_invoice').val(),
                isAlipay = this.$('.is-alipay').attr('checked') ? 1 : 0;

            router.navigate(String.format('/search/{0}/{1}/{2}/{3}/{4}/{5}/1', startDate, endDate, name, operation, is_invoice, isAlipay), {trigger: true});
        },

        // 操作是否记录开篇金额
        changeIsInvoice: function(sender){
            var target = $(sender.currentTarget),
                recordId = target.data('record_id'),
                isInvoice = target.data('is_invoice'),
                text = (isInvoice == "1" ? "确认要取消记录开票金额吗？" : "确认记录开票金额？");

            if(confirm(text)){
                records.changeIsInvoice(recordId);
            }
        }

    });


    var AddView = Backbone.View.extend({
        el: 'body',

        template: _.template($('#add_record_template').html()),

        showPanel: function(){
            var me = this;

            me.render();
        },

        companyTextBox: null,
        initCompanyTextBox: function(name, value){
            var me = this;

            this.companyTextBox = $.Global.TextboxList.create('#company_add', {
                max: 1,
                placeholder: '选择所属公司',
                url: '/admin/company/get_companys_by_name',
                param: 'company_name',
                loadPlaceholder: '正在加载...'
            });
            
        },

        render: function(){
            var me = this;

            $('#add_record_modal').remove();
            
            $('body').append(this.template());

            // 绑定事件
            $('#add_record_modal .cancel').bind('click', function(){
                history.go(-1);
            });
            $('#add_record_modal .ok').bind('click', function(){
                me.addRecord();
            });
            
            $('#add_record_modal').modal({'show': true, 'backdrop': 'static'});

            me.initCompanyTextBox();
           
        },

        // 是否包含特殊词汇
        _checkKeyWords: function(text){
            var keyWords = ['返现', '补偿', '首单', '试吃'],
                flag = true;

            $.map(keyWords, function(per){
                if(text.indexOf(per) > -1){
                    flag = false;
                }
            })

            return flag;
        },

        addRecord: function(){
            var me = this,
                notes = $('#add_record_modal .notes').val(),
                isInvoice = $('#add_record_modal .is-invoice').attr('checked');
            
            if(!$('#add_record_modal form').valid()){
                return;
            }
            
            // 包含特殊词汇时检查是否要记录开票金额
            if(isInvoice && !me._checkKeyWords(notes)){
                if(!confirm('确认要记录开票金额吗？')){
                    return false;
                }
            }

            g_ajax_processing_obj_id = $("#add_record_modal .ok").setUUID().attr('id');
            records.addRecord($.Global.Utils.formToDict($('#add_record_modal form')), function(data){
                if(data.errcode == "0"){
                    $('#add_record_modal').modal('hide');
                    $.Global.Notice.SuccessTopNotice("操作成功");
                    router.navigate('search///////1', {trigger: true});
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            })
        }

    });


    // router
    var Router = Backbone.Router.extend({

        routes: {
            "":     "search",
            'add':  'add',
            "search/(:start_date)/(:end_date)/(:name)/(:operation)/(:is_invoice)/(:is_alipay)/:pageIndex":    "search",
        },

        // 查询
        search: function(start_date, end_date, name, operation, is_invoice, is_alipay, pageIndex){
            records.search(start_date, end_date, name, operation, is_invoice, is_alipay, pageIndex);
        },

        add: function(){
            addView.showPanel();
        }

    });
    
    // 初始化
    var records = new Records(),
        listView = new ListView({'collection': records}),
        addView = new AddView(),
        router = new Router();
 
    Backbone.history.start();

    $('#start_date_search').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });

    $('#end_date_search').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });

});

</script>
{% endblock %}

{% block admin_main %}
<ul class="nav nav-pills pt-15 orange-nav-pills">
    <li class="active">
        <a href="#record_list" data-toggle="pill">
            <i class="fa fa-list-ol pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">列表</span>
            <span class="hidden-xs">现金记录列表</span>
        </a>
    </li>
    <li class="pull-right">
        <a href="#add">
            <i class="fa fa-plus-circle pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">添加</span>
            <span class="hidden-xs">添加现金记录</span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <!-- 客户经理列表 -->
    <div class="tab-pane fade pt-15 in active" id="record_list">
        <form action="." class="form-inline" onsubmit="javascript: return false;">
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">类型</span>
                <select class="form-control operation">
                    {% for operation in all_operations %}
                    <option value="{{operation.value}}">{{operation.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">记录发票</span>
                <select class="form-control is_invoice">
                    {% for is_invoice in all_invoices %}
                    <option value="{{is_invoice.value}}">{{is_invoice.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">开始日期</span>
                <input type="text" class="form-control" id="start_date_search" value="{{start_date}}"  />
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">结束日期</span>
                <input type="text" class="form-control" id="end_date_search" value="{{end_date}}"  />
            </div>
            <div class="input-group input-group-sm pb-10 pl-10 pr-10">
                <div class="checkbox">
                    <label>
                        <input class="is-alipay" type="checkbox" value="1"> 支付宝
                    </label>
                </div>
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">公司名称</span>
                <input type="text" class="form-control name" placeholder="" />
                <span class="input-group-btn">
                    <button class="btn btn-default search bgc-eeeeee" type="submit">查询</button>
                </span>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>公司</th>
                    <th class="hidden-xs">操作类型</th>
                    <th>操作金额</th>
                    <th class="hidden-xs">余额</th>
                    <th>记录发票</th>
                    <th>操作时间</th>
                    <th class="hidden-xs">备注</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm qx-pagination">
                
            </ul>
        </div>
        <div class="text-right border-top-2 bdc-dddddd mt-25">流水总金额 <span class="fb f18 co-1DABD9 sum-price">0</span> 元</div>
    </div>
</div>

<!-- 客户经理列表 -->
<script type="text/template" id="record_template">
    <% _.each(records, function(record){ %>
        <tr data-record_id="<%= record.recordId %>">
            <td><%= record.num %></td>
            <td><%= record.companyName %></td>
            <td class="hidden-xs">
                <% if(record.operation == 0){ %>
                    <span class="co-19BA40">充值</span>
                <% } else { %>
                    <span class="co-C33333">消费</span>
                <% } %>
            </td>
            <td>
                <% if(record.operation == 0){ %>
                    <span class="co-19BA40">+<%= record.value %></span>
                <% } else { %>
                    <span class="co-C33333">-<%= record.value %></span>
                <% } %>
            </td>
            <td class="hidden-xs"><%= record.currentBalance %></td>
            <td class="pointer" data-record_id="<%= record.recordId %>" data-is_invoice="<%= record.isInvoice %>">
                <% if(record.isInvoice == 1){ %>
                    <span class="fa fa-check co-3B99FC"></span>
                <% } else { %>
                    <span class="fa fa-times co-C33333"></span>
                <% } %>
            </td>
            <td><%= record.createTime %></td>
            <td class="hidden-xs"><%= record.notes %></td>
        </tr>
    <% }) %>
</script>

<script type="text/template" id="add_record_template">
<div class="modal fade" id="add_record_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-5">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <h4 class="modal-title">添加公司现金记录</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal record-form" role="form" method="post" action="">
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">公司</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="company_add" required name="company_id" value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">操作类型</label>
                        <div class="col-sm-3">
                            <select class="form-control input-sm" name="operation">
                                {% for choice in operation_choices %}
                                <option value="{{choice.value}}">{{choice.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">是否记录开票金额</label>
                        <div class="col-sm-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="is-invoice" name="is_invoice" value="1" checked> 是
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">操作金额</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control number" required name="value" value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-8">
                            <input type="text" required class="form-control notes" name="notes" value=''>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary ok">确定</button>
            </div>
        </div>
    </div>
</div>
</script>
{% endblock %}