{% extends "pc/admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}公司现金账户{% endblock %}
{% block admin_title %}公司现金账户{% endblock %}
{% block admin_title_m %}公司现金账户{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    // models
    var Account = Backbone.Model.extend({

        // 默认值
        defaults: {
            'num': ''
        }

    });

    // collections
    var Accounts = Backbone.Collection.extend({
        model: Account,

        _modelMaps: {
            'num': 'num',
            'accountId': 'account_id',
            'companyId': 'company_id',
            'companyName': 'company_name',
            'combineName': 'combine_name',
            'balance': 'balance',
            'overdraft': 'overdraft'
        },

        // 查询
        search: function(name, pageIndex){
            var me = this;

            ajaxSend(
                "/admin/cash_account/search", 
                {'company_name': name||'', 'page_index': pageIndex||1}, 
                function(data){
                    me.pageIndex = pageIndex||1;
                    me.pageCount = data.page_count;
                    me.name = name||'';
                    me.sumPrice = data.sum_price;

                    me.reset($.Global.Utils.dictMapParse(data.data, me._modelMaps));
                }
            );
        },

        // 获取一个提问的model
        getOne: function(accountId, callback){
            var me = this;

            ajaxSend(
                "/admin/cash_account/get_cash_account_by_id", 
                {'account_id': accountId},
                function(data){
                    if(callback){
                        callback($.Global.Utils.dictMap(data, me._modelMaps));
                    }
                }
            );
        },

        // 获取一个提问的model
        modifyAccount: function(data, callback){
            var me = this;

            ajaxSend(
                "/admin/cash_account/modify_cash_account", 
                data,
                function(data){
                    if(callback){
                        callback(data);
                    }
                }
            );
        }

    });

    // listView
    var ListView = Backbone.View.extend({
        el: '#account_list',

        pagination: new $.Global.Pagination.PaginationView(),

        template: _.template($('#account_template').html()),

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        events: {
            'click .search': 'search',
            'click .pointer': 'modifyAccount'
        },

        // 渲染函数
        render: function(){
            var data = this.collection.toJSON();

            this.showPanel();

            this.$('tbody').html(this.template({'accounts': data}));

            this.pagination.render(
                this.collection.pageIndex||1, 
                this.collection.pageCount, 
                'search/' + this.collection.name
            );

            this.$('.sum-price').html(this.collection.sumPrice);
        },

        // 显示面板
        showPanel: function(){
            $('.orange-nav-pills a[href="#account_list"]').tab('show');
        },

        search: function(){
            var name = this.$('.name').val();

            router.navigate(String.format('/search/{0}/1', name), {trigger: true});
        },

        modifyAccount: function(sender){
            var target = $(sender.currentTarget),
                accountId = target.data('account_id');

            router.navigate('/modify/' + accountId, {trigger: true});
        }
    });

    // modifyView
    var ModifyView = Backbone.View.extend({
        
        el: '#modify_account',

        template: _.template($('#modify_account_template').html()),

        events: {
            'click .save': 'save'
        },

        // 显示面板
        showPanel: function(){
            $('.orange-nav-pills a[href="#modify_account"]').tab('show');
        },

        // 渲染
        render: function(data){
            this.$el.html(this.template(data));

            this.initCompanyTextBox(data.companyName, data.companyId);
            this.initUserTextBox(data.userNick, data.userId);
        },

        companyTextBox: null,
        initCompanyTextBox: function(name, value){
            var me = this;

            this.companyTextBox = $.Global.TextboxList.create('#company_modify', {
                max: 1,
                placeholder: '选择所属公司',
                url: '/admin/company/company/get_companys_by_name',
                param: 'company_name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.companyTextBox.add(name, value);
            }
        },

        userTextBox: null,
        initUserTextBox: function(name, value){
            var me = this;

            this.userTextBox = $.Global.TextboxList.create('#user_modify', {
                max: 1,
                placeholder: '选择管理员',
                url: '/admin/user/user/get_user_by_nick',
                param: 'nick',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.userTextBox.add(name, value);
            }
            
        },

        // 显示提问信息
        modifyAccount: function(accountId){
            var me = this;

            this.collection.getOne(accountId, function(data){
                if(data){
                    me.render(data);
                    me.showPanel();
                } else {
                    setTimeout(function(){history.go(-1);}, 3000);
                    $.Global.Notice.ErrorTopNotice("没有找到对应的公司!");
                }
            });
        },

        // 保存
        save: function(sender){
            var accountId = this.$('form').data('account_id'),
                target = $(sender.currentTarget),
                me = this;

            if(!this.$('form').valid()){
                return;
            }

            g_ajax_processing_obj_id = target.setUUID().attr('id');
            me.collection.modifyAccount($.Global.Utils.formToDict(this.$('form')), function(data){
                console.log(data)
                if(data.errcode == "0"){
                    $.Global.Notice.SuccessTopNotice('操作成功!');
                    router.navigate('modify/' + accountId, {'trigger': true});
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            });
        }

    });

    
    // router
    var Router = Backbone.Router.extend({

        routes: {
            "":                     "search",
            "modify/:accountId":       "modify",
            "search/(:name)/:pageIndex":    "search"
        },

        // 查询
        search: function(name, pageIndex){
            accounts.search(name, pageIndex||1);
        },

        // 显示修改界面
        modify: function(accountId){
            modifyView.modifyAccount(accountId);
        }

    });
    
    // 初始化
    var accounts = new Accounts(),
        listView = new ListView({'collection': accounts}),
        modifyView = new ModifyView({'collection': accounts}),
        router = new Router();
 
    Backbone.history.start();

});

</script>
{% endblock %}

{% block admin_main %}
<ul class="nav nav-pills pt-15 orange-nav-pills">
    <li class="active">
        <a href="#account_list" data-toggle="pill">
            <i class="fa fa-list-ol pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">列表</span>
            <span class="hidden-xs">现金账户列表</span>
        </a>
    </li>
    <li>
        <a href="#modify_account" data-toggle="pill">
            <i class="fa fa-pencil-square-o pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">修改</span>
            <span class="hidden-xs">修改现金账户</span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <!-- 客户经理列表 -->
    <div class="tab-pane fade pt-15 in active" id="account_list">
        <form action="." class="form-inline" onsubmit="javascript: return false;">
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">公司名称</span>
                <input type="text" class="form-control name" placeholder="" />
                <span class="input-group-btn">
                    <button class="btn btn-default search bgc-eeeeee" type="submit">查询</button>
                </span>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>公司名称</th>
                    <th>最新余额</th>
                    <th>最大透支额</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm qx-pagination">
                
            </ul>
        </div>

        <div class="text-right border-top-2 bdc-dddddd mt-25">总透支额 <span class="fb f18 co-1DABD9 sum-price">0</span> 元</div>
    </div>

    <!-- 修改客户经理信息 -->
    <div class="tab-pane fade" id="modify_account">
        
    </div>
</div>

<!-- 客户经理列表 -->
<script type="text/template" id="account_template">
    <% _.each(accounts, function(account){ %>
        <tr>
            <td><%= account.num %></td>
            <td class="pointer" data-account_id="<%= account.accountId %>"><%= account.combineName %></td>
            <td>
                <a target="_blank" href="/admin/cash_record#search/{{start_date}}/{{end_date}}/<%= account.companyName %>/-1/-1/0/1"><%= account.balance %></a>
            </td>
            <td><%= account.overdraft %></td>
        </tr>
    <% }) %>
</script>

<!-- 修改问题模板 -->
<script type="text/template" id="modify_account_template">
    <form class="form-horizontal" data-account_id="<%= accountId %>" role="form" method="post" action="">
        <input type="hidden" name="account_id" value="<%= accountId %>" />
        <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
            <label class="col-sm-2 control-label">公司</label>
            <div class="col-sm-8">
                <p class="form-control-static"><%= companyName %></p>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
            <label class="col-sm-2 control-label">最新余额</label>
            <div class="col-sm-8">
                <p class="form-control-static"><%= balance %></p>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
            <label class="col-sm-2 control-label">最大透支额</label>
            <div class="col-sm-2">
                <input type="text" required class="form-control" name='overdraft' value='<%= overdraft %>'>
            </div>
        </div>
        
        <div class="form-group pt-20 pb-20 mb-0">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary save">提交你的修改</button>
            </div>
        </div>
    </form>
</script>
{% endblock %}