{% extends "pc/base/base_admin.html" %}

{% block base_css %}
<style type="text/css">
.list-group-item:first-child,
.list-group-item:last-child{
    border-radius: 0;
}

.admin-top{
    position: fixed;
    z-index: 101;
    width: 100%;
    padding: 15px;
    font-size: 25px;
    background-color: #000000;
    color: #ffffff;
    top: -55px;
    left: 0;
    text-align: center;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}
@media only screen and (max-width: 768px) {
    .admin-top{
        left: 0;
        top: 0;
    }
}

.admin-left{
    width: 240px;
    background-color: #333A4C;
    position: fixed;
    height: 100%;
}
@media only screen and (max-width: 768px) {
    .admin-left{
        width: 240px;
        min-height: 400px;
        background-color: #333A4C;
        left: 0;
        top: 0;
    }
}

.p-nav>.list-group-item{
    background-color: transparent;
    border-color: #303547;
    border-left: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    color: #C9CACF;
    font-size: 14px;
    cursor: pointer;
}
.p-nav>.list-group-item.active,
.p-nav>.list-group-item:hover{
    background-color: #1DABD9;
    border-color: #303547;
}
.p-nav>.list-group-item>a{
    color: #C1C3C9;
    text-decoration: none;
    padding-left: 75px;
    display: inline-block;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}
.p-nav>.list-group-item.active>a,
.p-nav>.list-group-item:hover>a{
    color: #F2FAFC;
}
.p-nav>.list-group-item>a>i{
    position: absolute;
    color: #BDDAF4;
    font-size: 18px;
    left: 30px; 
    top: 15px;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}
.p-nav>.list-group-item.active>a>i,
.p-nav>.list-group-item:hover>a>i{
    color: #EBF1F4;
}

.sub-nav{
    margin-bottom: 0;
    display: none;
}
.sub-nav>.list-group-item{
    background-color: #3E445B;
    border-color: #363B4E;
    border-left: 3px solid #1DABD9;
    padding-left: 100px;
    padding-bottom: 12px;
    padding-top: 12px;
}
.sub-nav>.list-group-item:hover{
    background-color: #3E445B;
    border-color: #363B4E;
    border-left: 3px solid #1DABD9;
}
.sub-nav>.list-group-item:hover>a{
    color: #5DF4B1;
}
.sub-nav>.list-group-item:hover>a>i{
    background-color: #5DF4B1;
}
.sub-nav>.list-group-item.active>a{
    color: #5DF4B1;
}
.sub-nav>.list-group-item.active>a>i{
    background-color: #5DF4B1;
}
.sub-nav>.list-group-item>a{
    color: #A9C2DD;
    font-size: 13px;
    transition: all 0.3s;
}
.sub-nav>.list-group-item>a:hover{
    text-decoration: none;
}
.sub-nav>.list-group-item>a>i{
    position: absolute;
    left: 73px;
    top: 17px;
    width: 7px;
    height: 7px;
    background-color: #A9C2DD;
    border-radius: 50%;
    transition: all 0.3s;
}

.admin-main{
    padding-left: 240px;
    background-color: #eeeeee;
    height: 100%;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}
@media only screen and (max-width: 768px) {
    .admin-main{
        padding-left: 0;
        z-index: 100;
        position: relative;
    }
}

.content-main{
    background-color: #EEF3F6;
    padding-left: 45px;
    padding-top: 15px;
}
@media only screen and (max-width: 768px) {
    .content-main{
        padding-left: 15px;
        padding-top: 70px;
    }
}

.nav-open{
    -webkit-transform: translateX(240px);
       -moz-transform: translateX(240px);
         -o-transform: translateX(240px);
            transform: translateX(240px);
}

</style>
{% block css %}{% endblock %}
{% endblock %}

{% block base_js %}
<script type="text/javascript">
$(document).ready(function(){
    $('.fa-bars').on('click', function(){
        $('.admin-top').toggleClass('nav-open');
        $('.admin-main').toggleClass('nav-open');
    });

    $('.p-nav>.list-group-item>a').on('click', function(){
        var target = $(this).siblings();

        if(target && target.css('display') != 'none'){
            target.hide('fast');
        }
        else{
            target.show('fast');
        }

        // target.toggleClass('sub-nav-close')
        
    });
});
</script>
{% block javascript %}{% endblock %}
{% endblock %}

{% block base_container %}
<div class="container-fluid pr-0 pl-0">
    <!-- <div class="row"> -->
        <div class="admin-top">
            <i class="fa fa-bars" style="position: absolute; left: 20px; top: 15px;"></i>
            <span class="f18">本月流水统计</span>
        </div>
        <div class="admin-left">
            <div class="co-ffffff pr pt-20 pb-20">
                <img class="w35 pa" style="left: 22px; top: 18px;" src="{{MEDIA_URL}}img/logo.png?v=1">
                <span class="f18 pl-65">三点十分 后台管理</span>
            </div>
            <ul class="list-group p-nav">
                <li class="list-group-item" href="#">
                    <a href="#"><i class="fa fa-user pr-3" style="left: 33px;"></i>用户管理</a>
                    <ul class="list-group sub-nav">
                        <li class="list-group-item">
                            <a href="#"><i class="point"></i>注册用户管理</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#"><i class="point"></i>管理员维护</a>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item" href="#">
                    <a href="#"><i class="fa fa-newspaper-o pr-3"></i>每日订单</a>
                </li>
                <li class="list-group-item active" href="#">
                    <a href="#"><i class="fa fa-bar-chart pr-3"></i>统计管理</a>
                    <ul class="list-group sub-nav">
                        <li class="list-group-item">
                            <a href="#"><i class="point"></i>当日流水统计</a>
                        </li>
                        <li class="list-group-item active">
                            <a href="#"><i class="point"></i>本月流水统计</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#"><i class="point"></i>年度流水统计</a>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item" href="#">
                    <a href="#"><i class="fa fa-cogs pr-3"></i>系统设置</a>
                    <ul class="list-group sub-nav">
                        <li class="list-group-item">
                            <a href="#"><i class="point"></i>修改密码</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#"><i class="point"></i>缓存维护</a>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item" href="#">
                    <a href="#"><i class="fa fa-comments pr-3"></i>用户反馈</a>
                    <ul class="list-group sub-nav">
                        <li class="list-group-item">
                            <a href="#"><i class="point"></i>用户反馈信息</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#"><i class="point"></i>关于我们</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="admin-main">
            <div class="col-md-12 pt-20 pb-15 hidden-xs">
                <div class="col-md-6 pl-30">
                    <span class="f22 co-8CA0B4">本月流水统计</span>
                </div>
                <div class="col-md-6 text-right">
                    <img class="avatar-30" src="http://tp1.sinaimg.cn/1613200184/180/1286542530/1">
                    <span>半夜没事瞎溜达，</span>
                    <a href="#">退出</a>
                </div>
            </div>

            <div class="content-main col-md-12">
                <div style="min-height: 700px;">本月流水统计</div>
            </div>
        </div>
    <!-- </div> -->
</div>
{% endblock %}