{% extends "pc/admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}库存产品对照管理{% endblock %}
{% block admin_title %}库存产品对照管理{% endblock %}
{% block admin_title_m %}库存产品对照管理{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    // models
    var Relationship = Backbone.Model.extend({

        // 默认值
        defaults: {
            'num': ''
        }

    });

    // collections
    var Relationships = Backbone.Collection.extend({
        model: Relationship,

        _modelMaps: {
            'num': 'num',
            'relationshipId': 'relationship_id',
            'inventoryId': 'inventory_id',
            'inventoryName': 'inventory_name',
            'itemId': 'item_id',
            'itemName': 'item_name',
            'amount': 'amount',
            'createTime': 'create_time'
        },

        // 查询
        search: function(name, state, pageIndex){
            var me = this,
                name = name||'',
                pageIndex = pageIndex||1;

            ajaxSend(
                "/admin/inventory_to_item/search", 
                {'name': name, 'page_index': pageIndex}, 
                function(data){
                    me.pageIndex = pageIndex;
                    me.pageCount = data.page_count;
                    me.name = name;

                    me.reset($.Global.Utils.dictMapParse(data.data, me._modelMaps));
                }
            );
        },

        // 获取一个提问的model
        getOne: function(relationshipId, callback){
            var me = this;

            ajaxSend(
                "/admin/inventory_to_item/get_relationship_by_id", 
                {'relationship_id': relationshipId},
                function(data){
                    if(callback){
                        callback($.Global.Utils.dictMap(data, me._modelMaps));
                    }
                }
            );
        },

        //
        dropRelationship: function(data, callback){

            ajaxSend(
                "/admin/inventory_to_item/drop_relationship", 
                data,
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        },

        addRelationship: function(data, callback){

            ajaxSend(
                "/admin/inventory_to_item/add_relationship", 
                data,
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        }

    });

    // listView
    var ListView = Backbone.View.extend({
        el: '#relationship_list',

        pagination: new $.Global.Pagination.PaginationView(),

        template: _.template($('#relationship_template').html()),

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        events: {
            'click .search': 'search',
            'click .pointer': 'modifyRelationship'
        },

        // 渲染函数
        render: function(){
            var data = this.collection.toJSON();

            this.showPanel();

            this.$('tbody').html(this.template({'relationships': data}));

            this.pagination.render(
                this.collection.pageIndex,
                this.collection.pageCount,
                'search/' + this.collection.name
            );
        },

        // 显示面板
        showPanel: function(){
            $('.orange-nav-pills a[href="#relationship_list"]').tab('show');
        },

        search: function(){
            var name = this.$('.name').val();

            router.navigate(String.format('/search/{0}/1', name), {trigger: true});
        },

        modifyRelationship: function(sender){
            var target = $(sender.currentTarget),
                relationshipId = target.data('relationship_id');

            router.navigate('/modify/' + relationshipId, {trigger: true});
        }
    });

    // modifyView
    var ModifyView = Backbone.View.extend({
        
        el: '#modify_relationship',

        template: _.template($('#modify_relationship_template').html()),

        events: {
            'click .save': 'save'
        },

        // 显示面板
        showPanel: function(){
            $('.orange-nav-pills a[href="#modify_relationship"]').tab('show');
        },

        // 渲染
        render: function(data){
            this.$el.html(this.template(data));
        },

        // 显示提问信息
        modifyRelationship: function(relationshipId){
            var me = this;

            this.collection.getOne(relationshipId, function(data){
                if(data){
                    me.render(data);
                    me.showPanel();
                } else {
                    setTimeout(function(){history.go(-1);}, 3000);
                    $.Global.Notice.ErrorTopNotice("没有找到对应的库存产品!");
                }
            });
        },

        // 保存
        save: function(sender){
            var relationshipId = this.$('form').data('relationship_id'),
                target = $(sender.currentTarget),
                me = this;

            if(!confirm('确认删除对照关系?')){
                return false;
            }

            g_ajax_processing_obj_id = target.setUUID().attr('id');
            me.collection.dropRelationship($.Global.Utils.formToDict(this.$('form')), function(data){
                if(data.errcode == "0"){
                    $.Global.Notice.SuccessTopNotice('操作成功!');
                    router.navigate('search', {'trigger': true});
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            });
            
        }


    });

    
    var AddView = Backbone.View.extend({
        el: 'body',

        template: _.template($('#add_relationship_template').html()),

        showPanel: function(){
            var me = this;

            me.render();
        },

        itemTextBox: null,
        initItemTextBox: function(name, value){
            var me = this;

            this.itemTextBox = $.Global.TextboxList.create('#item_add', {
                max: 1,
                placeholder: '选择产品',
                url: '/admin/item/get_items_by_name_for_combox',
                param: 'name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.itemTextBox.add(name, value);
            }
            
        },

        inventoryTextBox: null,
        initInventoryTextBox: function(name, value){
            var me = this;

            this.inventoryTextBox = $.Global.TextboxList.create('#inventory_add', {
                max: 1,
                placeholder: '选择消耗产品',
                url: '/admin/inventory/get_inventorys_by_name',
                param: 'name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.inventoryTextBox.add(name, value);
            }
            
        },

        render: function(){
            var me = this;

            $('#add_relationship_modal').remove();
            
            $('body').append(this.template());

            // 绑定事件
            $('#add_relationship_modal .cancel').bind('click', function(){
                history.go(-1);
            });
            $('#add_relationship_modal .ok').bind('click', function(){
                me.addRelationship();
            });
            
            $('#add_relationship_modal').modal({'show': true, 'backdrop': 'static'});

            me.initItemTextBox();
            me.initInventoryTextBox();

        },

        addRelationship: function(){
            var me = this;
            
            if(!$('#add_relationship_modal form').valid()){
                return;
            }

            g_ajax_processing_obj_id = $("#add_relationship_modal .ok").setUUID().attr('id');
            relationships.addRelationship($.Global.Utils.formToDict($('#add_relationship_modal form')), function(data){
                if(data.errcode == "0"){
                    router.navigate('modify/' + data.errmsg, {trigger: true});
                    $('#add_relationship_modal').modal('hide');
                    $.Global.Notice.SuccessTopNotice("操作成功");
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            })

        }

    });

    
    // router
    var Router = Backbone.Router.extend({

        routes: {
            "":                     "search",
            "modify/:relationshipId":       "modify",
            "search/(:name)/:pageIndex":    "search",
            "add":                   "add"
        },

        // 查询
        search: function(name, pageIndex){
            relationships.search(name, pageIndex);
        },

        // 显示修改界面
        modify: function(relationshipId){
            modifyView.modifyRelationship(relationshipId);
        },

        add: function(){
            addView.showPanel();
        }

    });
    
    // 初始化
    var relationships = new Relationships(),
        listView = new ListView({'collection': relationships}),
        modifyView = new ModifyView({'collection': relationships}),
        addView = new AddView(),
        router = new Router();
 
    Backbone.history.start();

});

</script>
{% endblock %}

{% block admin_main %}
<ul class="nav nav-pills orange-nav-pills">
    <li class="active">
        <a href="#relationship_list" data-toggle="pill">
            <i class="fa fa-list-ol pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">列表</span>
            <span class="hidden-xs">库存产品对照列表</span>
        </a>
    </li>
    <li>
        <a href="#modify_relationship" data-toggle="pill">
            <i class="fa fa-pencil-square-o pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">修改</span>
            <span class="hidden-xs">修改库存产品对照信息</span>
        </a>
    </li>
    <li class="pull-right">
        <a href="#add">
            <i class="fa fa-plus-circle pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">添加</span>
            <span class="hidden-xs">添加库存产品对照</span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <!-- 客户经理列表 -->
    <div class="tab-pane fade pt-15 in active" id="relationship_list">
        <form action="." class="form-inline" onsubmit="javascript: return false;">
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">产品名称</span>
                <input type="text" class="form-control name" placeholder="" />
                <span class="input-group-btn">
                    <button class="btn btn-default search bgc-eeeeee" type="submit">查询</button>
                </span>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>产品</th>
                    <th>消耗产品</th>
                    <th>数量</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm qx-pagination">
                
            </ul>
        </div>
    </div>

    <!-- 修改客户经理信息 -->
    <div class="tab-pane fade" id="modify_relationship">
        
    </div>
</div>

<!-- 客户经理列表 -->
<script type="text/template" id="relationship_template">
    <% _.each(relationships, function(relationship){ %>
        <tr class="pointer" data-relationship_id="<%= relationship.relationshipId %>">
            <td><%= relationship.num %></td>
            <td><%= relationship.itemName %></td>
            <td><%= relationship.inventoryName %></td>
            <td><%= relationship.amount %></td>
        </tr>
    <% }) %>
</script>

<!-- 修改问题模板 -->
<script type="text/template" id="modify_relationship_template">
    <form class="form-horizontal" data-relationship_id="<%= relationshipId %>" role="form" method="post" action="">
        <input type="hidden" name="relationship_id" value="<%= relationshipId %>" />
        <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
            <label class="col-sm-2 control-label">产品</label>
            <div class="col-sm-4">
                <p class="form-control-static"><%= itemName %></p>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
            <label class="col-sm-2 control-label">消耗产品</label>
            <div class="col-sm-4">
                <p class="form-control-static"><%= inventoryName %></p>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
            <label class="col-sm-2 control-label">数量</label>
            <div class="col-sm-3">
                <p class="form-control-static"><%= amount %></p>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0">
            <div class="col-sm-12">
                <button type="button" class="btn btn-danger save">删除对照关系</button>
            </div>
        </div>
    </form>
</script>


<script type="text/template" id="add_relationship_template">
<div class="modal fade" id="add_relationship_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-5">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <h4 class="modal-title">添加库存产品对照信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="post" action="">
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">产品</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" required name="item" value='' id="item_add">
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">消耗产品</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" required name="inventory" value='' id="inventory_add">
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0">
                        <label class="col-sm-3 control-label">数量</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" required name="amount" value='0'>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary ok">确定</button>
            </div>
        </div>
    </div>
</div>
</script>

{% endblock %}