{% extends "pc/admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}发票管理{% endblock %}
{% block admin_title %}发票管理{% endblock %}
{% block admin_title_m %}发票管理{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/autocomplete/styles.css">
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.autocomplete.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var Invoice = Backbone.Model.extend({
        defaults: {

        }
    });

    var Invoices = Backbone.Collection.extend({
        model: Invoice,

        _modelMaps: {
            'num': 'num',
            'invoiceId': 'invoice_id',
            'name': 'name',
            'companyId': 'company_id',
            'companyName': 'company_name',
            'companyCombineName': 'company_combine_name',
            'title': 'title',
            'content': 'content',
            'invoiceType': 'invoice_type'
        },

        search: function(name, pageIndex){
            var me = this,
                name = name || '',
                pageIndex = pageIndex || 1;

            ajaxSend(
                "/admin/invoice/search", 
                {'name': name, 'page_index': pageIndex}, 
                function(data){
                    
                    me.pageIndex = pageIndex;
                    me.pageCount = data.page_count;
                    me.name = name;

                    me.reset($.Global.Utils.dictMapParse(data.data, me._modelMaps));
                }
            );
        },

        getOne: function(invoiceId, callback){
            var me = this;

            ajaxSend(
                "/admin/invoice/get_invoice_by_id", 
                {'invoice_id': invoiceId},
                function(data){
                    if(callback){
                        callback($.Global.Utils.dictMap(data, me._modelMaps));
                    }
                }
            );
        },

        modifyInvoice: function(data, callback){
            var me = this;

            ajaxSend(
                "/admin/invoice/modify_invoice", 
                $.param(data, true),
                function(data){
                    if(callback){
                        callback(data);
                    }
                }
            );
        },

        addInvoice: function(data, callback){

            ajaxSend(
                "/admin/invoice/add_invoice", 
                $.param(data, true),
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        }

    });
    
    var ListView = Backbone.View.extend({
        el: '#invoice_list',

        template: _.template($('#invoice_list_template').html()),

        pagination: new $.Global.Pagination.PaginationView(),

        events: {
            'click .search': 'searchInvoice',
            'click .pointer': 'modifyInvoice'
        },

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        render: function(){
            var data = this.collection.toJSON();
            
            this.showPanel();
            this.$('tbody').html(this.template({'invoices': data}));
            this.pagination.render(
                this.collection.pageIndex||1, 
                this.collection.pageCount, 
                String.format(
                    'search/{0}', 
                    this.collection.name
                )
            );
        },

        // 显示面板
        showPanel: function(){
            $('.orange-nav-pills a[href="#invoice_list"]').tab('show');
        },

        searchInvoice: function(){
            var name = this.$('.name').val();

            router.navigate(String.format('/search/{0}/1', name), {trigger: true});
        },

        modifyInvoice: function(sender){
            var target = $(sender.currentTarget),
                invoiceId = target.data('invoice_id');

            router.navigate('/modify/' + invoiceId, {trigger: true});
        }
        
    });
    

    var ModifyView = Backbone.View.extend({
        
        el: '#modify_invoice',

        template: _.template($('#modify_invoice_template').html()),

        itemsView: null,

        events: {
            'click .save': 'save',
        },

        showPanel: function(){
            $('.orange-nav-pills a[href="#modify_invoice"]').tab('show');
        },

        companyTextBox: null,
        initCompanyTextBox: function(name, value){
            var me = this;

            this.companyTextBox = $.Global.TextboxList.create('#company_modify', {
                max: 1,
                placeholder: '选择所属公司',
                url: '/admin/company/get_companys_by_name',
                param: 'company_name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.companyTextBox.add(name, value);
            }
        },

        render: function(data){
            this.$el.html(this.template(data));

            this.initCompanyTextBox(data.companyName, data.companyId);
        },

        modifyInvoice: function(invoiceId){
            var me = this;

            this.collection.getOne(invoiceId, function(data){

                if(data){
                    me.render(data);
                    me.showPanel();
                } else {
                    setTimeout(function(){history.go(-1);}, 3000);
                    $.Global.Notice.ErrorTopNotice('没有找到对应的项目!');
                }
            });
        },

        save: function(sender){
            var invoiceId = this.$('form').data('invoice_id'),
                target = $(sender.currentTarget),
                me = this;

            if(!this.$('form').valid()){
                return;
            }

            g_ajax_processing_obj_id = target.setUUID().attr('id');
            me.collection.modifyInvoice($.Global.Utils.formToDict(this.$('form')), function(data){
                if(data.errcode == "0"){
                    $.Global.Notice.SuccessTopNotice('操作成功');
                    router.navigate('modify/' + invoiceId, {'trigger': true});
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            })
        }

        

    });

    
    var AddView = Backbone.View.extend({
        el: 'body',

        template: _.template($('#add_invoice_template').html()),

        itemsView: null,

        showPanel: function(){
            var me = this;

            me.render();
        },

        initStartDate: function(){
            $('#start_date_add').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2,
                autoclose: true
            });
        },

        initEndDate: function(){
            $('#end_date_add').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2,
                autoclose: true
            });
        },

        initTypeDate: function(){
            $('#type_date_add').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2,
                autoclose: true
            });
        },

        companyTextBox: null,
        initCompanyTextBox: function(name, value){
            var me = this;

            this.companyTextBox = $.Global.TextboxList.create('#company_add', {
                max: 1,
                placeholder: '选择所属公司',
                url: '/admin/company/get_companys_by_name',
                param: 'company_name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.companyTextBox.add(name, value);
            }
        },

        render: function(){
            var me = this;

            $('#add_invoice_modal').remove();
            
            $('body').append(this.template());

            // 绑定事件
            $('#add_invoice_modal .cancel').bind('click', function(){
                history.go(-1);
            });
            $('#add_invoice_modal .ok').bind('click', function(){
                me.addInvoice();
            });
            
            $('#add_invoice_modal').modal({'show': true, 'backdrop': 'static'});

            me.initCompanyTextBox();

        },

        addInvoice: function(){
            var me = this;
            
            if(!$('#add_invoice_modal form').valid()){
                return;
            }

            g_ajax_processing_obj_id = $("#add_invoice_modal .ok").setUUID().attr('id');
            invoices.addInvoice($.Global.Utils.formToDict($('#add_invoice_modal form')), function(data){
                if(data.errcode == "0"){
                    router.navigate('modify/' + data.errmsg, {trigger: true});
                    $('#add_invoice_modal').modal('hide');
                    $.Global.Notice.SuccessTopNotice("操作成功");
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            })
        }

    });


    var Router = Backbone.Router.extend({
        routes: {
            "":                             "search",
            "search/(:name)/:pageIndex":    "search",
            "modify/:invoiceId":            "modify",
            "add":                          "add"
        },

        // 获取推荐用户
        search: function(name, pageIndex){
            invoices.search(name, pageIndex);
        },

        modify: function(invoiceId){
            modifyView.modifyInvoice(invoiceId);
        },

        add: function(){
            addView.showPanel();
        }

    });

    var invoices = new Invoices(),
        listView = new ListView({collection: invoices}),
        modifyView = new ModifyView({collection: invoices}),
        addView = new AddView(),
        router = new Router();

    Backbone.history.start();
});

</script>
{% endblock %}

{% block admin_main %}
<ul class="nav nav-pills orange-nav-pills">
    <li class="active">
        <a href="#invoice_list" data-toggle="pill">
            <i class="fa fa-list-ol pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">列表</span>
            <span class="hidden-xs">发票列表</span>
        </a>
    </li>
    <li>
        <a href="#modify_invoice" data-toggle="pill">
            <i class="fa fa-pencil-square-o pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">修改</span>
            <span class="hidden-xs">修改发票信息</span>
        </a>
    </li>
    <li class="pull-right">
        <a href="#add">
            <i class="fa fa-plus-circle pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">添加</span>
            <span class="hidden-xs">添加发票</span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <!-- 用户列表 -->
    <div class="tab-pane fade pt-15 in active" id="invoice_list">
        <form action="." class="form-inline" onsubmit="javascript: return false;">
            
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">公司名称</span>
                <input type="text" class="form-control name" placeholder="" />
                <span class="input-group-btn">
                    <button class="btn btn-default search bgc-eeeeee" type="submit">查询</button>
                </span>
            </div>
            
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>所属公司</th>
                    <th>发票抬头</th>
                    <th>发票内容</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm qx-pagination">
                
            </ul>
        </div>
    </div>

    <!-- 修改用户信息 -->
    <div class="tab-pane fade pt-15" id="modify_invoice">
        
    </div>
</div>

<script type="text/template" id="invoice_list_template">
<% _.each(invoices, function(invoice){ %>
    <tr class="pointer" data-invoice_id="<%= invoice.invoiceId %>">
        <td><%= invoice.num %></td>
        <td><%= invoice.companyCombineName %></td>
        <td><%= invoice.title %></td>
        <td><%= invoice.content %></td>
    </tr>
<% }) %>
</script>

<script type="text/template" id="modify_invoice_template">
<form class="form-horizontal" data-invoice_id='<%= invoiceId %>' role="form" method="post" action="">
    <input type="hidden" name="invoice_id" value="<%= invoiceId %>" />
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">所属公司</label>
        <div class="col-sm-8">
            <input type="text" id="company_modify" class="form-control" name='company' value=''>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">发票抬头</label>
        <div class="col-sm-8">
            <input type="text" required class="form-control" name='title' value='<%= title %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0">
        <label class="col-sm-2 control-label">发票内容</label>
        <div class="col-sm-8">
            <input type="text" required class="form-control" name='content' value='<%= content %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary save">提交你的修改</button>
        </div>
    </div>
</form>
</script>

<script type="text/template" id="add_invoice_template">
<div class="modal fade" id="add_invoice_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-5">
                <h4 class="modal-title">添加发票</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="post" action="">
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">所属公司</label>
                        <div class="col-sm-9">
                            <input type="text" id="company_add" class="form-control" name='company' value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">发票抬头</label>
                        <div class="col-sm-9">
                            <input type="text" required class="form-control" name='title' value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0">
                        <label class="col-sm-2 control-label">发票内容</label>
                        <div class="col-sm-9">
                            <input type="text" required class="form-control" name='content' value=''>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary ok">确定</button>
            </div>
        </div>
    </div>
</div>
</script>
{% endblock %}