{% extends "pc/admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}茶点产品管理{% endblock %}
{% block admin_title %}茶点产品管理{% endblock %}
{% block admin_title_m %}茶点产品管理{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    var Item = Backbone.Model.extend({
        defaults: {

        }
    });

    var Items = Backbone.Collection.extend({
        model: Item,

        _modelMaps: {
            'num': 'num',
            'itemId': 'item_id',
            'name': 'name',
            'price': 'price',
            'salePrice': 'sale_price',
            'itemType': 'item_type',
            'spec': 'spec',
            'state': 'state',
            'code': 'code',
            'img': 'img',
            'integer': 'integer',
            'initAdd': 'init_add',
            'supplierId': 'supplier_id',
            'supplierName': 'supplier_name',
            'des': 'des',
            'sort': 'sort'
        },

        search: function(itemType, name, pageIndex){
            var me = this,
                name = name || '',
                itemType = itemType || -1,
                pageIndex = pageIndex || 1;

            ajaxSend(
                "/admin/item/search", 
                {'item_type': itemType, 'name': name, 'page_index': pageIndex}, 
                function(data){
                    
                    me.pageIndex = pageIndex;
                    me.pageCount = data.page_count;
                    me.name = name;
                    me.itemType = itemType;

                    me.reset($.Global.Utils.dictMapParse(data.data, me._modelMaps));
                }
            );
        },

        getOne: function(itemId, callback){
            var me = this;

            ajaxSend(
                "/admin/item/get_item_by_id", 
                {'item_id': itemId},
                function(data){
                    if(callback){
                        callback($.Global.Utils.dictMap(data, me._modelMaps));
                    }
                }
            );
        },

        modifyItem: function(data, callback){
            var me = this;

            ajaxSend(
                "/admin/item/modify_item", 
                data,
                function(data){
                    if(callback){
                        callback(data);
                    }
                }
            );
        },

        addItem: function(data, callback){

            ajaxSend(
                "/admin/item/add_item", 
                data,
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        }

    });
    
    var ListView = Backbone.View.extend({
        el: '#item_list',

        template: _.template($('#item_list_template').html()),

        pagination: new $.Global.Pagination.PaginationView(),

        events: {
            'click .search': 'searchItem',
            'click .pointer': 'modifyItem'
        },

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        render: function(){
            var data = this.collection.toJSON();
            
            this.showPanel();
            this.$('tbody').html(this.template({'items': data}));
            this.pagination.render(
                this.collection.pageIndex||1, 
                this.collection.pageCount, 
                'search/' + this.collection.itemType + '/' + this.collection.name
            );
        },

        // 显示面板
        showPanel: function(){
            $('.orange-nav-pills a[href="#item_list"]').tab('show');
        },

        searchItem: function(){
            var itemType = this.$('.item-type').val(),
                name = this.$('.name').val();

            router.navigate(String.format('/search/{0}/{1}/1', itemType, name), {trigger: true});
        },

        modifyItem: function(sender){
            var target = $(sender.currentTarget),
                itemId = target.data('item_id');

            router.navigate('/modify/' + itemId, {trigger: true});
        }
        
    });
    

    var ModifyView = Backbone.View.extend({
        
        el: '#modify_item',

        template: _.template($('#modify_item_template').html()),

        events: {
            'click .save': 'save'
        },

        showPanel: function(){
            $('.orange-nav-pills a[href="#modify_item"]').tab('show');
        },

        render: function(data){
            this.$el.html(this.template(data));

            this.initSupplierTextBox(data.supplierName, data.supplierId);
        },

        supplierTextBox: null,
        initSupplierTextBox: function(name, value){
            var me = this;

            this.supplierTextBox = $.Global.TextboxList.create('#supplier_modify', {
                max: 1,
                placeholder: '选择所属供货商',
                url: '/admin/supplier/get_suppliers_by_name',
                param: 'supplier_name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.supplierTextBox.add(name, value);
            }
            
        },

        modifyItem: function(itemId){
            var me = this;

            this.collection.getOne(itemId, function(data){

                if(data){
                    me.render(data);
                    me.showPanel();
                } else {
                    setTimeout(function(){history.go(-1);}, 3000);
                    $.Global.Notice.ErrorTopNotice('没有找到对应的项目!');
                }
            });
        },

        save: function(){
            var itemId = this.$('form').data('item_id'),
                me = this;

            if(!this.$('form').valid()){
                return;
            }

            me.collection.modifyItem(this.$('form').serialize(), function(data){
                if(data.errcode == "0"){
                    $.Global.Notice.SuccessTopNotice('操作成功');
                    router.navigate('modify/' + itemId, {'trigger': true});
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            })
        }

    });

    
    var AddView = Backbone.View.extend({
        el: 'body',

        template: _.template($('#add_item_template').html()),

        showPanel: function(){
            var me = this;

            me.render();
        },

        supplierTextBox: null,
        initSupplierTextBox: function(name, value){
            var me = this;

            this.supplierTextBox = $.Global.TextboxList.create('#supplier_add', {
                max: 1,
                placeholder: '选择所属供货商',
                url: '/admin/supplier/get_suppliers_by_name',
                param: 'supplier_name',
                loadPlaceholder: '正在加载...'
            });
            
        },

        render: function(){
            var me = this;

            $('#add_item_modal').remove();
            
            $('body').append(this.template());

            // 绑定事件
            $('#add_item_modal .cancel').bind('click', function(){
                history.go(-1);
            });
            $('#add_item_modal .ok').bind('click', function(){
                me.addItem();
            });
            
            $('#add_item_modal').modal({'show': true, 'backdrop': 'static'});

            me.initSupplierTextBox();
        },

        addItem: function(){
            var me = this;
            
            if(!$('#add_item_modal form').valid()){
                return;
            }

            items.addItem($.Global.Utils.formToDict($('#add_item_modal form')), function(data){
                if(data.errcode == "0"){
                    router.navigate('modify/' + data.errmsg, {trigger: true});
                    $('#add_item_modal').modal('hide');
                    $.Global.Notice.SuccessTopNotice("操作成功");
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            })
        }

    });


    var Router = Backbone.Router.extend({
        routes: {
            "":                             "search",
            "search/(:itemType)/(:name)/:pageIndex":    "search",
            "modify/:itemId":               "modify",
            "add":                          "add"
        },

        // 获取推荐用户
        search: function(itemType, name, pageIndex){
            items.search(itemType, name, pageIndex);
        },

        modify: function(itemId){
            modifyView.modifyItem(itemId);
        },

        add: function(){
            addView.showPanel();
        }

    });

    var items = new Items(),
        listView = new ListView({collection: items}),
        modifyView = new ModifyView({collection: items}),
        addView = new AddView(),
        router = new Router();

    Backbone.history.start();
});

</script>
{% endblock %}

{% block admin_main %}
<ul class="nav nav-pills orange-nav-pills">
    <li class="active">
        <a href="#item_list" data-toggle="pill">
            <i class="fa fa-list-ol pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">列表</span>
            <span class="hidden-xs">产品列表</span>
        </a>
    </li>
    <li>
        <a href="#modify_item" data-toggle="pill">
            <i class="fa fa-pencil-square-o pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">修改</span>
            <span class="hidden-xs">修改产品信息</span>
        </a>
    </li>
    <li class="pull-right">
        <a href="#add">
            <i class="fa fa-plus-circle pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">添加</span>
            <span class="hidden-xs">添加产品</span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <!-- 用户列表 -->
    <div class="tab-pane fade pt-15 in active" id="item_list">
        <form action="." class="form-inline" onsubmit="javascript: return false;">
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">产品类型</span>
                <select class="form-control item-type">
                    {% for type in all_types %}
                    <option value="{{type.value}}">{{type.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">产品名称</span>
                <input type="text" class="form-control name" placeholder="" />
                <span class="input-group-btn">
                    <button class="btn btn-default search bgc-eeeeee" type="submit">查询</button>
                </span>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="hidden-xs">货号</th>
                    <th>名称</th>
                    <th>供货商</th>
                    <th>类型</th>
                    <th>成本价</th>
                    <th class="hidden-xs">规格</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm qx-pagination">
                
            </ul>
        </div>
    </div>

    <!-- 修改用户信息 -->
    <div class="tab-pane fade pt-15" id="modify_item">
        
    </div>
</div>

<script type="text/template" id="item_list_template">
<% _.each(items, function(item){ %>
    <tr class="pointer" data-item_id="<%= item.itemId %>">
        <td><%= item.num %></td>
        <td class="hidden-xs"><%= item.code %></td>
        <td><%= item.name %></td>
        <td><%= item.supplierName %></td>
        <td>
        {% for type in all_types %}
            <% if(item.itemType == '{{type.value}}'){ %>
            {{ type.name }}
            <% } %>
        {% endfor %}
        </td>
        <td><%= item.price %></td>
        <td class="hidden-xs">
        {% for spec in specs %}
            <% if(item.spec == '{{spec.value}}'){ %>
            {{ spec.name }}
            <% } %>
        {% endfor %}
        </td>
        <td>
        <% if(item.state){ %>
            <span class="fa fa-check co-3B99FC"></span>
        <% } else { %>
            <span class="fa fa-times co-C33333"></span>
        <% } %>
        </td>
    </tr>
<% }) %>
</script>

<script type="text/template" id="modify_item_template">
<form class="form-horizontal" data-item_id='<%= itemId %>' role="form" method="post" action="">
    <input type="hidden" name="item_id" value="<%= itemId %>" />
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">货号</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= code %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">名称</label>
        <div class="col-sm-3">
            <input type="text" required class="form-control" name='name' value='<%= name %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">供货商</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="supplier_modify" required name="supplier_id" value=''>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">类型</label>
        <div class="col-sm-3">
            <select name="item_type" class="form-control">
                {% for type in types %}
                <option value="{{type.value}}" <% if(itemType == {{type.value}}){ %>selected<% } %> >{{type.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">规格</label>
        <div class="col-sm-3">
            <select name="spec" class="form-control">
                {% for spec in specs %}
                <option value="{{spec.value}}" <% if(spec == {{spec.value}}){ %>selected<% } %> >{{spec.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">是否整数</label>
        <div class="col-sm-3">
            <select name="integer" class="form-control">
                {% for integer in integers %}
                <option value="{{integer.value}}" <% if(integer == {{integer.value}}){ %>selected<% } %> >{{integer.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">是否默认添加</label>
        <div class="col-sm-3">
            <select name="init_add" class="form-control">
                {% for init_add in init_adds %}
                <option value="{{init_add.value}}" <% if(initAdd == {{init_add.value}}){ %>selected<% } %> >{{init_add.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">成本价</label>
        <div class="col-sm-3">
            <input type="text" required class="form-control" name='price' value='<%= price %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">售价</label>
        <div class="col-sm-3">
            <input type="text" required class="form-control" name='sale_price' value='<%= salePrice %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">排序</label>
        <div class="col-sm-3">
            <input type="text" required class="form-control" name='sort' value='<%= sort %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">状态</label>
        <div class="col-sm-3">
            <select name="state" class="form-control">
                {% for state in states %}
                <option value="{{state.value}}" <% if(state == {{state.value}}){ %>selected<% } %> >{{state.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0">
        <label class="col-sm-2 control-label">描述</label>
        <div class="col-sm-6">
            <textarea name="des" rows="6" class="form-control" placeholder=""><%= des %></textarea>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary save">提交你的修改</button>
        </div>
    </div>
</form>
</script>

<script type="text/template" id="add_item_template">
<div class="modal fade" id="add_item_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-5">
                <h4 class="modal-title">添加产品</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="post" action="">
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">名称</label>
                        <div class="col-sm-5">
                            <input type="text" required class="form-control" name='name' value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">供货商</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="supplier_add" required name="supplier_id" value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">类型</label>
                        <div class="col-sm-3">
                            <select name="item_type" class="form-control">
                                {% for type in types %}
                                <option value="{{type.value}}">{{type.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">规格</label>
                        <div class="col-sm-3">
                            <select name="spec" class="form-control">
                                {% for spec in specs %}
                                <option value="{{spec.value}}">{{spec.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">是否整数</label>
                        <div class="col-sm-3">
                            <select name="integer" class="form-control">
                                {% for integer in integers %}
                                <option value="{{integer.value}}">{{integer.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">是否默认添加</label>
                        <div class="col-sm-3">
                            <select name="init_add" class="form-control">
                                {% for init_add in init_adds %}
                                <option value="{{init_add.value}}" {% if init_add.value == 2 %}selected{% endif %}>
                                    {{init_add.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">成本价</label>
                        <div class="col-sm-3">
                            <input type="text" required class="form-control" name='price' value='0'>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">售价</label>
                        <div class="col-sm-3">
                            <input type="text" required class="form-control" name='sale_price' value='0'>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">排序</label>
                        <div class="col-sm-3">
                            <input type="text" required class="form-control" name='sort' value='0'>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0">
                        <label class="col-sm-3 control-label">描述</label>
                        <div class="col-sm-8">
                            <textarea name="des" rows="6" class="form-control" placeholder=""></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary ok">确定</button>
            </div>
        </div>
    </div>
</div>
</script>
{% endblock %}