{% extends "pc/admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}套餐管理{% endblock %}
{% block admin_title %}套餐管理{% endblock %}
{% block admin_title_m %}套餐管理{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/autocomplete/styles.css">
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.autocomplete.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var Meal = Backbone.Model.extend({
        defaults: {

        }
    });

    var Meals = Backbone.Collection.extend({
        model: Meal,

        _modelMaps: {
            'num': 'num',
            'mealId': 'meal_id',
            'name': 'name',
            'companyId': 'company_id',
            'companyName': 'company_name',
            'des': 'des',
            'price': 'price',
            'startDate': 'start_date',
            'endDate': 'end_date',
            'items': 'items',
            'state': 'state'
        },

        search: function(state, name, pageIndex){
            var me = this,
                state = state || 1,
                name = name || '',
                pageIndex = pageIndex || 1;

            ajaxSend(
                "/admin/meal/search", 
                {'state': state, 'name': name, 'page_index': pageIndex}, 
                function(data){
                    
                    me.pageIndex = pageIndex;
                    me.pageCount = data.page_count;
                    me.state = state;
                    me.name = name;

                    me.reset($.Global.Utils.dictMapParse(data.data, me._modelMaps));
                }
            );
        },

        getOne: function(mealId, callback){
            var me = this;

            ajaxSend(
                "/admin/meal/get_meal_by_id", 
                {'meal_id': mealId},
                function(data){
                    if(callback){
                        callback($.Global.Utils.dictMap(data, me._modelMaps));
                    }
                }
            );
        },

        modifyMeal: function(data, callback){
            var me = this;

            ajaxSend(
                "/admin/meal/modify_meal", 
                $.param(data, true),
                function(data){
                    if(callback){
                        callback(data);
                    }
                }
            );
        },

        addMeal: function(data, callback){

            ajaxSend(
                "/admin/meal/add_meal", 
                $.param(data, true),
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        }

    });
    
    var ListView = Backbone.View.extend({
        el: '#meal_list',

        template: _.template($('#meal_list_template').html()),

        pagination: new $.Global.Pagination.PaginationView(),

        events: {
            'click .search': 'searchMeal',
            'click .pointer': 'modifyMeal'
        },

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        render: function(){
            var data = this.collection.toJSON();
            
            this.showPanel();
            this.$('tbody').html(this.template({'meals': data}));
            this.pagination.render(
                this.collection.pageIndex||1, 
                this.collection.pageCount, 
                'search/' + this.collection.state + '/' + this.collection.name
            );
        },

        // 显示面板
        showPanel: function(){
            $('.orange-nav-pills a[href="#meal_list"]').tab('show');
        },

        searchMeal: function(){
            var state = this.$('.state').val(),
                name = this.$('.name').val();

            router.navigate(String.format('/search/{0}/{1}/1', state, name), {trigger: true});
        },

        modifyMeal: function(sender){
            var target = $(sender.currentTarget),
                mealId = target.data('meal_id');

            router.navigate('/modify/' + mealId, {trigger: true});
        }
        
    });
    

    var ModifyView = Backbone.View.extend({
        
        el: '#modify_meal',

        template: _.template($('#modify_meal_template').html()),

        itemsView: null,

        events: {
            'click .save': 'save',
            'input .sale-price': 'calculateRate'
        },

        showPanel: function(){
            $('.orange-nav-pills a[href="#modify_meal"]').tab('show');
        },

        initStartDate: function(){
            $('#start_date_add').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2,
                autoclose: true
            });
        },

        initEndDate: function(){
            $('#end_date_add').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2,
                autoclose: true
            });
        },

        companyTextBox: null,
        initCompanyTextBox: function(name, value){
            var me = this;

            this.companyTextBox = $.Global.TextboxList.create('#company_modify', {
                max: 1,
                placeholder: '选择所属公司',
                url: '/admin/company/get_companys_by_name',
                param: 'company_name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.companyTextBox.add(name, value);
            }
        },

        initMealItems: function(items){
            this.itemsView = new $.Global.ComponentView.ItemsView({el: "#items_view_modify"});
            this.itemsView.render();
            this.itemsView.loadItems(items);
            this.calculateRate();
        },

        calculateRate: function(){
            this.itemsView.totalSalePrice = parseFloat(this.$('.sale-price').val());
            this.itemsView.calculatePrice();
        },

        render: function(data){
            this.$el.html(this.template(data));

            this.initCompanyTextBox(data.companyName, data.companyId);
            this.initStartDate();
            this.initEndDate();
            this.initMealItems(data.items);
        },

        modifyMeal: function(mealId){
            var me = this;

            this.collection.getOne(mealId, function(data){

                if(data){
                    me.render(data);
                    me.showPanel();
                } else {
                    setTimeout(function(){history.go(-1);}, 3000);
                    $.Global.Notice.ErrorTopNotice('没有找到对应的项目!');
                }
            });
        },

        save: function(){
            var mealId = this.$('form').data('meal_id'),
                me = this;

            if(!this.$('form').valid()){
                return;
            }

            me.collection.modifyMeal($.Global.Utils.formToDict(this.$('form')), function(data){
                if(data.errcode == "0"){
                    $.Global.Notice.SuccessTopNotice('操作成功');
                    router.navigate('modify/' + mealId, {'trigger': true});
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            })
        }

    });

    
    var AddView = Backbone.View.extend({
        el: 'body',

        template: _.template($('#add_meal_template').html()),

        itemsView: null,

        showPanel: function(){
            var me = this;

            me.render();
        },

        initStartDate: function(){
            $('#start_date_add').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2,
                autoclose: true
            });
        },

        initEndDate: function(){
            $('#end_date_add').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2,
                autoclose: true
            });
        },

        companyTextBox: null,
        initCompanyTextBox: function(name, value){
            var me = this;

            this.companyTextBox = $.Global.TextboxList.create('#company_add', {
                max: 1,
                placeholder: '选择所属公司',
                url: '/admin/company/get_companys_by_name',
                param: 'company_name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.companyTextBox.add(name, value);
            }
        },

        initMealItems: function(){
            this.itemsView = new $.Global.ComponentView.ItemsView({el: "#items_view_add"});
            this.itemsView.render();
        },

        render: function(){
            var me = this;

            $('#add_meal_modal').remove();
            
            $('body').append(this.template());

            // 绑定事件
            $('#add_meal_modal .cancel').bind('click', function(){
                history.go(-1);
            });
            $('#add_meal_modal .ok').bind('click', function(){
                me.addMeal();
            });
            $('#add_meal_modal .sale-price').on('input', function(){
                me.itemsView.totalSalePrice = parseFloat($(this).val());
                me.itemsView.calculatePrice();
            });
            
            $('#add_meal_modal').modal({'show': true, 'backdrop': 'static'});

            me.initCompanyTextBox();
            me.initStartDate();
            me.initEndDate();
            me.initMealItems();
        },

        addMeal: function(){
            var me = this;
            
            if(!$('#add_meal_modal form').valid()){
                return;
            }

            meals.addMeal($.Global.Utils.formToDict($('#add_meal_modal form')), function(data){
                if(data.errcode == "0"){
                    router.navigate('modify/' + data.errmsg, {trigger: true});
                    $('#add_meal_modal').modal('hide');
                    $.Global.Notice.SuccessTopNotice("操作成功");
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            })
        }

    });


    var Router = Backbone.Router.extend({
        routes: {
            "":                             "search",
            "search/(:state)/(:name)/:pageIndex":    "search",
            "modify/:mealId":               "modify",
            "add":                          "add"
        },

        // 获取推荐用户
        search: function(state, name, pageIndex){
            meals.search(state, name, pageIndex);
        },

        modify: function(mealId){
            modifyView.modifyMeal(mealId);
        },

        add: function(){
            addView.showPanel();
        }

    });

    var meals = new Meals(),
        listView = new ListView({collection: meals}),
        modifyView = new ModifyView({collection: meals}),
        addView = new AddView(),
        router = new Router();

    Backbone.history.start();
});

</script>
{% endblock %}

{% block admin_main %}
<ul class="nav nav-pills orange-nav-pills">
    <li class="active">
        <a href="#meal_list" data-toggle="pill">
            <i class="fa fa-list-ol pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">列表</span>
            <span class="hidden-xs">套餐列表</span>
        </a>
    </li>
    <li>
        <a href="#modify_meal" data-toggle="pill">
            <i class="fa fa-pencil-square-o pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">修改</span>
            <span class="hidden-xs">修改套餐信息</span>
        </a>
    </li>
    <li class="pull-right">
        <a href="#add">
            <i class="fa fa-plus-circle pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">添加</span>
            <span class="hidden-xs">添加套餐</span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <!-- 用户列表 -->
    <div class="tab-pane fade pt-15 in active" id="meal_list">
        <form action="." class="form-inline" onsubmit="javascript: return false;">
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">状态</span>
                <select class="form-control state">
                    {% for state in all_states %}
                    <option value="{{state.value}}" {% if state.value == 1 %}selected{% endif %} >{{state.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">套餐名称</span>
                <input type="text" class="form-control name" placeholder="" />
                <span class="input-group-btn">
                    <button class="btn btn-default search bgc-eeeeee" type="submit">查询</button>
                </span>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>套餐名称</th>
                    <th class="hidden-xs">所属公司</th>
                    <th class="hidden-xs">开始时间</th>
                    <th class="hidden-xs">结束时间</th>
                    <th>价格</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm qx-pagination">
                
            </ul>
        </div>
    </div>

    <!-- 修改用户信息 -->
    <div class="tab-pane fade pt-15" id="modify_meal">
        
    </div>
</div>

<script type="text/template" id="meal_list_template">
<% _.each(meals, function(meal){ %>
    <tr class="pointer" data-meal_id="<%= meal.mealId %>">
        <td><%= meal.num %></td>
        <td><%= meal.name %></td>
        <td class="hidden-xs"><%= meal.companyName %></td>
        <td class="hidden-xs"><%= meal.startDate %></td>
        <td class="hidden-xs"><%= meal.endDate %></td>
        <td><%= meal.price %></td>
        <td>
        <% if(meal.state == 1){ %>
            <span class="fa fa-check co-3B99FC"></span>
        <% } else { %>
            <span class="fa fa-times co-C33333"></span>
        <% } %>
        </td>
    </tr>
<% }) %>
</script>

<script type="text/template" id="modify_meal_template">
<form class="form-horizontal" data-meal_id='<%= mealId %>' role="form" method="post" action="">
    <input type="hidden" name="meal_id" value="<%= mealId %>" />
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">名称</label>
        <div class="col-sm-5">
            <input type="text" required class="form-control" name='name' value='<%= name %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">所属公司</label>
        <div class="col-sm-5">
            <input type="text" id="company_modify" class="form-control" name='company' value=''>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">开始日期</label>
        <div class="col-sm-2">
            <input type="text" id="start_date_modify" required class="form-control date" name='start_date' value='<%= startDate %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">结束日期</label>
        <div class="col-sm-2">
            <input type="text" id="end_date_modify" required class="form-control date" name='end_date' value='<%= endDate %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">描述</label>
        <div class="col-sm-6">
            <textarea name="des" rows="6" class="form-control" placeholder=""><%= des %></textarea>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">套餐项目</label>
        <div class="col-sm-6" id="items_view_modify">
            
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">价格</label>
        <div class="col-sm-2">
            <input type="text" required class="form-control sale-price" name='price' value='<%= price %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">状态</label>
        <div class="col-sm-2">
            <select name="state" class="form-control">
                {% for state in states %}
                <option value="{{state.value}}" <% if(state == {{state.value}}){ %>selected<% } %> >{{state.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary save">提交你的修改</button>
        </div>
    </div>
</form>
</script>

<script type="text/template" id="add_meal_template">
<div class="modal fade" id="add_meal_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-5">
                <h4 class="modal-title">添加套餐</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="post" action="">
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-8">
                            <input type="text" required class="form-control" name='name' value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">所属公司</label>
                        <div class="col-sm-8">
                            <input type="text" id="company_add" class="form-control" name='company' value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">开始日期</label>
                        <div class="col-sm-3">
                            <input type="text" id="start_date_add" required class="form-control date" name='start_date' value='{{start_date}}'>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">结束日期</label>
                        <div class="col-sm-3">
                            <input type="text" id="end_date_add" required class="form-control date" name='end_date' value='{{end_date}}'>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-10">
                            <textarea name="des" rows="6" class="form-control" placeholder=""></textarea>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">套餐项目</label>
                        <div class="col-sm-10" id="items_view_add">
                            
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0">
                        <label class="col-sm-2 control-label">价格</label>
                        <div class="col-sm-3">
                            <input type="text" required class="form-control sale-price" name='price' value='0'>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary ok">确定</button>
            </div>
        </div>
    </div>
</div>
</script>
{% endblock %}