{% extends "pc/base/base_admin.html" %}
{% block title %} 管理后台导航 {% endblock %}

{% block base_css %}
<style type="text/css">
body{
    background-color: #180551;
}
.nav-square{
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}
</style>
{% endblock %}

{% block base_js %}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    /*
        微信接口
    */
    wx.config({
        appId: 'wxd6922b078dff1607',
        timestamp: '{{sign_dict.timestamp}}',
        nonceStr: '{{sign_dict.nonceStr}}',
        signature: '{{sign_dict.signature}}',
        jsApiList: ['scanQRCode']
    });

    wx.ready(function(){
        
        $('.scanQRCode').on('click', function(){
            wx.scanQRCode();
        });
        
    });

    $('.admin').on('click', function(){
        window.location.href = "/admin";
    });
    $('.company').on('click', function(){
        window.location.href = "/company";
    });
});
</script>
{% endblock %}

{% block base_container %}
<div class="container">
    <div class="row" style="padding-top: 40%;">

        <div class="col-xs-6 nav-square pl-15">
            <div class="col-xs-12 scanQRCode" style="background-color: #D85535;">
                <div class="text-center pt-20 pb-20">
                    <i class="fa fa-qrcode f50"></i>
                </div>
                <div class="pb-5">
                    扫一扫
                </div>
            </div>
        </div>

        <div class="col-xs-6 nav-square pl-0">
            <div class="col-xs-12 admin" style="background-color: #145BBE;">
                <div class="text-center pt-20 pb-20">
                    <i class="fa fa-cogs f50"></i>
                </div>
                <div class="pb-5">
                    后台管理平台
                </div>
            </div>
        </div>

        <div class="col-xs-offset-3 col-xs-6 nav-square pl-0">
            <div class="col-xs-12 company" style="background-color: #19BA40;">
                <div class="text-center pt-20 pb-20">
                    <i class="fa fa-cog f50"></i>
                </div>
                <div class="pb-5">
                    公司管理平台
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}