{% extends "pc/admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}订单管理{% endblock %}
{% block admin_title %}订单管理{% endblock %}
{% block admin_title_m %}订单管理{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/autocomplete/styles.css">
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.autocomplete.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var Order = Backbone.Model.extend({
        defaults: {
            
        }
    });

    var Orders = Backbone.Collection.extend({
        model: Order,

        _modelMaps: {
            'num': 'num',
            'orderId': 'order_id',
            'mealId': 'meal_id',
            'mealName': 'meal_name',
            'companyId': 'company_id',
            'companyName': 'company_name',
            'orderNo': 'order_no',
            'createOperatorId': 'create_operator_id',
            'createOperatorName': 'create_operator_name',
            'createTime': 'create_time',
            'distributeOperatorId': 'distribute_operator_id',
            'distributeOperatorName': 'distribute_operator_name',
            'distributeTime': 'distribute_time',
            'confirmOperatorId': 'confirm_operator_id',
            'confirmOperatorName': 'confirm_operator_name',
            'confirmTime': 'confirm_time',
            'totalPrice': 'total_price',
            'costPrice': 'cost_price',
            'note': 'note',
            'rate': 'rate',
            'isTest': 'is_test',
            'items': 'items',
            'state': 'state'
        },

        search: function(startDate, endDate, state, orderNo, pageIndex){
            var me = this,
                startDate = startDate || '',
                endDate = endDate || '',
                state = state || '-2',
                orderNo = orderNo || '',
                pageIndex = pageIndex || 1;

            ajaxSend(
                "/admin/order/search", 
                {'state': state, 'start_date': startDate, 'end_date': endDate, 'order_no': orderNo, 'page_index': pageIndex}, 
                function(data){
                    
                    me.pageIndex = pageIndex;
                    me.pageCount = data.page_count;
                    me.startDate = startDate;
                    me.endDate = endDate;
                    me.state = state;
                    me.orderNo = orderNo;

                    me.reset($.Global.Utils.dictMapParse(data.data, me._modelMaps));
                }
            );
        },

        getOne: function(orderId, callback){
            var me = this;

            ajaxSend(
                "/admin/order/get_order_by_id", 
                {'order_id': orderId},
                function(data){
                    if(callback){
                        callback($.Global.Utils.dictMap(data, me._modelMaps));
                    }
                }
            );
        },

        distributeOrder: function(orderId, callback){
            var me = this;

            ajaxSend(
                "/admin/order/distribute_order", 
                {'order_id': orderId},
                function(data){
                    if(callback){
                        callback(data);
                    }
                }
            );
        },

        confirmOrder: function(orderId, callback){
            var me = this;

            ajaxSend(
                "/admin/order/confirm_order", 
                {'order_id': orderId},
                function(data){
                    if(callback){
                        callback(data);
                    }
                }
            );
        },

        dropOrder: function(orderId, callback){
            var me = this;

            ajaxSend(
                "/admin/order/drop_order", 
                {'order_id': orderId},
                function(data){
                    if(callback){
                        callback(data);
                    }
                }
            );
        },

        addOrder: function(data, callback){

            ajaxSend(
                "/admin/order/add_order", 
                $.param(data, true),
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        },

        modifyOrder: function(data, callback){

            ajaxSend(
                "/admin/order/modify_order", 
                $.param(data, true),
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        },

        getMeal: function(meal_id, callback){
            ajaxSend(
                "/admin/meal/get_meal_by_id", 
                {'meal_id': meal_id},
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        }

    });
    
    var ListView = Backbone.View.extend({
        el: '#order_list',

        template: _.template($('#order_list_template').html()),

        pagination: new $.Global.Pagination.PaginationView(),

        events: {
            'click .search': 'searchOrder',
            'click .pointer': 'modifyOrder'
        },

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        render: function(){
            var data = this.collection.toJSON();
            
            this.showPanel();
            this.$('tbody').html(this.template({'orders': data}));
            this.pagination.render(
                this.collection.pageIndex||1, 
                this.collection.pageCount, 
                String.format('search/{0}/{1}/{2}/{3}', this.collection.startDate, this.collection.endDate, this.collection.state, this.collection.orderNo)
            );
        },

        // 显示面板
        showPanel: function(){
            $('.orange-nav-pills a[href="#order_list"]').tab('show');
        },

        searchOrder: function(){
            var startDate = this.$('#start_date_search').val(),
                endDate = this.$('#end_date_search').val(),
                state = this.$('.state').val(),
                orderNo = this.$('.order-no').val();

            router.navigate(String.format('/search/{0}/{1}/{2}/{3}/1', startDate, endDate, state, orderNo), {trigger: true});
        },

        modifyOrder: function(sender){
            var target = $(sender.currentTarget),
                orderId = target.data('order_id'),
                mealId = target.data('meal_id'),
                mealName = target.data('meal_name')

            if(orderId){
                router.navigate('/modify/' + orderId, {trigger: true});
            } else {
                router.navigate('/add/' + mealId + '/' + mealName, {trigger: true});
            }
            
        }
        
    });
    

    var ModifyView = Backbone.View.extend({
        
        el: '#modify_order',

        template: _.template($('#modify_order_template').html()),
        detail_template: _.template($('#order_detail_template').html()),

        itemsView: null,

        events: {
            'click .save': 'saveOrder',
            'click .distribute': 'distributeOrder',
            'click .confirm': 'confirmOrder',
            'click .drop': 'dropOrder'
        },

        showPanel: function(){
            $('.orange-nav-pills a[href="#modify_order"]').tab('show');
        },

        initMealItems: function(items){
            this.itemsView = new $.Global.ComponentView.ItemsView({el: "#items_view_modify"});
            this.itemsView.render();
            this.itemsView.loadItems(items);
            this.calculateRate();
        },

        calculateRate: function(){
            this.itemsView.totalSalePrice = parseFloat(this.$('.order-total-price').val());
            this.itemsView.calculatePrice();
            console.log(parseFloat(this.$('.total-price').val()));
        },

        render: function(data){
            // 准备中的订单能修改
            if(data.state==1){
                this.$el.html(this.template(data));
                this.initMealItems(data.items);
            } else {
                this.$el.html(this.detail_template(data));
            }
        },

        modifyOrder: function(orderId){
            var me = this;

            this.collection.getOne(orderId, function(data){

                if(data){
                    me.render(data);
                    me.showPanel();
                } else {
                    setTimeout(function(){history.go(-1);}, 3000);
                    $.Global.Notice.ErrorTopNotice('没有找到对应的项目!');
                }
            });
        },

        saveOrder: function(sender){
            var orderId = this.$('form').data('order_id'),
                target = $(sender.currentTarget),
                me = this;

            if(!this.$('form').valid()){
                return;
            }

            g_ajax_processing_obj_id = target.setUUID().attr('id');
            me.collection.modifyOrder($.Global.Utils.formToDict(this.$('form')), function(data){
                if(data.errcode == "0"){
                    $.Global.Notice.SuccessTopNotice('操作成功');
                    // router.navigate('modify/' + orderId, {'trigger': true});
                    me.modifyOrder(orderId);
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            })
        },

        distributeOrder: function(sender){
            var orderId = this.$('form').data('order_id'),
                target = $(sender.currentTarget),
                me = this;

            if(!confirm('确认配送订单?')){
                return;
            }

            g_ajax_processing_obj_id = target.setUUID().attr('id');
            me.collection.distributeOrder(orderId, function(data){
                if(data.errcode == "0"){
                    $.Global.Notice.SuccessTopNotice('操作成功');
                    me.modifyOrder(orderId);
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            });
        },

        confirmOrder: function(sender){
            var orderId = this.$('form').data('order_id'),
                target = $(sender.currentTarget),
                me = this;

            if(!confirm('确认完成订单?')){
                return;
            }

            g_ajax_processing_obj_id = target.setUUID().attr('id');
            me.collection.confirmOrder(orderId, function(data){
                if(data.errcode == "0"){
                    $.Global.Notice.SuccessTopNotice('操作成功');
                    me.modifyOrder(orderId);
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            });
        },

        dropOrder: function(sender){
            var orderId = this.$('form').data('order_id'),
                target = $(sender.currentTarget),
                me = this;

            if(!confirm('确认作废订单?')){
                return;
            }

            g_ajax_processing_obj_id = target.setUUID().attr('id');
            me.collection.dropOrder(orderId, function(data){
                if(data.errcode == "0"){
                    $.Global.Notice.SuccessTopNotice('操作成功');
                    me.modifyOrder(orderId);
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            });
        }

    });

    
    var AddView = Backbone.View.extend({
        el: 'body',

        template: _.template($('#add_order_template').html()),

        itemsView: null,

        showPanel: function(mealId, mealName){
            var me = this;

            me.render(mealId, mealName);
        },

        mealTextBox: null,
        initMealTextBox: function(name, value){
            var me = this;

            me.mealTextBox = $.Global.TextboxList.create('#meal_add', {
                max: 1,
                placeholder: '选择套餐',
                url: '/admin/meal/get_meals_by_name',
                param: 'meal_name',
                loadPlaceholder: '正在加载...'
            });
            
             // 选择套餐之后导入套餐项目
            me.mealTextBox.target.onAdd = function(target){
                var meal_id = target.getValue()[0];

                me.loadMealItems(meal_id);
            }

            if(value){
                me.mealTextBox.add(name, value);
            }
        },

        // 加载套餐下的项目
        loadMealItems: function(meal_id){
            
            var me = this;

            orders.getMeal(meal_id, function(data){
                me.itemsView.loadItems(data.items, true);
                me.$('#meal_id_add').val(meal_id);
                me.$('.total-price').val(data.price);

                // 计算毛利
                me.itemsView.totalSalePrice = parseFloat(me.$('.order-total-price').val());
                me.itemsView.calculatePrice();
            });
        },

        initOrderItems: function(){
            this.itemsView = new $.Global.ComponentView.ItemsView({el: "#items_view_add"});
            this.itemsView.render();
        },

        render: function(mealId, mealName){
            var me = this;

            $('#add_order_modal').remove();
            
            $('body').append(this.template());

            // 绑定事件
            $('#add_order_modal .cancel').bind('click', function(){
                history.go(-1);
            });
            $('#add_order_modal .ok').bind('click', function(){
                me.addOrder();
            });
            $('#add_order_modal .total-price').on('input', function(){
                me.itemsView.totalSalePrice = parseFloat($(this).val());
                me.itemsView.calculatePrice();
            });
            
            $('#add_order_modal').modal({'show': true, 'backdrop': 'static'});

            me.initMealTextBox(mealName, mealId);
            me.initOrderItems();
            
        },

        addOrder: function(){
            var me = this;
            
            if(!$('#add_order_modal form').valid()){
                return;
            }

            g_ajax_processing_obj_id = $("#add_order_modal .ok").setUUID().attr('id');
            orders.addOrder($.Global.Utils.formToDict($('#add_order_modal form')), function(data){
                if(data.errcode == "0"){
                    router.navigate('modify/' + data.errmsg, {trigger: true});
                    $('#add_order_modal').modal('hide');
                    $.Global.Notice.SuccessTopNotice("操作成功");
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            })
        }

    });


    var Router = Backbone.Router.extend({
        routes: {
            "":                             "search",
            "search/(:startDate)/(:endDate)/(:state)/(:orderNo)/:pageIndex":    "search",
            "modify/:orderId":              "modify",
            "add/(:mealId)/(:mealName)":                          "add"
        },

        // 获取推荐用户
        search: function(startDate, endDate, state, orderNo, pageIndex){
            orders.search(startDate, endDate, state, orderNo, pageIndex);
        },

        modify: function(orderId){
            modifyView.modifyOrder(orderId);
        },

        add: function(mealId, mealName){
            addView.showPanel(mealId, mealName);
        }

    });

    var orders = new Orders(),
        listView = new ListView({collection: orders}),
        modifyView = new ModifyView({collection: orders}),
        addView = new AddView(),
        router = new Router();

    Backbone.history.start();

    $('#start_date_search').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });

    $('#end_date_search').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });
});

</script>
{% endblock %}

{% block admin_main %}
<ul class="nav nav-pills orange-nav-pills">
    <li class="active">
        <a href="#order_list" data-toggle="pill">
            <i class="fa fa-list-ol pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">列表</span>
            <span class="hidden-xs">订单列表</span>
        </a>
    </li>
    <li>
        <a href="#modify_order" data-toggle="pill">
            <i class="fa fa-pencil-square-o pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">修改</span>
            <span class="hidden-xs">修改订单信息</span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <!-- 用户列表 -->
    <div class="tab-pane fade pt-15 in active" id="order_list">
        <form action="." class="form-inline" onsubmit="javascript: return false;">
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">开始日期</span>
                <input type="text" class="form-control" id="start_date_search" value="{{start_date}}"  />
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">结束日期</span>
                <input type="text" class="form-control" id="end_date_search" value="{{start_date}}"  />
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">订单状态</span>
                <select class="form-control state">
                    {% for state in all_states %}
                    <option value="{{state.value}}" {% if state.value == -2 %}selected{% endif %} >{{state.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">订单号</span>
                <input type="text" class="form-control order-no" placeholder="" />
                <span class="input-group-btn">
                    <button class="btn btn-default search bgc-eeeeee" type="submit">查询</button>
                </span>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="hidden-xs">订单号</th>
                    <th>套餐名称</th>
                    <th class="hidden-xs">所属公司</th>
                    <th class="hidden-xs">创建时间</th>
                    <th>价格</th>
                    <th>试吃</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm qx-pagination">
                
            </ul>
        </div>
    </div>

    <!-- 修改用户信息 -->
    <div class="tab-pane fade pt-15" id="modify_order">
        
    </div>
</div>

<script type="text/template" id="order_list_template">
<% _.each(orders, function(order){ %>
    <tr class="pointer <% if(order.createTime.substring(0,10) == '{{today_str}}'){ %>co-1DABD9<% } %>" data-order_id="<%= order.orderId %>" data-meal_id="<%= order.mealId %>" data-meal_name="<%= order.mealName %>">
        <td><%= order.num %></td>
        <td class="hidden-xs"><%= order.orderNo %></td>
        <td><%= order.mealName %></td>
        <td class="hidden-xs"><%= order.companyName %></td>
        <td class="hidden-xs"><%= order.createTime %></td>
        <td><%= order.totalPrice %></td>
        <td>
        <% if(order.isTest){ %>
                <span class="fa fa-check co-3B99FC"></span>
            <% } else { %>
                <!-- <span class="fa fa-times co-C33333"></span> -->
            <% } %>
        </td>
        <td>
        {% for state in all_states %}
            <% if({{state.value}} == order.state){ %>{{state.name}}<% } %>
        {% endfor %}
        </td>
    </tr>
<% }) %>
</script>

<script type="text/template" id="modify_order_template">
<form class="form-horizontal" data-order_id='<%= orderId %>' role="form" method="post" action="">
    <input type="hidden" name="order_id" value="<%= orderId %>" />
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单号</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= orderNo %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">套餐</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= mealName %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <input type="hidden" id="meal_id_add" value="" />
        <label class="col-sm-2 control-label">套餐项目</label>
        <div class="col-sm-6" id="items_view_modify">
            
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">价格</label>
        <div class="col-sm-3">
            <input type="text" required class="form-control order-total-price" name='total_price' value='<%= totalPrice %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">描述</label>
        <div class="col-sm-6">
            <textarea name="note" rows="6" class="form-control" placeholder=""><%= note %></textarea>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0">
        <label class="col-sm-2 control-label">是否试吃</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="is_test" value="0" <% if(!isTest){ %>checked<% } %> > 否
            </label>
            <label class="radio-inline">
                <input type="radio" name="is_test" value="1" <% if(isTest){ %>checked<% } %> > 是
            </label>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0">
        <div class="col-sm-12">
            <% if(state == 1){ %>
            <button type="button" class="btn btn-info save">修改订单</button>
            <button type="button" class="btn btn-primary distribute ml-25">配送订单</button>
            <% } %>
            <% if(state == 2){ %>
            <button type="button" class="btn btn-success confirm ml-25">完成订单</button>
            <% } %>
            <% if(state == 1 || state == 2){ %>
            <button type="button" class="btn btn-danger drop ml-25">作废订单</button>
            <% } %>
            <a target="_blank" href="/admin/order/print_order?order_id=<%= orderId %>" class="btn btn-info print-order ml-25">打印配送单</a>
        </div>
    </div>
</script>

<script type="text/template" id="order_detail_template">
<form class="form-horizontal" data-order_id='<%= orderId %>' role="form" method="post" action="">
    <input type="hidden" name="order_id" value="<%= orderId %>" />
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单号</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= orderNo %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">套餐</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= mealName %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">所属公司</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= companyName %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单价格</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= totalPrice %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">成本价格</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= costPrice %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单毛利</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= rate %>%</p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单创建人</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= createOperatorName %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单创建时间</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= createTime %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单配送人</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= distributeOperatorName %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单配送时间</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= distributeTime %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单确认人</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= confirmOperatorName %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单确认时间</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= confirmTime %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">是否试吃</label>
        <div class="col-sm-5">
            <p class="form-control-static"><% if(isTest == 1){ %>是<% } else { %>否<% } %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">备注</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= note %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">状态</label>
        <div class="col-sm-2">
            <p class="form-control-static">
                {% for state in states %}
                <% if(state == {{state.value}}){ %>{{state.name}}<% } %>
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0">
        <div class="col-sm-12">
            <% if(state == 1){ %>
            <button type="button" class="btn btn-primary distribute">配送订单</button>
            <% } %>
            <% if(state == 2){ %>
            <button type="button" class="btn btn-success confirm ml-25">完成订单</button>
            <% } %>
            <% if(state == 1 || state == 2){ %>
            <button type="button" class="btn btn-danger drop ml-25">作废订单</button>
            <% } %>
            <a target="_blank" href="/admin/order/print_order?order_id=<%= orderId %>" class="btn btn-info print-order ml-25">打印配送单</a>
        </div>
    </div>
</form>
</script>

<script type="text/template" id="add_order_template">
<div class="modal fade" id="add_order_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-5">
                <h4 class="modal-title">添加订单</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="post" action="">
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">套餐</label>
                        <div class="col-sm-10">
                            <input type="text" id="meal_add" class="form-control" name='meal' value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <input type="hidden" id="meal_id_add" value="" />
                        <label class="col-sm-2 control-label">套餐项目</label>
                        <div class="col-sm-10" id="items_view_add">
                            
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">价格</label>
                        <div class="col-sm-3">
                            <input type="text" required class="form-control order-total-price" name='total_price' value='0'>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-10">
                            <textarea name="note" rows="6" class="form-control" placeholder=""></textarea>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0">
                        <label class="col-sm-2 control-label">是否试吃</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="is_test" value="0" checked> 否
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="is_test" value="1"> 是
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary ok">确定</button>
            </div>
        </div>
    </div>
</div>
</script>
{% endblock %}