{% extends "pc/admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}订单列表{% endblock %}
{% block admin_title %}订单列表{% endblock %}
{% block admin_title_m %}订单列表{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/autocomplete/styles.css">
<style type="text/css">
@media (min-width: 768px){
    .form-inline .input-group>.form-control {
        /*width: 110px;*/
    }

    #map_order_modal .modal-dialog {
         width: 98%; 
        margin: 10px auto;
    }
}

#order_list>ul{
    overflow-y: auto;
}
#order_list_switch{
    width: 40px; 
    height: 40px; 
    left: 0px; 
    top: -50px; 
    background-color: #ffffff; 
    position: absolute; 
    box-shadow: 0 2px 6px #668A9C; 
    padding: 10px 5px;
    cursor: pointer;
}
#order_count{
    width: 30px; 
    height: 20px; 
    font-weight: bold;
    display: inline-block;
    text-align: center;
    color: #08c;
}
.order-list-item:hover{
    background-color: #eee;
}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.autocomplete.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=o4O12xsCGirt60xLVt1GLTI6"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var Order = Backbone.Model.extend({
        defaults: {
            
        }
    });

    var Orders = Backbone.Collection.extend({
        model: Order,

        _modelMaps: {
            'num': 'num',
            'orderId': 'order_id',
            'mealId': 'meal_id',
            'mealName': 'meal_name',
            'companyId': 'company_id',
            'companyName': 'company_name',
            'companyCombineName': 'company_combine_name',
            'companyAddr': 'company_addr',
            'companyLogo': 'company_logo',
            'companyTel': 'company_tel',
            'longitude': 'longitude',
            'latitude': 'latitude',
            'orderNo': 'order_no',
            'createOperatorId': 'create_operator_id',
            'createOperatorName': 'create_operator_name',
            'createTime': 'create_time',
            'distributeOperatorId': 'distribute_operator_id',
            'distributeOperatorName': 'distribute_operator_name',
            'distributeTime': 'distribute_time',
            'confirmOperatorId': 'confirm_operator_id',
            'confirmOperatorName': 'confirm_operator_name',
            'confirmTime': 'confirm_time',
            'totalPrice': 'total_price',
            'costPrice': 'cost_price',
            'personCount': 'person_count',
            'note': 'note',
            'rate': 'rate',
            'isTest': 'is_test',
            'items': 'items',
            'owner_id': 'owner_id',
            'owner_nick': 'owner_nick',
            'state': 'state'
        },

        search: function(startDate, endDate, state, company, isTest, owner, pageIndex, callback){
            var me = this,
                startDate = startDate || '{{start_date}}',
                endDate = endDate || '{{today_str}}',
                state = state || '-2',
                company = company || '',
                isTest = isTest || '0',
                owner = owner || '',
                pageIndex = pageIndex || 1;

            ajaxSend(
                "/admin/order/search", 
                {'state': state, 'start_date': startDate, 'end_date': endDate, 'company': company, 'is_test': isTest, 'owner': owner, 'page_index': pageIndex}, 
                function(data){
                    
                    me.pageIndex = pageIndex;
                    me.pageCount = data.page_count;
                    me.startDate = startDate;
                    me.endDate = endDate;
                    me.state = state;
                    me.company = company;
                    me.isTest = isTest;
                    me.owner = owner;
                    me.sumPrice = data.sum_price;

                    me.reset($.Global.Utils.dictMapParse(data.data, me._modelMaps));

                    if(callback){
                        callback($.Global.Utils.dictMapParse(data.data, me._modelMaps));
                    }

                }
            );
        },

        getOne: function(orderId, callback){
            var me = this;

            ajaxSend(
                "/admin/order/get_order_by_id", 
                {'order_id': orderId},
                function(data){
                    if(callback){
                        callback($.Global.Utils.dictMap(data, me._modelMaps));
                    }
                }
            );
        },

        distributeOrder: function(orderId, callback){
            var me = this;

            ajaxSend(
                "/admin/order/distribute_order", 
                {'order_id': orderId},
                function(data){
                    if(callback){
                        callback(data);
                    }
                }
            );
        },

        confirmOrder: function(orderId, callback){
            var me = this;

            ajaxSend(
                "/admin/order/confirm_order", 
                {'order_id': orderId},
                function(data){
                    if(callback){
                        callback(data);
                    }
                }
            );
        },

        dropOrder: function(orderId, callback){
            var me = this;

            ajaxSend(
                "/admin/order/drop_order", 
                {'order_id': orderId},
                function(data){
                    if(callback){
                        callback(data);
                    }
                }
            );
        },

        addOrder: function(data, callback){

            ajaxSend(
                "/admin/order/add_order", 
                $.param(data, true),
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        },

        modifyOrder: function(data, callback){

            ajaxSend(
                "/admin/order/modify_order", 
                $.param(data, true),
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        },

        getMeal: function(meal_id, callback){
            ajaxSend(
                "/admin/meal/get_meal_by_id", 
                {'meal_id': meal_id},
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        },

        modifyOwner: function(orderId, owner, callback){
            ajaxSend(
                "/admin/order/modify_owner", 
                {'order_id': orderId, 'owner': owner},
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        }

    });
    
    var ListView = Backbone.View.extend({
        el: '#order_list',

        template: _.template($('#order_list_template').html()),

        pagination: new $.Global.Pagination.PaginationView(),

        events: {
            'click .search': 'searchOrder',
            'click .pointer': 'modifyOrder',
            'click .batch-print': 'batchPrint'
        },

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        render: function(){
            var data = this.collection.toJSON();
            
            this.showPanel();
            this.$('tbody').html(this.template({'orders': data}));
            this.pagination.render(
                this.collection.pageIndex||1, 
                this.collection.pageCount, 
                String.format(
                    'search/{0}/{1}/{2}/{3}/{4}/{5}', 
                    this.collection.startDate, 
                    this.collection.endDate, 
                    this.collection.state, 
                    this.collection.company, 
                    this.collection.isTest,
                    this.collection.owner
                )
            );

            this.$('.sum-price').html(this.collection.sumPrice);
            this.$('#start_date_search').val(this.collection.startDate);
            this.$('#end_date_search').val(this.collection.endDate);
            this.$('.state').val(this.collection.state);
            this.$('.company').val(this.collection.company);
            this.$('.is-test').attr('checked', this.collection.isTest==1 ? true : false);
            this.$('.owner').val(this.collection.owner);
        },

        // 显示面板
        showPanel: function(){
            $('.orange-nav-pills a[href="#order_list"]').tab('show');
        },

        getSearchParam: function(){
            return {
                startDate: this.$('#start_date_search').val(),
                endDate: this.$('#end_date_search').val(),
                state: this.$('.state').val(),
                company: this.$('.company').val(),
                isTest: this.$('.is-test').attr('checked') ? 1 : 0,
                owner: this.$('.owner').val()
            }
        },

        searchOrder: function(){
            var param = this.getSearchParam();

            router.navigate(
                String.format(
                    '/search/{0}/{1}/{2}/{3}/{4}/{5}/1', 
                    param.startDate, 
                    param.endDate, 
                    param.state, 
                    param.company, 
                    param.isTest,
                    param.owner
                ), 
                {trigger: true}
            );
        },

        modifyOrder: function(sender){
            var target = $(sender.currentTarget),
                orderId = target.data('order_id'),
                mealId = target.data('meal_id'),
                mealName = target.data('meal_name')

            if(orderId){
                router.navigate('/modify/' + orderId, {trigger: true});
            } else {
                router.navigate('/add/' + mealId + '/' + mealName, {trigger: true});
            }
            
        },

        // 批量打印
        batchPrint: function(){
            
            $.map(this.$('.pointer'), function(per){
                var orderId = $(per).data('order_id');
                window.open('/admin/order/print_order?order_id=' + orderId);
            });
            
        }
        
    });
    

    var ModifyView = Backbone.View.extend({
        
        el: '#modify_order',

        template: _.template($('#modify_order_template').html()),
        detail_template: _.template($('#order_detail_template').html()),

        itemsView: null,

        events: {
            'click .save': 'saveOrder',
            'click .distribute': 'distributeOrder',
            'click .confirm': 'confirmOrder',
            'click .drop': 'dropOrder',
            'input .order-total-price': 'calculateRate',
            'click .modify-owner': 'modifyOwner'
        },

        showPanel: function(){
            $('.orange-nav-pills a[href="#modify_order"]').tab('show');
        },

        ownerTextBox: null,
        initOwnerTextBox: function(name, value){
            var me = this;

            this.ownerTextBox = $.Global.TextboxList.create('#owner_modify', {
                max: 1,
                placeholder: '选择归属人',
                url: '/admin/user/get_user_by_nick',
                param: 'nick',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.ownerTextBox.add(name, value);
            }
            
        },

        initMealItems: function(items){
            this.itemsView = new $.Global.ComponentView.ItemsView({el: "#items_view_modify"});
            this.itemsView.render();
            this.itemsView.loadItems(items);
            this.calculateRate();
        },

        calculateRate: function(){
            this.itemsView.totalSalePrice = parseFloat(this.$('.order-total-price').val());
            this.itemsView.calculatePrice();
        },

        render: function(data){
            // 准备中的订单能修改
            if(data.state==1){
                this.$el.html(this.template(data));
                this.initMealItems(data.items);
                this.initOwnerTextBox(data.owner_nick, data.owner_id);
            } else {
                this.$el.html(this.detail_template(data));
                this.initOwnerTextBox(data.owner_nick, data.owner_id);
            }
        },

        modifyOrder: function(orderId){
            var me = this;

            this.collection.getOne(orderId, function(data){

                if(data){
                    me.render(data);
                    me.showPanel();
                } else {
                    setTimeout(function(){history.go(-1);}, 3000);
                    $.Global.Notice.ErrorTopNotice('没有找到对应的项目!');
                }
            });
        },

        saveOrder: function(sender){
            var orderId = this.$('form').data('order_id'),
                target = $(sender.currentTarget),
                me = this;

            if(!this.$('form').valid()){
                return;
            }

            g_ajax_processing_obj_id = target.setUUID().attr('id');
            me.collection.modifyOrder($.Global.Utils.formToDict(this.$('form')), function(data){
                if(data.errcode == "0"){
                    $.Global.Notice.SuccessTopNotice('操作成功');
                    // router.navigate('modify/' + orderId, {'trigger': true});
                    me.modifyOrder(orderId);
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            })
        },

        distributeOrder: function(sender){
            var orderId = this.$('form').data('order_id'),
                target = $(sender.currentTarget),
                me = this;

            if(!confirm('确认配送订单?')){
                return;
            }

            g_ajax_processing_obj_id = target.setUUID().attr('id');
            me.collection.distributeOrder(orderId, function(data){
                if(data.errcode == "0"){
                    $.Global.Notice.SuccessTopNotice('操作成功');
                    me.modifyOrder(orderId);
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            });
        },

        confirmOrder: function(sender){
            var orderId = this.$('form').data('order_id'),
                target = $(sender.currentTarget),
                me = this;

            if(!confirm('确认完成订单?')){
                return;
            }

            g_ajax_processing_obj_id = target.setUUID().attr('id');
            me.collection.confirmOrder(orderId, function(data){
                if(data.errcode == "0"){
                    $.Global.Notice.SuccessTopNotice('操作成功');
                    me.modifyOrder(orderId);
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            });
        },

        dropOrder: function(sender){
            var orderId = this.$('form').data('order_id'),
                target = $(sender.currentTarget),
                me = this;

            if(!confirm('确认作废订单?')){
                return;
            }

            g_ajax_processing_obj_id = target.setUUID().attr('id');
            me.collection.dropOrder(orderId, function(data){
                if(data.errcode == "0"){
                    $.Global.Notice.SuccessTopNotice('操作成功');
                    me.modifyOrder(orderId);
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            });
        },

        // 修改订单归属人
        modifyOwner: function(sender){
            var me = this,
                orderId = me.$('form').data('order_id'),
                temp = me.ownerTextBox.getValues();

            if(temp){
                me.collection.modifyOwner(orderId, temp[0], function(data){
                    if(data.errcode == "0"){
                        $.Global.Notice.SuccessTopNotice('操作成功');
                        me.modifyOrder(orderId);
                    } else {
                        $.Global.Notice.ErrorTopNotice(data.errmsg);
                    }
                });
            }
            
        }

    });

    
    var MapView = Backbone.View.extend({
        el: 'body',

        template: _.template($('#map_order_template').html()),

        events: {
            'mouseenter .order-list-item': '_panToOrder',
            'click #order_list_switch': '_toggleSwitch',
        },

        showPanel: function(mealId, mealName){
            var me = this;

            me.render(mealId, mealName);
        },

        // 百度地图对象
        _map: null,

        // 初始化地图
        _initMap: function(){
            this._map = new BMap.Map("order_map");
            // this._map.centerAndZoom("成都", 13);
            this._map.centerAndZoom(new BMap.Point(104.06065,30.595477), 13);
            this._map.addControl(
                new BMap.NavigationControl({
                    anchor: BMAP_ANCHOR_BOTTOM_RIGHT
                })
            );
            this._map.enableScrollWheelZoom(true);
        },

        // 百度地图弹出层样式
        _getInfoContent: function(companyName, companyAddr, companyTel, companyLogo){
            return [
                '<div class="row">',
                    '<div class="col-md-9">',
                        '<div class="fb f16">'+companyName+'</div>',
                        '<div class="pt-10">地址：'+companyAddr+'</div>',
                        '<div class="pt-5">电话：'+companyTel+'</div>',
                    '</div>',
                    '<div class="col-md-3 pr-25 pl-0">',
                        '<img class="w" src="'+companyLogo+'" >',
                    '</div>',
                '</div>'
            ].join('');
        },

        // 添加订单到地图
        _addOrderToMap: function(data){

            var me = this, points = [], markers = [];

            // 清除地图
            me._map.clearOverlays();
            // 添加订单位置
            data.map(function(per){
                if(!per.longitude){
                    return;
                }

                var point = new BMap.Point(per.longitude, per.latitude),
                    marker = new BMap.Marker(point),
                    infoContent = me._getInfoContent(
                        per.companyCombineName, 
                        per.companyAddr, 
                        per.companyTel, 
                        per.companyLogo
                    );
                
                points.push(point);
                markers.push(marker);
                
                me._map.addOverlay(marker);
                // 鼠标移动事件
                marker.addEventListener("mouseover", function(){
                    var infoWindow = new BMap.InfoWindow(infoContent);
                    this.openInfoWindow(infoWindow);
                });
            });
            var markerClusterer = new BMapLib.MarkerClusterer(me._map, {markers: markers});

            // 设置合适视距
            window.setTimeout(function(){
                me._map.setViewport(points);
            }, 500);
        },

        // 添加订单到列表
        _addOrderToList: function(data){
            var me = this, orderCount = 0;

            me.$('#order_list>ul>li').remove();
            data.map(function(per){
                
                if(!per.longitude){
                    return;
                }

                var html = [
                    '<li class="list-group-item order-list-item" data-longitude="'+per.longitude+'" data-latitude="'+per.latitude+'" data-company-name="'+per.companyCombineName+'" data-company-addr="'+per.companyAddr+'" data-company-tel="'+per.companyTel+'" data-company-logo="'+per.companyLogo+'" >',
                        '<div class="f14 fb">'+per.companyCombineName+'</div>',
                        '<div class="f12 pt-5 co-888888">'+per.companyAddr+'</div>',
                    '</li>'
                ].join('');
                
                me.$('#order_list>ul').append(html);
                orderCount+=1;
            });

            me.$('#order_count').html(orderCount);
        },

        // 移动地图
        _panToOrder: function(sender){
            var me = this,
                target = $(sender.currentTarget),
                point = new BMap.Point(target.data('longitude'), target.data('latitude')),
                companyName = target.data('company-name'),
                companyAddr = target.data('company-addr'),
                companyTel = target.data('company-tel'),
                companyLogo = target.data('company-logo');

            me._map.panTo(point);

            var infoWindow = new BMap.InfoWindow(
                me._getInfoContent(
                    companyName, 
                    companyAddr, 
                    companyTel, 
                    companyLogo
                )
            );
            
            this._map.openInfoWindow(infoWindow, point);
        },

        // 显示or隐藏列表
        _toggleSwitch: function(){
            var target = this.$('#order_list>ul');
            target.css('display') == "block" ? target.hide() : target.show();
        },

        // 渲染
        render: function(mealId, mealName){
            var me = this,
                param = listView.getSearchParam();
            
            // 如果是第一次打开地图
            if($('#map_order_modal').length > 0){
                $('#map_order_modal').modal('show');
            } else {
                $('body').append(this.template());

                $('#map_order_modal .close').bind('click', function(){
                    $('#map_order_modal').modal('hide');
                    history.go(-1);
                });
                
                me.$('#map_order_modal').modal({'show': true, 'backdrop': 'static', 'keyboard': false});
                me.$('#order_map').height($(window).height() - 100);
                me.$('#order_list>ul').height($(window).height() - 200);

                me._initMap();
            }
            
            orders.search(
                param.startDate, 
                param.endDate, 
                param.state, 
                param.company, 
                param.isTest,
                param.owner,
                1,
                function(data){
                    
                    me._addOrderToMap(data);
                    me._addOrderToList(data);
                }
            );
            
        }

    });


    var Router = Backbone.Router.extend({
        routes: {
            "":                             "search",
            "search/(:startDate)/(:endDate)/(:state)/(:company)/(:isTest)/(:owner)/:pageIndex":    "search",
            "modify/:orderId":              "modify",
            "map_order":                          "map"
        },

        // 获取推荐用户
        search: function(startDate, endDate, state, company, isTest, owner, pageIndex){
            orders.search(startDate, endDate, state, company, isTest, owner, pageIndex);
        },

        modify: function(orderId){
            modifyView.modifyOrder(orderId);
        },

        map: function(){
            mapView.showPanel();
        }

    });

    var orders = new Orders(),
        listView = new ListView({collection: orders}),
        modifyView = new ModifyView({collection: orders}),
        mapView = new MapView(),
        router = new Router();

    Backbone.history.start();

    $('#start_date_search').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });

    $('#end_date_search').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });
});

</script>
{% endblock %}

{% block admin_main %}
<ul class="nav nav-pills orange-nav-pills">
    <li class="active">
        <a href="#order_list" data-toggle="pill">
            <i class="fa fa-list-ol pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">列表</span>
            <span class="hidden-xs">订单列表</span>
        </a>
    </li>
    <li>
        <a href="#modify_order" data-toggle="pill">
            <i class="fa fa-pencil-square-o pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">修改</span>
            <span class="hidden-xs">修改订单信息</span>
        </a>
    </li>
    <li class="pull-right hidden-xs">
        <a href="#map_order">
            <i class="fa fa-map-o pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">地图</span>
            <span class="hidden-xs">地图显示</span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <!-- 用户列表 -->
    <div class="tab-pane fade pt-15 in active" id="order_list">
        <form action="." class="form-inline" onsubmit="javascript: return false;">
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">开始日期</span>
                <input type="text" class="form-control" id="start_date_search" value="{{start_date}}"  />
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">结束日期</span>
                <input type="text" class="form-control" id="end_date_search" value="{{today_str}}"  />
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">订单状态</span>
                <select class="form-control state">
                    {% for state in all_states %}
                    <option value="{{state.value}}" {% if state.value == -2 %}selected{% endif %} >{{state.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">公司名称</span>
                <input type="text" class="form-control company" placeholder="" />
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">订单归属人</span>
                <input type="text" class="form-control owner" placeholder="" />
            </div>
            <div class="input-group input-group-sm pb-10 pl-10 pr-10">
                <div class="checkbox">
                    <label>
                        <input class="is-test" type="checkbox"> 是否试吃
                    </label>
                </div>
            </div>
            <div class="input-group input-group-sm pb-10">
                <button class="btn btn-default btn-sm search bgc-eeeeee" type="submit">查  询</button>
            </div>
            <div class="input-group input-group-sm pb-10">
                <button class="btn btn-info btn-sm batch-print" type="submit">批量打印</button>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>套餐名称</th>
                    <th class="hidden-xs">所属公司</th>
                    <th>备注</th>
                    <th class="hidden-xs">创建时间</th>
                    <th>价格</th>
                    <th>试吃</th>
                    <th>归属人</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm qx-pagination">
                
            </ul>
        </div>
        <div class="text-right border-top-2 bdc-dddddd mt-25">订单总金额 <span class="fb f18 co-1DABD9 sum-price">0</span> 元</div>
    </div>

    <!-- 修改用户信息 -->
    <div class="tab-pane fade pt-15" id="modify_order">
        
    </div>
</div>

<script type="text/template" id="order_list_template">
<% _.each(orders, function(order){ %>
    <tr class="pointer <% if(order.createTime.substring(0,10) == '{{today_str}}'){ %>co-1DABD9<% } %>" data-order_id="<%= order.orderId %>" data-meal_id="<%= order.mealId %>" data-meal_name="<%= order.mealName %>">
        <td><%= order.num %></td>
        <td><%= order.mealName %></td>
        <td class="hidden-xs"><%= order.companyName %></td>
        <td class="fi fb"><%= order.note %></td>
        <td class="hidden-xs"><%= order.createTime %></td>
        <td><%= order.totalPrice %></td>
        <td>
        <% if(order.isTest){ %>
                <span class="fa fa-check co-3B99FC"></span>
            <% } else { %>
                <!-- <span class="fa fa-times co-C33333"></span> -->
            <% } %>
        </td>
        <td>
            <%= order.owner_nick %>
        </td>
        <td>
        {% for state in all_states %}
            <% if({{state.value}} == order.state){ %>{{state.name}}<% } %>
        {% endfor %}
        </td>
    </tr>
<% }) %>
</script>

<script type="text/template" id="modify_order_template">
<form class="form-horizontal" data-order_id='<%= orderId %>' role="form" method="post" action="">
    <input type="hidden" name="order_id" value="<%= orderId %>" />
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单号</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= orderNo %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">套餐</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= mealName %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <input type="hidden" id="meal_id_add" value="" />
        <label class="col-sm-2 control-label">套餐项目</label>
        <div class="col-sm-6" id="items_view_modify">
            
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">价格</label>
        <div class="col-sm-3">
            <input type="text" required class="form-control order-total-price" name='total_price' value='<%= totalPrice %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">人数</label>
        <div class="col-sm-3">
            <input type="text" required class="form-control person-count" name='person_count' value='<%= personCount %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">描述</label>
        <div class="col-sm-6">
            <textarea name="note" rows="6" class="form-control" placeholder=""><%= note %></textarea>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">是否试吃</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="is_test" value="0" <% if(!isTest){ %>checked<% } %> > 否
            </label>
            <label class="radio-inline">
                <input type="radio" name="is_test" value="1" <% if(isTest){ %>checked<% } %> > 是
            </label>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">归属人</label>
        <div class="col-sm-4">
            <input type="text" required id="owner_modify" class="form-control" name='owner' value=''>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0">
        <div class="col-sm-12">
            <% if(state == 1){ %>
            <button type="button" class="btn btn-info save">提交修改</button>
            <button type="button" class="btn btn-primary distribute ml-25">配送订单</button>
            <% } %>
            <% if(state == 2){ %>
            <button type="button" class="btn btn-success confirm ml-25">完成订单</button>
            <% } %>
            <% if(state == 1 || state == 2){ %>
            <button type="button" class="btn btn-danger drop ml-25">作废订单</button>
            <% } %>
            <a target="_blank" href="/admin/order/print_order?order_id=<%= orderId %>" class="btn btn-info print-order ml-25">打印配送单</a>
        </div>
    </div>
</script>

<script type="text/template" id="order_detail_template">
<form class="form-horizontal" data-order_id='<%= orderId %>' role="form" method="post" action="">
    <input type="hidden" name="order_id" value="<%= orderId %>" />
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单号</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= orderNo %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">套餐</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= mealName %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">所属公司</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= companyName %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单价格</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= totalPrice %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">成本价格</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= costPrice %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单毛利</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= rate %>%</p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单创建人</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= createOperatorName %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单创建时间</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= createTime %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单配送人</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= distributeOperatorName %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单配送时间</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= distributeTime %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单确认人</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= confirmOperatorName %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单确认时间</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= confirmTime %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">是否试吃</label>
        <div class="col-sm-5">
            <p class="form-control-static"><% if(isTest == 1){ %>是<% } else { %>否<% } %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">备注</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= note %></p>
        </div>
    </div>
    <!-- <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">订单归属人</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= owner_nick %></p>
        </div>
    </div> -->
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">归属人</label>
        <div class="col-sm-3">
            <input type="text" required id="owner_modify" class="form-control" name='owner' value=''>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-info modify-owner">修改归属人</button>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">状态</label>
        <div class="col-sm-2">
            <p class="form-control-static">
                {% for state in states %}
                <% if(state == {{state.value}}){ %>{{state.name}}<% } %>
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0">
        <div class="col-sm-12">
            <% if(state == 1){ %>
            <button type="button" class="btn btn-primary distribute">配送订单</button>
            <% } %>
            <% if(state == 2){ %>
            <button type="button" class="btn btn-success confirm ml-25">完成订单</button>
            <% } %>
            <% if(state == 1 || state == 2){ %>
            <button type="button" class="btn btn-danger drop ml-25">作废订单</button>
            <% } %>
            <a target="_blank" href="/admin/order/print_order?order_id=<%= orderId %>" class="btn btn-info print-order ml-25">打印配送单</a>
        </div>
    </div>
</form>
</script>

<script type="text/template" id="map_order_template">
<div class="modal fade" id="map_order_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-5">
                <button type="button" class="close"><span>X</span></button>
                <h4 class="modal-title">订单地图</h4>
            </div>
            <div class="modal-body pr">
                <div id="order_map"></div>
                <div id="order_list" class="pa" style="left: 25px; top: 75px; max-width: 250px;">
                    <span id="order_list_switch">
                        <span id="order_count">0</span>
                    </span>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="f14 fb">咕咚</div>
                            <div class="f12 pt-5 co-888888">天府软件园D7-13</div>
                        </li>
                        <li class="list-group-item">
                            <div class="f14 fb">有名堂</div>
                            <div class="f12 pt-5 co-888888">成都市高新区天府三街新希望国际B座1704</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</script>
{% endblock %}