{% extends "pc/admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}兼职人员管理{% endblock %}
{% block admin_title %}兼职人员管理{% endblock %}
{% block admin_title_m %}兼职人员管理{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/autocomplete/styles.css">
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.autocomplete.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var Person = Backbone.Model.extend({
        defaults: {

        }
    });

    var Persons = Backbone.Collection.extend({
        model: Person,

        _modelMaps: {
            'num': 'num',
            'personId': 'person_id',
            'name': 'name',
            'gender': 'gender',
            'age': 'age',
            'tel': 'tel',
            'hourlyPay': 'hourly_pay',
            'state': 'state',
            'note': 'note',
            'createTime': 'create_time'
        },

        search: function(state, name, pageIndex){
            var me = this,
                name = name || '',
                state = state || 1,
                pageIndex = pageIndex || 1;

            ajaxSend(
                "/admin/parttime_person/search", 
                {'name': name, 'state': state, 'page_index': pageIndex}, 
                function(data){
                    
                    me.pageIndex = pageIndex;
                    me.pageCount = data.page_count;
                    me.name = name;
                    me.state = state;

                    me.reset($.Global.Utils.dictMapParse(data.data, me._modelMaps));
                }
            );
        },

        getOne: function(personId, callback){
            var me = this;

            ajaxSend(
                "/admin/parttime_person/get_person_by_id", 
                {'person_id': personId},
                function(data){
                    if(callback){
                        callback($.Global.Utils.dictMap(data, me._modelMaps));
                    }
                }
            );
        },

        modifyPerson: function(data, callback){
            var me = this;

            ajaxSend(
                "/admin/parttime_person/modify_person", 
                $.param(data, true),
                function(data){
                    if(callback){
                        callback(data);
                    }
                }
            );
        },

        addPerson: function(data, callback){

            ajaxSend(
                "/admin/parttime_person/add_person", 
                $.param(data, true),
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        }

    });
    
    var ListView = Backbone.View.extend({
        el: '#person_list',

        template: _.template($('#person_list_template').html()),

        pagination: new $.Global.Pagination.PaginationView(),

        events: {
            'click .search': 'searchPerson',
            'click .pointer': 'modifyPerson'
        },

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        render: function(){
            var data = this.collection.toJSON();
            
            this.showPanel();
            this.$('tbody').html(this.template({'persons': data}));
            this.pagination.render(
                this.collection.pageIndex||1, 
                this.collection.pageCount, 
                String.format(
                    'search/{0}/{1}', 
                    this.collection.state,
                    this.collection.name
                )
            );
        },

        // 显示面板
        showPanel: function(){
            $('.orange-nav-pills a[href="#person_list"]').tab('show');
        },

        searchPerson: function(){
            var name = this.$('.name').val(),
                state = this.$('.state').val();

            router.navigate(String.format('/search/{0}/{1}/1', state, name), {trigger: true});
        },

        modifyPerson: function(sender){
            var target = $(sender.currentTarget),
                personId = target.data('person_id');

            router.navigate('/modify/' + personId, {trigger: true});
        }
        
    });
    

    var ModifyView = Backbone.View.extend({
        
        el: '#modify_person',

        template: _.template($('#modify_person_template').html()),

        itemsView: null,

        events: {
            'click .save': 'save',
        },

        showPanel: function(){
            $('.orange-nav-pills a[href="#modify_person"]').tab('show');
        },

        companyTextBox: null,
        initCompanyTextBox: function(name, value){
            var me = this;

            this.companyTextBox = $.Global.TextboxList.create('#company_modify', {
                max: 1,
                placeholder: '选择所属公司',
                url: '/admin/company/get_companys_by_name',
                param: 'company_name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.companyTextBox.add(name, value);
            }
        },

        render: function(data){
            this.$el.html(this.template(data));

            this.initCompanyTextBox(data.companyName, data.companyId);
        },

        modifyPerson: function(personId){
            var me = this;

            this.collection.getOne(personId, function(data){

                if(data){
                    me.render(data);
                    me.showPanel();
                } else {
                    setTimeout(function(){history.go(-1);}, 3000);
                    $.Global.Notice.ErrorTopNotice('没有找到对应的项目!');
                }
            });
        },

        save: function(sender){
            var personId = this.$('form').data('person_id'),
                target = $(sender.currentTarget),
                me = this;

            if(!this.$('form').valid()){
                return;
            }

            g_ajax_processing_obj_id = target.setUUID().attr('id');
            me.collection.modifyPerson($.Global.Utils.formToDict(this.$('form')), function(data){
                if(data.errcode == "0"){
                    $.Global.Notice.SuccessTopNotice('操作成功');
                    router.navigate('modify/' + personId, {'trigger': true});
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            })
        }

        

    });

    
    var AddView = Backbone.View.extend({
        el: 'body',

        template: _.template($('#add_person_template').html()),

        itemsView: null,

        showPanel: function(){
            var me = this;

            me.render();
        },

        initStartDate: function(){
            $('#start_date_add').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2,
                autoclose: true
            });
        },

        initEndDate: function(){
            $('#end_date_add').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2,
                autoclose: true
            });
        },

        initTypeDate: function(){
            $('#type_date_add').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2,
                autoclose: true
            });
        },

        companyTextBox: null,
        initCompanyTextBox: function(name, value){
            var me = this;

            this.companyTextBox = $.Global.TextboxList.create('#company_add', {
                max: 1,
                placeholder: '选择所属公司',
                url: '/admin/company/get_companys_by_name',
                param: 'company_name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.companyTextBox.add(name, value);
            }
        },

        render: function(){
            var me = this;

            $('#add_person_modal').remove();
            
            $('body').append(this.template());

            // 绑定事件
            $('#add_person_modal .cancel').bind('click', function(){
                history.go(-1);
            });
            $('#add_person_modal .ok').bind('click', function(){
                me.addPerson();
            });
            
            $('#add_person_modal').modal({'show': true, 'backdrop': 'static'});

            me.initCompanyTextBox();

        },

        addPerson: function(){
            var me = this;
            
            if(!$('#add_person_modal form').valid()){
                return;
            }

            g_ajax_processing_obj_id = $("#add_person_modal .ok").setUUID().attr('id');
            persons.addPerson($.Global.Utils.formToDict($('#add_person_modal form')), function(data){
                if(data.errcode == "0"){
                    router.navigate('modify/' + data.errmsg, {trigger: true});
                    $('#add_person_modal').modal('hide');
                    $.Global.Notice.SuccessTopNotice("操作成功");
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            })
        }

    });


    var Router = Backbone.Router.extend({
        routes: {
            "":                             "search",
            "search/(:state)/(:name)/:pageIndex":    "search",
            "modify/:personId":            "modify",
            "add":                          "add"
        },

        // 获取推荐用户
        search: function(state, name, pageIndex){
            persons.search(state, name, pageIndex);
        },

        modify: function(personId){
            modifyView.modifyPerson(personId);
        },

        add: function(){
            addView.showPanel();
        }

    });

    var persons = new Persons(),
        listView = new ListView({collection: persons}),
        modifyView = new ModifyView({collection: persons}),
        addView = new AddView(),
        router = new Router();

    Backbone.history.start();
});

</script>
{% endblock %}

{% block admin_main %}
<ul class="nav nav-pills orange-nav-pills">
    <li class="active">
        <a href="#person_list" data-toggle="pill">
            <i class="fa fa-list-ol pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">列表</span>
            <span class="hidden-xs">兼职人员信息列表</span>
        </a>
    </li>
    <li>
        <a href="#modify_person" data-toggle="pill">
            <i class="fa fa-pencil-square-o pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">修改</span>
            <span class="hidden-xs">修改兼职人员信息</span>
        </a>
    </li>
    <li class="pull-right">
        <a href="#add">
            <i class="fa fa-plus-circle pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">添加</span>
            <span class="hidden-xs">添加兼职人员</span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <!-- 用户列表 -->
    <div class="tab-pane fade pt-15 in active" id="person_list">
        <form action="." class="form-inline" onsubmit="javascript: return false;">
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">状态</span>
                <select class="form-control state">
                    {% for state in states %}
                    <option value="{{state.value}}" {% if state.value == 1 %}selected{% endif %} >{{state.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">兼职人员姓名</span>
                <input type="text" class="form-control name" placeholder="" />
                <span class="input-group-btn">
                    <button class="btn btn-default search bgc-eeeeee" type="submit">查询</button>
                </span>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>联系电话</th>
                    <th>时薪</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm qx-pagination">
                
            </ul>
        </div>
    </div>

    <!-- 修改用户信息 -->
    <div class="tab-pane fade pt-15" id="modify_person">
        
    </div>
</div>

<script type="text/template" id="person_list_template">
<% _.each(persons, function(person){ %>
    <tr class="pointer" data-person_id="<%= person.personId %>">
        <td><%= person.num %></td>
        <td><%= person.name %></td>
        <td>
            <% if(person.gender == 1){ %>男<% } else { %>女<% } %>
        </td>
        <td><%= person.age %></td>
        <td><%= person.tel %></td>
        <td><%= person.hourlyPay %></td>
        <td class="hidden-xs">
            <% if(person.state){ %>
                <span class="fa fa-check co-3B99FC"></span>
            <% } else { %>
                <span class="fa fa-times co-C33333"></span>
            <% } %>
        </td>
    </tr>
<% }) %>
</script>

<script type="text/template" id="modify_person_template">
<form class="form-horizontal" data-person_id='<%= personId %>' role="form" method="post" action="">
    <input type="hidden" name="person_id" value="<%= personId %>" />
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">姓名</label>
        <div class="col-sm-3">
            <input type="text" required class="form-control" name='name' value='<%= name %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">性别</label>
        <div class="col-sm-2">
            <select class="form-control" name="gender">
                {% for gender in genders %}
                <option value="{{gender.value}}" <% if(gender == {{gender.value}} ){ %> selected <% } %> >{{gender.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">年龄</label>
        <div class="col-sm-3">
            <input type="text" required class="form-control digits" name='age' value='<%= age %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">联系电话</label>
        <div class="col-sm-4">
            <input type="text" required class="form-control digits" name='tel' value='<%= tel %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">时薪</label>
        <div class="col-sm-3">
            <input type="text" required class="form-control number" name='hourly_pay' value='<%= hourlyPay %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
        <label class="col-sm-2 control-label">状态</label>
        <div class="col-sm-3">
            <select class="form-control" name="state">
                {% for state in states %}
                <option value="{{state.value}}" <% if(state == {{state.value}} ){ %> selected <% } %> >{{state.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0">
        <label class="col-sm-2 control-label">备注</label>
        <div class="col-sm-6">
            <textarea name="note" rows="6" class="form-control" placeholder=""><%= note %></textarea>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary save">提交你的修改</button>
        </div>
    </div>
</form>
</script>

<script type="text/template" id="add_person_template">
<div class="modal fade" id="add_person_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-5">
                <h4 class="modal-title">添加兼职人员信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="post" action="">
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-3">
                            <input type="text" required class="form-control" name='name' value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-2">
                            <select class="form-control" name="gender">
                                {% for gender in genders %}
                                <option value="{{gender.value}}" {% if gender.value == 1 %}selected{% endif %} >{{gender.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">年龄</label>
                        <div class="col-sm-3">
                            <input type="text" required class="form-control digits" name='age' value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">联系电话</label>
                        <div class="col-sm-4">
                            <input type="text" required class="form-control digits" name='tel' value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">时薪</label>
                        <div class="col-sm-3">
                            <input type="text" required class="form-control number" name='hourly_pay' value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-2 control-label">状态</label>
                        <div class="col-sm-3">
                            <select class="form-control" name="state">
                                {% for state in states %}
                                <option value="{{state.value}}" {% if state.value == 1 %}selected{% endif %} >{{state.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-9">
                            <textarea name="note" rows="6" class="form-control" placeholder=""></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary ok">确定</button>
            </div>
        </div>
    </div>
</div>
</script>
{% endblock %}