{% extends "pc/base/base_admin.html" %}
{% block title %} 采购单 {% endblock %}

{% block base_css %}
<style type="text/css">
.container{
    width: 900px;
    padding-top: 30px;
}
.logo{
    width: 37px;
    position: absolute;
    left: 15px;
    top: 0px;
}
.logo-text{
    font-size: 30px;
    padding-left: 40px;
}
</style>
{% endblock %}

{% block base_js %}
<script type="text/javascript">
$(document).ready(function(){

    var itemDetailView = new $.Global.ComponentView.ItemDetailView({el: '#item_detail'});
        itemDetailView.render();
        itemDetailView.loadItems({{data_json|safe}});
});
</script>
{% endblock %}

{% block base_container %}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-xs-3 pr">
            <img class="logo" src="{{MEDIA_URL}}img/logo.png">
            <span class="logo-text">三点十分</span>
        </div>
        <div class="col-md-6 col-xs-6 f30 text-center">
            {{end_date}}采购单
        </div>

        <div class="col-md-12 col-xs-12 pt-20" id="item_detail">
            
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}