{% extends "pc/admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}洗车服务价格管理{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    // models
    var Price = Backbone.Model.extend({

        // 默认值
        defaults: {
            'num': ''
        }

    });

    // collections
    var Prices = Backbone.Collection.extend({
        model: Price,

        _modelMaps: {
            'num': 'num',
            'priceId': 'price_id',
            'carWashId': 'car_wash_id',
            'carWashName': 'car_wash_name',
            'serviceTypeId': 'service_type_id',
            'serviceTypeName': 'service_type_name',
            'salePrice': 'sale_price',
            'originPrice': 'origin_price',
            'clearPrice': 'clear_price',
            'sortNum': 'sort_num',
            'state': 'state'
        },

        // 查询
        search: function(car_wash_name, state, pageIndex){
            var me = this;

            ajaxSend(
                "/admin/car_wash/service_price/search", 
                {'car_wash_name': car_wash_name||'', 'state': state||1, 'page_index': pageIndex||1}, 
                function(data){
                    me.pageIndex = pageIndex||1;
                    me.pageCount = data.page_count;
                    me.carWashName = car_wash_name;
                    me.state = state;

                    me.reset($.Global.Utils.dictMapParse(data.data, me._modelMaps));
                }
            );
        },

        // 获取一个提问的model
        getOne: function(priceId, callback){
            var me = this;

            ajaxSend(
                "/admin/car_wash/service_price/get_service_price_by_id", 
                {'price_id': priceId},
                function(data){
                    if(callback){
                        callback($.Global.Utils.dictMap(data, me._modelMaps));
                    }
                }
            );
        },

        //
        modifyPrice: function(data, callback){

            ajaxSend(
                "/admin/car_wash/service_price/modify_service_price", 
                data,
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        },

        addPrice: function(data, callback){

            ajaxSend(
                "/admin/car_wash/service_price/add_service_price", 
                data,
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        },

        removePrice: function(priceId, callback){

            ajaxSend(
                "/admin/car_wash/service_price/remove_service_price", 
                {'price_id': priceId},
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        }

    });

    // listView
    var ListView = Backbone.View.extend({
        el: '#price_list',

        pagination: new $.Global.Pagination.PaginationView(),

        template: _.template($('#price_template').html()),

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        events: {
            'click .search': 'search',
            'click .pointer': 'modifyPrice'
        },

        // 渲染函数
        render: function(){
            var data = this.collection.toJSON();

            this.showPanel();

            this.$('tbody').html(this.template({'prices': data}));

            this.pagination.render(
                this.collection.pageIndex||1, 
                this.collection.pageCount, 
                'search/' + this.collection.carWashName + '/' + this.collection.state
            );
        },

        // 显示面板
        showPanel: function(){
            $('.qx-nav-pills a[href="#price_list"]').tab('show');
        },

        search: function(){
            var carWashName = this.$('.key-word').val(),
                state = this.$('.key-word-state:checked').val();

            router.navigate(String.format('/search/{0}/{1}/1', carWashName, state), {trigger: true});
        },

        modifyPrice: function(sender){
            var target = $(sender.currentTarget),
                priceId = target.data('price_id');

            router.navigate('/modify/' + priceId, {trigger: true});
        }
    });

    // modifyView
    var ModifyView = Backbone.View.extend({
        
        el: '#modify_price',

        template: _.template($('#modify_price_template').html()),

        events: {
            'click .save': 'save',
            'click .remove': 'remove'
        },

        // 显示面板
        showPanel: function(){
            $('.qx-nav-pills a[href="#modify_price"]').tab('show');
        },

        carWashTextBox: null,
        initCarWashTextBox: function(name, value){
            var me = this;

            this.carWashTextBox = $.Global.TextboxList.create('#car_wash_modify', {
                max: 1,
                placeholder: '选择所属洗车行',
                url: '/admin/car_wash/car_wash/get_car_washs_by_name?state=0',
                param: 'car_wash_name',
                loadPlaceholder: '正在加载...'
            });
            
            if(value){
                this.carWashTextBox.add(name, value);
            }
        },

        // 渲染
        render: function(data){
            this.$el.html(this.template(data));

            this.initCarWashTextBox(data.carWashName, data.carWashId);
        },

        // 显示提问信息
        modifyPrice: function(priceId){
            var me = this;

            this.collection.getOne(priceId, function(data){
                if(data){
                    me.render(data);
                    me.showPanel();
                } else {
                    setTimeout(function(){history.go(-1);}, 3000);
                    $.Global.Notice.ErrorTopNotice("没有找到对应的服务类型!");
                }
            });
        },

        // 保存
        save: function(){
            var priceId = this.$('form').data('price_id'),
                me = this;

            if(!me.$('form').valid()){
                return;
            }

            me.collection.modifyPrice($.Global.Utils.formToDict(this.$('form')), function(data){
                if(data.errcode === 0){
                    $.Global.Notice.SuccessTopNotice('操作成功!');
                    router.navigate('modify/' + priceId, {'trigger': true});
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            })
        },

        remove: function(){
            var priceId = this.$('form').data('price_id'),
                me = this;

            if(confirm('确认删除此服务价格?')){
                me.collection.removePrice(priceId, function(data){
                    if(data.errcode == "0"){
                        $.Global.Notice.SuccessTopNotice('操作成功!');
                        router.navigate('search//1/1', {'trigger': true});
                    } else {
                        $.Global.Notice.ErrorTopNotice(data.errmsg);
                    }
                });
            }
            
        }


    });

    
    var AddView = Backbone.View.extend({
        el: 'body',

        template: _.template($('#add_price_template').html()),

        showPanel: function(){
            var me = this;

            me.render();
        },

        carWashTextBox: null,
        initCarWashTextBox: function(name, value){
            var me = this;

            this.carWashTextBox = $.Global.TextboxList.create('#car_wash_add', {
                max: 1,
                placeholder: '选择所属洗车行',
                url: '/admin/car_wash/car_wash/get_car_washs_by_name?state=0',
                param: 'car_wash_name',
                loadPlaceholder: '正在加载...'
            });
            
        },

        render: function(){
            var me = this;

            $('#add_price_modal').remove();
            
            $('body').append(this.template());

            // 绑定事件
            $('#add_price_modal .cancel').bind('click', function(){
                history.go(-1);
            });
            $('#add_price_modal .ok').bind('click', function(){
                me.addPrice();
            });
            
            $('#add_price_modal').modal({'show': true, 'backdrop': 'static'});

            this.initCarWashTextBox();
        },

        addPrice: function(){
            var me = this;
            
            if(!$('#add_price_modal form').valid()){
                return;
            }

            prices.addPrice($.Global.Utils.formToDict($('#add_price_modal form')), function(data){
                if(data.errcode == "0"){
                    router.navigate('modify/' + data.errmsg, {trigger: true});
                    $('#add_price_modal').modal('hide');
                    $.Global.Notice.SuccessTopNotice("操作成功");
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            })
        }

    });

    
    // router
    var Router = Backbone.Router.extend({

        routes: {
            "":                     "search",
            "modify/:priceId":       "modify",
            "search/(:carWashName)/(:state)/:pageIndex":    "search",
            "add":                   "add"
        },

        // 查询
        search: function(carWashName, state, pageIndex){
            prices.search(carWashName||'', state||1, pageIndex||1);
        },

        // 显示修改界面
        modify: function(priceId){
            modifyView.modifyPrice(priceId);
        },

        add: function(){
            addView.showPanel();
        }

    });
    
    // 初始化
    var prices = new Prices(),
        listView = new ListView({'collection': prices}),
        modifyView = new ModifyView({'collection': prices}),
        addView = new AddView(),
        router = new Router();
 
    Backbone.history.start();

});

</script>
{% endblock %}

{% block right %}
<ul class="nav nav-pills pt-15 qx-nav-pills">
    <li class="active">
        <a href="#price_list" class="black-blue" data-toggle="pill">服务价格列表</a>
    </li>
    <li>
        <a href="#modify_price" class="black-blue" data-toggle="pill">修改服务价格</a>
    </li>
    <li class="pull-right">
        <a href="#add" class="black-blue">添加服务价格</a>
    </li>
</ul>

<div class="tab-content">
    <!-- 客户经理列表 -->
    <div class="tab-pane fade pt-15 in active" id="price_list">
        <form action="." onsubmit="javascript: return false;">
            <div class="col-md-2">
                <label class="radio-inline">
                    <input type="radio" name="state" class="key-word-state" value="0"> 无效
                </label>
                <label class="radio-inline">
                    <input type="radio" name="state" class="key-word-state" value="1" checked="checked"> 有效
                </label>
            </div>
            <div class="pl-0 pb-10 col-md-3">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control border-radius-0 key-word" placeholder="输入洗车行名称..." />
                    <span class="input-group-btn">
                        <button class="btn btn-default search" type="submit">查询</button>
                    </span>
                </div>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>洗车行名称</th>
                    <th>服务类型</th>
                    <th>售价</th>
                    <th>原价</th>
                    <th>结算价</th>
                    <th>排序</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm qx-pagination">
                
            </ul>
        </div>
    </div>

    <!-- 修改客户经理信息 -->
    <div class="tab-pane fade" id="modify_price">
        
    </div>
</div>

<!-- 客户经理列表 -->
<script type="text/template" id="price_template">
    <% _.each(prices, function(price){ %>
        <tr class="pointer" data-price_id="<%= price.priceId %>">
            <td><%= price.num %></td>
            <td><%= price.carWashName %></td>
            <td><%= price.serviceTypeName %></td>
            <td><%= price.salePrice %></td>
            <td><%= price.originPrice %></td>
            <td><%= price.clearPrice %></td>
            <td><%= price.sortNum %></td>
            <td>
                <% if(!price.state){ %>
                <span class="fa fa-times co2" title="正常"></span>
                <% } else { %>
                <span class="fa fa-check co6" title="无效"></span>
                <% } %>
            </td>
        </tr>
    <% }) %>
</script>

<!-- 修改问题模板 -->
<script type="text/template" id="modify_price_template">
    <form class="form-horizontal" data-price_id="<%= priceId %>" role="form" method="post" action="">
        <input type="hidden" name="price_id" value="<%= priceId %>" />
        <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
            <label class="col-sm-2 control-label">洗车行</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="car_wash_id" id="car_wash_modify" value='' required>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
            <label class="col-sm-2 control-label">服务类型</label>
            <div class="col-sm-3">
                <select class="form-control input-sm" required name="service_type_id">
                    {% for type in service_types %}
                    <option value="{{type.value}}" <% if(serviceTypeId == {{type.value}}){ %>selected="selected"<% } %> >{{type.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
            <label class="col-sm-2 control-label">售价</label>
            <div class="col-sm-2">
                <input type="text" class="form-control number" required name="sale_price" value='<%= salePrice %>'>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
            <label class="col-sm-2 control-label">原价</label>
            <div class="col-sm-2">
                <input type="text" class="form-control number" required name="origin_price" value='<%= originPrice %>'>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
            <label class="col-sm-2 control-label">结算价</label>
            <div class="col-sm-2">
                <input type="text" class="form-control number" required name="clear_price" value='<%= clearPrice %>'>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0">
            <label class="col-sm-2 control-label">排序</label>
            <div class="col-sm-2">
                <input type="text" class="form-control number" required name="sort" value='<%= sortNum %>'>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0">
            <label class="col-sm-2 control-label">状态</label>
            <div class="col-sm-2">
                <div class="radio">
                    <label>
                        <input type="radio" name="state" value="1" <% if(state == "1"){ %>checked="checked"<% } %> >
                        有效
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="state" value="0" <% if(state == "0"){ %>checked="checked"<% } %> >
                        无效
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary save">提交你的修改</button>
                <button type="button" class="btn btn-danger remove ml-25">删除此服务价格</button>
            </div>
        </div>
    </form>
</script>


<script type="text/template" id="add_price_template">
<div class="modal fade" id="add_price_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-5">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <h4 class="modal-title">添加洗车行</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="post" action="">
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
                        <label class="col-sm-2 control-label">洗车行</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="car_wash_id" id="car_wash_add" value='' required>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
                        <label class="col-sm-2 control-label">服务类型</label>
                        <div class="col-sm-3">
                            <select class="form-control input-sm" required name="service_type_id">
                                {% for type in service_types %}
                                <option value="{{type.value}}">{{type.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
                        <label class="col-sm-2 control-label">售价</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control number" required name="sale_price" value='0'>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
                        <label class="col-sm-2 control-label">原价</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control number" required name="origin_price" value='0'>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
                        <label class="col-sm-2 control-label">结算价</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control number" required name="clear_price" value='0'>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0">
                        <label class="col-sm-2 control-label">排序</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control number" required name="sort" value='0'>
                        </div>
                    </div>
                    <!--
                    <div class="form-group pt-20 pb-20 mb-0">
                        <label class="col-sm-2 control-label">状态</label>
                        <div class="col-sm-2">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="state" value="1" checked="checked" >
                                    有效
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="state" value="0" >
                                    无效
                                </label>
                            </div>
                        </div>
                    </div>
                    -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary ok">确定</button>
            </div>
        </div>
    </div>
</div>
</script>

{% endblock right %}