{% extends "pc/admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}成本统计{% endblock %}
{% block admin_title %}成本统计{% endblock %}
{% block admin_title_m %}成本统计{% endblock %}

{% block css %}
<style type="text/css">
.box{
    transition: all 0.3s;
    padding-left: 30px;
}
.box:hover{
    box-shadow: 3px 3px 12px #ccc;
}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/countUp.js"></script>
<script type="text/javascript">
$(document).ready(function(){

    $('#start_date_search').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });
    $('#end_date_search').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });

    $('.search').on('click', function(){
        ajaxSend(
            "/admin/statistics_order_cost/get_statistics_order_cost_data", 
            {'start_date': $('#start_date_search').val(), 'end_date': $('#end_date_search').val()},
            function(data){
                new countUp("sale", 0, data.sale, 2, 0.5).start();
                new countUp("cost", 0, data.cost, 2, 0.5).start();
                new countUp("test_cost", 0, data.test_cost, 2, 0.5).start();
                new countUp("gross_profit", 0, data.gross_profit, 2, 0.5).start();
                new countUp("purchase", 0, data.purchase, 2, 0.5).start();

                if(parseFloat(data.balance) >= 0){
                    $('#balance').removeClass('co-EF7B32 co-19BA40 co-FF0000').addClass('co-19BA40');
                } else {
                    $('#balance').removeClass('co-EF7B32 co-19BA40 co-FF0000').addClass('co-FF0000');
                }
                new countUp("balance", 0, data.balance, 2, 0.5).start();
            }
        );
    });

    $('.show-test-cost').on('click', function(e){
        window.open(
            String.format(
                '/admin/order#search/{0}/{1}/-2//1/1',
                $('#start_date_search').val(),
                $('#end_date_search').val()
            )
        );
        e.preventDefault();
    });
    $('.show-purchase').on('click', function(e){
        window.open(
            String.format(
                '/admin/purchase_record#search//1/{0}/{1}/1',
                $('#start_date_search').val(),
                $('#end_date_search').val()
            )
        );
        e.preventDefault();
    });

    $('.search').click();
    
});
</script>
{% endblock %}

{% block admin_main %}
<div class="row pt-15">
    <div class="col-md-12">
        <form action="." class="form-inline" onsubmit="javascript: return false;">
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">开始日期</span>
                <input type="text" class="form-control" id="start_date_search" value="{{start_date}}"  />
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">结束日期</span>
                <input type="text" class="form-control" id="end_date_search" value="{{end_date}}"  />
                <span class="input-group-btn">
                    <button class="btn btn-default search bgc-eeeeee" type="submit">查询</button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-md-12 pt-20">
        <div class="col-md-12 bgc-ffffff pt-20 box" style="">
            <div class="co-ADADAD pt-10">总销售额</div>
            <div class="pb-10">
                <span class="f50 co-1DABD9 pr-10" id="sale">0</span>
                <span class="co-ADADAD">元</span>
            </div>
        </div>
    </div>
    <div class="col-md-12 pt-10">
        <div class="col-md-7 bgc-ffffff pl-0 pr-0" style="border-right: 10px solid #EEF3F6;">
            <div class="box pt-20">
                <div class="co-ADADAD pt-10">付费订单总成本</div>
                <div class="pb-10">
                    <span class="f50 co-EF7B32 pr-10" id="cost">0</span>
                    <span class="co-ADADAD">元</span>
                </div>
            </div>
        </div>
        <div class="col-md-5 bgc-ffffff pt-20 pl-20 box" style="">
            <a href="#" class="no-underline show-test-cost" title="点击查看详情">
                <div class="co-ADADAD pt-10">试吃订单总成本</div>
                <div class="pb-10">
                    <span class="f50 co-EF7B32 pr-10" id="test_cost">0</span>
                    <span class="co-ADADAD">元</span>
                </div>
                <i class="fa fa-angle-right pa" style="font-size: 90px; right: 20px; top: 20px; color: #EEF3F6;"></i>
            </a>
        </div>
    </div>

    <div class="col-md-12 pt-10">
        <div class="col-md-7 bgc-ffffff pl-0 pr-0" style="border-right: 10px solid #EEF3F6;">
            <div class="box pt-20">
                <a href="#" class="no-underline show-purchase" title="点击查看详情">
                    <div class="co-ADADAD pt-10">总采购金额</div>
                    <div class="pb-10">
                        <span class="f50 co-EF7B32 pr-10" id="purchase">0</span>
                        <span class="co-ADADAD">元</span>
                    </div>
                    <i class="fa fa-angle-right pa" style="font-size: 90px; right: 20px; top: 20px; color: #EEF3F6;"></i>
                </a>
            </div>
        </div>
        <div class="col-md-5 bgc-ffffff pt-20 pl-20 box" style="">
            <div class="co-ADADAD pt-10">订单成本与采购差额</div>
            <div class="pb-10">
                <span class="f50 co-EF7B32 pr-10" id="balance">0</span>
                <span class="co-ADADAD">元</span>
            </div>
        </div>
    </div>
    <div class="col-md-12 pt-10">
        <div class="col-md-12 bgc-ffffff pt-20 box">
            <div class="co-ADADAD pt-10">总毛利</div>
            <div class="pb-10">
                <span class="f50 co-7696DB pr-10" id="gross_profit">0</span>
                <span class="co-ADADAD">元</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}