{% extends "pc/admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}成本统计{% endblock %}
{% block admin_title %}成本统计{% endblock %}
{% block admin_title_m %}成本统计{% endblock %}

{% block css %}
<style type="text/css">
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/countUp.js"></script>
<script type="text/javascript">
$(document).ready(function(){

    $('#start_date_search').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });
    $('#end_date_search').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });

    $('.search').on('click', function(){
        ajaxSend(
            "/admin/statistics_order_cost/get_statistics_order_cost_data", 
            {'start_date': $('#start_date_search').val(), 'end_date': $('#end_date_search').val()},
            function(data){
                // $('.sale').html(data.sale);
                // $('.cost').html(data.cost);
                // $('.test-cost').html(data.test_cost);
                // $('.gross-profit').html(data.gross_profit);

                new countUp("sale", 0, data.sale, 2, 0.5).start();
                new countUp("cost", 0, data.cost, 2, 0.5).start();
                new countUp("test_cost", 0, data.test_cost, 2, 0.5).start();
                new countUp("gross_profit", 0, data.gross_profit, 2, 0.5).start();
            }
        );
    });
    $('.search').click();
    
});
</script>
{% endblock %}

{% block admin_main %}
<div class="row pt-15">
    <div class="col-md-10">
        <form action="." class="form-inline" onsubmit="javascript: return false;">
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">开始日期</span>
                <input type="text" class="form-control" id="start_date_search" value="{{start_date}}"  />
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">结束日期</span>
                <input type="text" class="form-control" id="end_date_search" value="{{end_date}}"  />
                <span class="input-group-btn">
                    <button class="btn btn-default search bgc-eeeeee" type="submit">查询</button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-md-12 pt-40 pb-10">
        <div class="col-md-3" style="padding-top: 22px;">
            <span class="f20">总销售额:</span>
        </div>
        <div class="col-md-9">
            <span class="f50 co-1DABD9 sale" id="sale">0</span>
        </div>
        <div class="col-md-7 border-bottom-dashed-1 bdc-dddddd mt-20"></div>
    </div>
    <div class="col-md-12 pt-10 pb-10">
        <div class="col-md-3" style="padding-top: 22px;">
            <span class="f20">总原材料成本:</span>
        </div>
        <div class="col-md-9">
            <span class="f50 co-EF7B32 cost" id="cost">0</span>
        </div>
        <div class="col-md-3" style="padding-top: 22px;">
            <span class="f20">总试吃订单金额:</span>
        </div>
        <div class="col-md-9">
            <span class="f50 co-EF7B32 test-cost" id="test_cost">0</span>
        </div>
        <div class="col-md-7 border-bottom-1 bdc-dddddd mt-20"></div>
    </div>
    <div class="col-md-12 pt-10 pb-10">
        <div class="col-md-3" style="padding-top: 22px;">
            <span class="f20">总毛利:</span>
        </div>
        <div class="col-md-9">
            <span class="f50 co-7696DB gross-profit" id="gross_profit">0</span>
        </div>
    </div>
</div>
{% endblock %}