{% extends "pc/admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}用户现金管理{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    // models
    var Record = Backbone.Model.extend({

        // 默认值
        defaults: {
            'num': ''
        }

    });

    // collections
    var Records = Backbone.Collection.extend({
        model: Record,

        _modelMaps: {
            'num': 'num',
            'recordId': 'record_id',
            'userId': 'user_id',
            'userNick': 'user_nick',
            'balance': 'balance',
            'value': 'value',
            'currentBalance': 'current_balance',
            'operation': 'operation',
            'notes': 'notes',
            'ip': 'ip',
            'createTime': 'create_time'
        },

        // 查询
        search: function(nick, pageIndex){
            var me = this;

            ajaxSend(
                "/admin/cash/user_cash_record/search", 
                {'nick': nick||'', 'page_index': pageIndex||1}, 
                function(data){
                    me.pageIndex = pageIndex||1;
                    me.pageCount = data.page_count;
                    me.nick = nick;

                    me.reset($.Global.Utils.dictMapParse(data.data, me._modelMaps));
                }
            );
        },

        // 获取一个提问的model
        getOne: function(recordId, callback){
            var me = this;

            ajaxSend(
                "/admin/record/get_user_record_by_id", 
                {'record_id': recordId},
                function(data){
                    if(callback){
                        callback($.Global.Utils.dictMap(data, me._modelMaps));
                    }
                }
            );
        },

        addRecord: function(data, callback){
            var me = this;

            ajaxSend(
                "/admin/cash/user_cash_record/add_record",  
                data,
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        }
    });

    // listView
    var ListView = Backbone.View.extend({
        el: '#record_list',

        pagination: new $.Global.Pagination.PaginationView(),

        template: _.template($('#record_template').html()),

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        events: {
            'click .search': 'search'
        },

        // 渲染函数
        render: function(){
            var data = this.collection.toJSON();

            this.showPanel();

            this.$('tbody').html(this.template({'records': data}));

            this.pagination.render(
                this.collection.pageIndex||1, 
                this.collection.pageCount, 
                'search/' + this.collection.nick
            );
        },

        // 显示面板
        showPanel: function(){
            $('.qx-nav-pills a[href="#record_list"]').tab('show');
        },

        search: function(){
            var nick = this.$('.key-word').val();

            router.navigate(String.format('/search/{0}/1', nick), {trigger: true});
        }

    });


    var AddView = Backbone.View.extend({
        el: 'body',

        template: _.template($('#add_record_template').html()),

        showPanel: function(){
            var me = this;

            me.render();
        },

        userTextBox: null,
        initUserTextBox: function(name, value){
            var me = this;

            this.userTextBox = $.Global.TextboxList.create('#user_add', {
                max: 1,
                placeholder: '选择用户',
                url: '/admin/user/user/get_user_by_nick',
                param: 'nick',
                loadPlaceholder: '正在加载...'
            });
            
        },

        render: function(){
            var me = this;

            $('#add_record_modal').remove();
            
            $('body').append(this.template());

            // 绑定事件
            $('#add_record_modal .cancel').bind('click', function(){
                history.go(-1);
            });
            $('#add_record_modal .ok').bind('click', function(){
                me.addRecord();
            });
            
            $('#add_record_modal').modal({'show': true, 'backdrop': 'static'});

            me.initUserTextBox();
           
        },

        addRecord: function(){
            var me = this;
            
            if(!$('#add_record_modal form').valid()){
                return;
            }

            records.addRecord($.Global.Utils.formToDict($('#add_record_modal form')), function(data){
                if(data.errcode == "0"){
                    $('#add_record_modal').modal('hide');
                    $.Global.Notice.SuccessTopNotice("操作成功");
                    router.navigate('search//1', {trigger: true});
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            })
        }

    });


    // router
    var Router = Backbone.Router.extend({

        routes: {
            "":                     "search",
            'add': 'add',
            "search/(:nick)/:pageIndex":    "search",
        },

        // 查询
        search: function(nick, pageIndex){
            records.search(nick||'', pageIndex||1);
        },

        add: function(){
            addView.showPanel();
        }

    });
    
    // 初始化
    var records = new Records(),
        listView = new ListView({'collection': records}),
        addView = new AddView(),
        router = new Router();
 
    Backbone.history.start();

});

</script>
{% endblock %}

{% block right %}
<ul class="nav nav-pills pt-15 qx-nav-pills">
    <li class="active">
        <a href="#record_list" class="black-blue" data-toggle="pill">用户现金记录列表</a>
    </li>
    <li class="pull-right">
        <a href="#add" class="black-blue">添加用户现金记录</a>
    </li>
</ul>

<div class="tab-content">
    <!-- 客户经理列表 -->
    <div class="tab-pane fade pt-15 in active" id="record_list">
        <form action="." onsubmit="javascript: return false;">
            <div class="pl-0 pb-10 col-md-3">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control border-radius-0 key-word" placeholder="输入用户昵称..." />
                    <span class="input-group-btn">
                        <button class="btn btn-default search" type="submit">查询</button>
                    </span>
                </div>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>用户</th>
                    <th>最新余额</th>
                    <th>操作类型</th>
                    <th>操作金额</th>
                    <th>当时余额</th>
                    <th>操作时间</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm qx-pagination">
                
            </ul>
        </div>
    </div>
</div>

<!-- 客户经理列表 -->
<script type="text/template" id="record_template">
    <% _.each(records, function(record){ %>
        <tr class="pointer" data-record_id="<%= record.recordId %>">
            <td><%= record.num %></td>
            <td><%= record.userNick %></td>
            <td><%= record.balance %></td>
            <td>
                {% for choice in operation_choices %}
                    <% if({{choice.value}} == record.operation){ %>
                        {{choice.name}}
                    <% } %>
                {% endfor %}
            </td>
            <td><%= record.value %></td>
            <td><%= record.currentBalance %></td>
            <td><%= record.createTime %></td>
            <td><%= record.notes %></td>
        </tr>
    <% }) %>
</script>

<script type="text/template" id="add_record_template">
<div class="modal fade" id="add_record_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-5">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <h4 class="modal-title">添加用户现金记录</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal record-form" role="form" method="post" action="">
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
                        <label class="col-sm-2 control-label">用户</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="user_add" required name="user_id" value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
                        <label class="col-sm-2 control-label">操作类型</label>
                        <div class="col-sm-3">
                            <select class="form-control input-sm" name="operation">
                                {% for choice in operation_choices %}
                                <option value="{{choice.value}}">{{choice.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
                        <label class="col-sm-2 control-label">操作金额</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control number" required name="value" value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="notes" value=''>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary ok">确定</button>
            </div>
        </div>
    </div>
</div>
</script>
{% endblock right %}