{% extends "mobile/base.html" %}

{% block title %}推荐有礼{% endblock title %}

{% block base_css %}
<style type="text/css">
html,body{
    height: 100%;
    background: -webkit-linear-gradient(left top, #e8711c, #f09a5d);
    background: linear-gradient(left top, #e8711c, #f09a5d);
}

.logo{
    width: 20%
}

.label{
    color: #72898C;
}

.form-control{
    color: #f1f1f1;
    background-color: transparent;
    border: 0;
    padding-left: 45px;
    border-bottom: 1px solid #567578;
    border-radius: 0;
    -webkit-box-shadow: none; 
            box-shadow: none; 
}
.form-control:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus{
    background-color: #A7B6B8;
    color: #567578;
    border-color: #A7B6B8;
}

.title{
    color: #ffffff;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
</style>
{% endblock %}

{% block base_js %}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    /*
        微信接口
    */
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: 'wxd6922b078dff1607', // 必填，公众号的唯一标识
        timestamp: '{{sign_dict.timestamp}}', // 必填，生成签名的时间戳
        nonceStr: '{{sign_dict.nonceStr}}', // 必填，生成签名的随机串
        signature: '{{sign_dict.signature}}',// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function(){
        wx.onMenuShareAppMessage({
            title: '三点十分 - 免费试吃',
            desc: '提交申请即可欢迎免费体验三点十分的下午茶点服务',
            link: 'http://www.3-10.cc/company/booking?invite_by={{request.user.id}}',
            imgUrl: 'http://static.3-10.cc/img/logo.jpg',
            trigger: function (res) {
                // alert('用户点击发送给朋友');
            },
            success: function (res) {
                // alert('已分享');
            },
            cancel: function (res) {
                // alert('已取消');
            },
            fail: function (res) {
                // alert(JSON.stringify(res));
            }
        });
        
        wx.onMenuShareTimeline({
            title: '三点十分 - 免费试吃',
            desc: '提交申请即有机会免费体验三点十分的下午茶点服务',
            link: 'http://www.3-10.cc/company/booking?invite_by={{request.user.id}}',
            imgUrl: 'http://static.3-10.cc/img/logo.jpg',
            trigger: function (res) {
                // alert('用户点击分享到朋友圈');
            },
            success: function (res) {
                // alert('已分享');
            },
            cancel: function (res) {
                // alert('已取消');
            },
            fail: function (res) {
                // alert(JSON.stringify(res));
            }
        });
        
    });

    if('{{request.user.id}}' == ''){
        $.Global.Notice.WarningTopNotice("请点击公众号[ 推荐有礼 ]菜单进入本页面");
    }

    $('body').height($(document).height());
    
});
</script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row pr">
        <div class="col-xs-12 text-center pt-55">
            <img class="logo" src="{{MEDIA_URL}}img/logo_white.png">
        </div>
        <div class="col-xs-10 col-xs-offset-1 f20 text-center pt-10 co-ffffff">
            三点十分
        </div>
        <div class="col-xs-10 col-xs-offset-1 title">
            <i class="fa fa-gift pr-5 f20"></i>推荐有礼
        </div>
        <div class="col-xs-10 col-xs-offset-1 pr pt-10 co-ffffff">
            <p>凡是所推荐的公司免费试吃后，正式采购三点十分下午茶点服务的:</p>
            <p>单次订单金额在 200 元以上，推荐人可获得<span class="fi fb pl-5 pr-5">100</span>元微信红包奖励</p>
            <p>单次订单金额在 200 元以下，推荐人可获得<span class="fi fb pl-5 pr-5">50</span>元微信红包奖励</p>
            <!-- <p>推荐成功的，公司负责人或直接微信给你发红包哦，简单粗暴有没有</p> -->
        </div>
        <div class="col-xs-10 col-xs-offset-1 title">
            <i class="fa fa-share-square-o pr-5 f18"></i>推荐方法
        </div>
        <div class="col-xs-10 col-xs-offset-1 pr pt-10 co-ffffff">
            点击微信右上角，直接发送给朋友或者分享此链接到朋友圈即可
        </div>
    </div>
</div>
{% endblock %}