<div class="container-fluid pl-0 pr-0 bgc-EE7A32 pr">
    <div class="container-fluid pa" style="left: 0; bottom: 0; width: 100%; opacity: 0.5; min-height: 80px; background-color: #B35B26;"></div>
    <div class="row">
        <div class="col-md-12 text-center f30 pt-80 co-ffffff">
            联系我们
        </div>
        <div class="col-md-12 text-center f20 pt-3 co-ffffff">
            CONTACT US
        </div>
    </div>
    <div class="container pr">
        <img class="w" style="margin-top: -150px;" src="{{MEDIA_URL}}img/home/china.png">
        <div class="row" style="margin-top: -20px;">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-4 city active" data-city="0">成都</div>
                <div class="col-md-4 city" data-city="1">北京</div>
                <div class="col-md-4 city" data-city="2">上海</div>
            </div>
        </div>
        <span class="location">
            <span class="location-cover"></span>
            <span class="location-point"></span>
            <span class="location-wave"></span>
        </span>
        <div class="contact-card row">
            <span class="arrow-left"></span>
            <div class="col-md-12 pr pt-18 pb-18 pl-85 border-bottom-1 bdc-eeeeee">
                <img class="contact-user" src="{{MEDIA_URL}}img/home/user.png">
                <span class='contact-split' style="left: 62px; top: 10px;"></span>
                大橙科技
            </div>
            <div class="col-md-12 pr pt-18 pb-18 pl-85 border-bottom-1 bdc-eeeeee">
                <img class="contact-phone" src="{{MEDIA_URL}}img/home/phone.png">
                <span class='contact-split' style="left: 62px; top: 12px;"></span>
                4008 - 920 - 310
            </div>
            <div class="col-md-12 pr pt-10 pb-10 pl-85">
                <img class="contact-map" src="{{MEDIA_URL}}img/home/map.png">
                <span class='contact-split' style="left: 62px; top: 15px;"></span>
                成都市益州大道1800号移动互联创业大厦
            </div>
        </div>
    </div>
</div>