<div class="pt-30 pb-30 bgc-282828 co4 f12">
    <div class="container pb-0 pt-20 pb-20">
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- <div class="co9 f20">关于我们</div>
                <div class="co6 pt-15 line-height-25 f13">{{STATIC_PAGE_CONTENT.footer_about|safe}}</div>
                <div class="pt-15 co9">
                    <a class="co9 pr-10" href="/s/about">关于我们</a>|
                    <a class="co9 pl-10 pr-10" href="/s/agreement">服务条款</a>|
                    <a class="co9 pl-10 pr-10" href="/s/contact">联系我们</a>
                </div> -->
                <div class="pt-5 co-555555">Copyright &copy; {% if YEAR == "2015" %}{{YEAR}}{% else %}2015 - {{YEAR}}{% endif %} 3-10.club. All Rights Reserved.</div>
                <div class="pt-5 co-555555">蜀ICP备14028531号-2</div>
            </div>
            <!-- <div class="col-md-6">
                <div class="co7 f20">友情链接</div>
                <ul class="list-inline pt-15 f15">
                    <li><a href="http://www.3-10.club" class="gray-white">三点十分</a></li>
                    {% for link in links %}
                    <li><a href="{{link.href}}" class="gray-white" target="_blank">{{link.name}}</a></li>
                    {% endfor %}
                </ul>
            </div> -->
        </div>
    </div>
</div>