{% extends "pc/base/base_home.html" %}

{% block title_all %}三点十分{% endblock %}


{% block home_css %}
<style type="text/css">
.list-group-item{
	border: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}

.list-inline>li{
	padding-left: 15px;
	padding-right: 15px;
}

.list-inline>li.active{
	background-color: #428BCA;
}
.list-inline>li.active>a{
	color: white;
}

body{
	overflow: hidden;
}
</style>
{% endblock %}

{% block home_js %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#search_frame').height($(window).height() + 300);
	});
</script>
{% endblock %}

{% block base_container %}
<!-- <div class="container pr-50 pl-60 pt-100 pb-30">
	<div style="border: 1px solid #ddd; padding: 30px; margin-top: 20px; background-color: #eeeeee;">
		<ul class="list-inline">
			<li><span class="f17">级别</span></li>
			<li class="active"><a href="#">不限</a></li>
			<li><a href="#">越野车/SUV</a></li>
			<li><a href="#">商务车</a></li>
			<li><a href="#">跑车</a></li>
			<li><a href="#">皮卡</a></li>
		</ul>
		<ul class="list-inline">
			<li><span class="f17">品牌</span></li>
			<li class="active"><a href="#">不限</a></li>
			<li><a href="#">大众</a></li>
			<li><a href="#">本田</a></li>
			<li><a href="#">别克</a></li>
			<li><a href="#">丰田</a></li>
			<li><a href="#">奇瑞</a></li>
			<li><a href="#">宝马</a></li>
			<li><a href="#">奥迪</a></li>
		</ul>
		<ul class="list-inline">
			<li><span class="f17">价格</span></li>
			<li class="active"><a href="#">不限</a></li>
			<li><a href="#">3万以内</a></li>
			<li><a href="#">3-5万</a></li>
			<li><a href="#">5-8万</a></li>
			<li><a href="#">8-12万</a></li>
			<li><a href="#">12-20万</a></li>
			<li><a href="#">20-35万</a></li>
			<li><a href="#">35-60万</a></li>
			<li><a href="#">60万以上</a></li>
		</ul>
		<ul class="list-inline">
			<li><span class="f17">车龄</span></li>
			<li class="active"><a href="#">不限</a></li>
			<li><a href="#">1年内</a></li>
			<li><a href="#">2年内</a></li>
			<li><a href="#">3年内</a></li>
			<li><a href="#">3-5年内</a></li>
			<li><a href="#">5-8年内</a></li>
			<li><a href="#">8年以上</a></li>
		</ul>
		<ul class="list-inline">
			<li><span class="f17">里程</span></li>
			<li class="active"><a href="#">不限</a></li>
			<li><a href="#">1万公里内</a></li>
			<li><a href="#">3万公里内</a></li>
			<li><a href="#">5万公里内</a></li>
			<li><a href="#">10万公里内</a></li>
		</ul>
	</div>

	<div class="f16 pt-30">
		共找到<span class="co-66afe9 pr-5 pl-5">5</span>款车
	</div>
	<ul class="list-group row">
		<li class="list-group-item col-md-3">
			<div class="pb-5" style="border: 1px solid #ddd;">
				<div>
					<img class="w" src="http://bcscdn.baidu.com/resource/fFhOZUjRBIgqBIhwlpP_XWRLlp0_NFVOZUhLBWZqZUsLuj.jpeg">
				</div>
				<div class="f16 pt-5 pr-10 pl-10">奔驰 2011款 威霆 2.5L 精英版</div>
				<div class="pt-10 pr-10 pl-10">
					<span class="co-66afe9 fb f18"><i class="fa fa-rmb pr-3"></i>58.9万</span>
					<span class="pull-right co-bbbbbb"><i class="fa fa-map-marker pr-3"></i>成都</span>
				</div>
				<div class="co-555555 pt-10 pr-10 pl-10 co-bbbbbb">
					<span><i class="fa fa-clock-o pr-3"></i>2012/07上牌</span>
					<span class="pull-right"><i class="fa fa-tachometer pr-3"></i>3.51万公里</span>
				</div>
			</div>
		</li>
		<li class="list-group-item col-md-3">
			<div class="pb-5" style="border: 1px solid #ddd;">
				<div>
					<img class="w" src="http://bcscdn.baidu.com/resource/fFhOZUjRBIgqBIhwlpP_XWRLlp0_NFVOZUhLBWZqZUsLuj.jpeg">
				</div>
				<div class="f16 pt-5 pr-10 pl-10">奔驰 2011款 威霆 2.5L 精英版</div>
				<div class="pt-10 pr-10 pl-10">
					<span class="co-66afe9 fb f18"><i class="fa fa-rmb pr-3"></i>58.9万</span>
					<span class="pull-right co-bbbbbb"><i class="fa fa-map-marker pr-3"></i>成都</span>
				</div>
				<div class="co-555555 pt-10 pr-10 pl-10 co-bbbbbb">
					<span><i class="fa fa-clock-o pr-3"></i>2012/07上牌</span>
					<span class="pull-right"><i class="fa fa-tachometer pr-3"></i>3.51万公里</span>
				</div>
			</div>
		</li>
		<li class="list-group-item col-md-3">
			<div class="pb-5" style="border: 1px solid #ddd;">
				<div>
					<img class="w" src="http://bcscdn.baidu.com/resource/fFhO6IlGZUZS0CPW9U0W0Wh3hV-GBcRbuCX-9U--ZIkaBVhIBWhShpRenFvkrUjenGv3XURbBWAquWkqZmjR.jpeg">
				</div>
				<div class="f16 pt-5 pr-10 pl-10">奔驰 2011款 威霆 2.5L 精英版</div>
				<div class="pt-10 pr-10 pl-10">
					<span class="co-66afe9 fb f18"><i class="fa fa-rmb pr-3"></i>58.9万</span>
					<span class="pull-right co-bbbbbb"><i class="fa fa-map-marker pr-3"></i>成都</span>
				</div>
				<div class="co-555555 pt-10 pr-10 pl-10 co-bbbbbb">
					<span><i class="fa fa-clock-o pr-3"></i>2012/07上牌</span>
					<span class="pull-right"><i class="fa fa-tachometer pr-3"></i>3.51万公里</span>
				</div>
			</div>
		</li>
		<li class="list-group-item col-md-3">
			<div class="pb-5" style="border: 1px solid #ddd;">
				<div>
					<img class="w" src="http://bcscdn.baidu.com/resource/fFhOZUjRBIgqBIhwlpP_XWRLlp0_NFVOZUhLBWZqZUsLuj.jpeg">
				</div>
				<div class="f16 pt-5 pr-10 pl-10">奔驰 2011款 威霆 2.5L 精英版</div>
				<div class="pt-10 pr-10 pl-10">
					<span class="co-66afe9 fb f18"><i class="fa fa-rmb pr-3"></i>58.9万</span>
					<span class="pull-right co-bbbbbb"><i class="fa fa-map-marker pr-3"></i>成都</span>
				</div>
				<div class="co-555555 pt-10 pr-10 pl-10 co-bbbbbb">
					<span><i class="fa fa-clock-o pr-3"></i>2012/07上牌</span>
					<span class="pull-right"><i class="fa fa-tachometer pr-3"></i>3.51万公里</span>
				</div>
			</div>
		</li>
		<li class="list-group-item col-md-3">
			<div class="pb-5" style="border: 1px solid #ddd;">
				<div>
					<img class="w" src="http://bcscdn.baidu.com/resource/fFhOZUjRBIgqBIhwlpP_XWRLlp0_NFVOZUhLBWZqZUsLuj.jpeg">
				</div>
				<div class="f16 pt-5 pr-10 pl-10">奔驰 2011款 威霆 2.5L 精英版</div>
				<div class="pt-10 pr-10 pl-10">
					<span class="co-66afe9 fb f18"><i class="fa fa-rmb pr-3"></i>58.9万</span>
					<span class="pull-right co-bbbbbb"><i class="fa fa-map-marker pr-3"></i>成都</span>
				</div>
				<div class="co-555555 pt-10 pr-10 pl-10 co-bbbbbb">
					<span><i class="fa fa-clock-o pr-3"></i>2012/07上牌</span>
					<span class="pull-right"><i class="fa fa-tachometer pr-3"></i>3.51万公里</span>
				</div>
			</div>
		</li>
	</ul>
</div> -->
<iframe id="search_frame" src="http://car.baidu.com/" style="position: absolute; width: 100%; height: 970px; left:0; top: -80px;"></iframe>
{% endblock %}
{% block footer %}{% endblock footer %}