{% extends "pc/base/base_home.html" %}

{% block title_all %}三点十分{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/index.css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/contact-us.css">
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/site/contact-us.js"></script>
<script type="text/javascript">

</script>
{% endblock %}

{% block base_container %}
<div class="container-fluid pl-0 pr-0">
    <div class="row">
        <div class="col-md-12">
            <img class="w" src="{{MEDIA_URL}}img/home/banner-1.jpg">
        </div>
    </div>
</div>
<div class="container-fluid pl-0 pr-0 bgc-84CCC7">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center f30 co-ffffff pt-80 pb-30">三点十分，给你最好的下午茶</div>
            <div class="col-md-10 col-md-offset-1 text-center f14 co-ffffff pb-80 line-height-23">
                <p>最新鲜的水果，最美味的点心，尽在三点十分</p>
                <p>水果每天鲜切，点心每天定制生产，每天按时送达</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pl-0 pr-0">
    <div class="row">
        <div class="col-md-12 text-center f30 pt-80">
            工作流程
        </div>
        <div class="col-md-12 text-center f20 pt-3 co-ADADAD">
            WORKFLOW
        </div>
    </div>
    <div class="container pb-50">
        <div class="row">
            <div class="col-md-6 pt-55">
                <div class="border-1 bdc-eeeeee row mr-0 ml-0">
                    <div>
                        <img class="w" src="{{MEDIA_URL}}img/home/workflow-1.jpg">
                    </div>
                    <div class="col-md-3 f30 pt-25 pb-25 pr-0 text-center">
                        采购
                    </div>
                    <div class="col-md-9 pt-25 pr-25">
                        早上六点，我们的采购团队已经出发到批发市场，力求买到最新鲜的水果食材。
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-55">
                <div class="border-1 bdc-eeeeee row mr-0 ml-0">
                    <div>
                        <img class="w" src="{{MEDIA_URL}}img/home/workflow-2.jpg">
                    </div>
                    <div class="col-md-3 f30 pt-25 pb-25 pr-0 text-center">
                        洗切
                    </div>
                    <div class="col-md-9 pt-25 pr-25">
                        早上六点，我们的采购团队已经出发到批发市场，力求买到最新鲜的水果食材。
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-30">
                <div class="border-1 bdc-eeeeee row mr-0 ml-0">
                    <div>
                        <img class="w" src="{{MEDIA_URL}}img/home/workflow-3.jpg">
                    </div>
                    <div class="col-md-3 f30 pt-25 pb-25 pr-0 text-center">
                        包装
                    </div>
                    <div class="col-md-9 pt-25 pr-25">
                        早上六点，我们的采购团队已经出发到批发市场，力求买到最新鲜的水果食材。
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-30">
                <div class="border-1 bdc-eeeeee row mr-0 ml-0">
                    <div>
                        <img class="w" src="{{MEDIA_URL}}img/home/workflow-4.jpg">
                    </div>
                    <div class="col-md-3 f30 pt-25 pb-25 pr-0 text-center">
                        配送
                    </div>
                    <div class="col-md-9 pt-25 pr-25">
                        早上六点，我们的采购团队已经出发到批发市场，力求买到最新鲜的水果食材。
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pl-0 pr-0 bgc-eeeeee">
    <div class="row">
        <div class="col-md-12 text-center f30 pt-80">
            主要客户
        </div>
        <div class="col-md-12 text-center f20 pt-3 co-ADADAD">
            MAIN CUSTOMER
        </div>
    </div>
    <div class="container pt-55 pb-80">
        <div class="row">
            <div class="col-md-3 pr-50 pl-50">
                <div class="bdr-circle bgc-ffffff pl-30 pr-30 pt-30 pb-30 customer pr">
                    <img class="w" src="{{MEDIA_URL}}img/home/customer-1.png">
                    <div class="customer-circle-1"></div>
                    <div class="customer-circle-2"></div>
                </div>
                <div class="text-center f20 pt-20">咕咚网</div>
            </div>
            <div class="col-md-3 pr-50 pl-50">
                <div class="bdr-circle bgc-ffffff pl-30 pr-30 pt-30 pb-30 customer pr">
                    <img class="w" src="{{MEDIA_URL}}img/home/customer-2.png">
                    <div class="customer-circle-1"></div>
                    <div class="customer-circle-2"></div>
                </div>
                <div class="text-center f20 pt-20">Camera 360</div>
            </div>
            <div class="col-md-3 pr-50 pl-50">
                <div class="bdr-circle bgc-ffffff pl-30 pr-30 pt-30 pb-30 customer pr">
                    <img class="w" src="{{MEDIA_URL}}img/home/customer-3.png">
                    <div class="customer-circle-1"></div>
                    <div class="customer-circle-2"></div>
                </div>
                <div class="text-center f20 pt-20">小娱Wi-Fi</div>
            </div>
            <div class="col-md-3 pr-50 pl-50">
                <div class="bdr-circle bgc-ffffff pl-30 pr-30 pt-30 pb-30 customer pr">
                    <img class="w" src="{{MEDIA_URL}}img/home/customer-4.png">
                    <div class="customer-circle-1"></div>
                    <div class="customer-circle-2"></div>
                </div>
                <div class="text-center f20 pt-20">麦麦</div>
            </div>
        </div>
    </div>
</div>
{% include "pc/include/_contact_us.html" %}
{% endblock %}

