{% extends "pc/base/base_home.html" %}

{% block title_all %}三点十分{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/animate/animate.min.css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/index.css?v={{MEDIA_VERSION}}">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/contact-us.css?v={{MEDIA_VERSION}}">
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.textillate.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.lettering.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/site/contact-us.js?v={{MEDIA_VERSION}}"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/site/index.js?v={{MEDIA_VERSION}}"></script>
{% endblock %}

{% block base_container %}
<div class="container-fluid pl-0 pr-0">
    <div class="row">
        <div class="col-md-12 pr">
            <img class="w visibility-hidden" src="{{MEDIA_URL}}img/home/banner-1.jpg" alt="banner-1">
            <img class="slide-img slide-in" src="{{MEDIA_URL}}img/home/banner-1.jpg" alt="banner-1">
            <img class="slide-img" src="{{MEDIA_URL}}img/home/banner-2.jpg" alt="banner-2">
            <img class="slide-img" src="{{MEDIA_URL}}img/home/banner-3.jpg" alt="banner-3">
            <div class="slide-nav">
                <span class="slide-nav-item active" data-index="0"></span>
                <span class="slide-nav-item" data-index="1"></span>
                <span class="slide-nav-item" data-index="2"></span>
            </div>

            <div class="banner-box banner-box-1">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
                <span class="line-4"></span>
                <span class="line-5"></span>
                <span class="line-6"></span>
                <div class="banner-box-cover"></div>
                <div class="banner-box-main">
                    <img class="text-1 animated" src="{{MEDIA_URL}}img/home/banner-text-1.png">
                    <img class="text-2 animated" src="{{MEDIA_URL}}img/home/banner-text-2.png">
                    <div class="pr">
                        <span class="eng-text" data-in-effect="fadeInUp" data-in-shuffle="true">Plentiful</span>
                        <span class="tag animated">营养均衡</span>
                    </div>
                    <div class="pt-3">
                        <span class="text-3" data-in-effect="flip">按需定制</span>
                        <span class="text-4" data-in-effect="flip">免费配送</span>
                    </div>
                    <div class="pt-0">
                        <span class="text-5" data-in-effect="flipInX">企业下午茶点服务专家</span>
                    </div>
                </div>
            </div>

            <div class="banner-box banner-box-2">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
                <span class="line-4"></span>
                <span class="line-5"></span>
                <span class="line-6"></span>
                <div class="banner-box-cover"></div>
                <div class="banner-box-main">
                    <img class="text-1 animated" src="{{MEDIA_URL}}img/home/banner-text-3.png">
                    <img class="text-2 animated" src="{{MEDIA_URL}}img/home/banner-text-4.png">
                    <div class="pr">
                        <span class="eng-text" data-in-effect="fadeInUp" data-in-shuffle="true">Fresh Fruit</span>
                        <span class="tag animated">质量保证</span>
                    </div>
                    <div class="pt-3">
                        <span class="text-3" data-in-effect="flip">时令鲜果</span>
                        <span class="text-4" data-in-effect="flip">精心搭配</span>
                    </div>
                    <div class="pt-0">
                        <span class="text-5" data-in-effect="flipInX">丰富您的下午茶时光</span>
                    </div>
                </div>
            </div>

            <div class="banner-box banner-box-3">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
                <span class="line-4"></span>
                <span class="line-5"></span>
                <span class="line-6"></span>
                <div class="banner-box-cover"></div>
                <div class="banner-box-main">
                    <img class="text-1 animated" src="{{MEDIA_URL}}img/home/banner-text-5.png">
                    <img class="text-2 animated" src="{{MEDIA_URL}}img/home/banner-text-6.png">
                    <div class="pr">
                        <span class="eng-text" data-in-effect="fadeInUp" data-in-shuffle="true">Delicious</span>
                        <span class="tag animated">新鲜出炉</span>
                    </div>
                    <div class="pt-3">
                        <span class="text-3" data-in-effect="flip">按需生产</span>
                        <span class="text-4" data-in-effect="flip">美味可口</span>
                    </div>
                    <div class="pt-0">
                        <span class="text-5" data-in-effect="flipInX">让你的味觉得以释放</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid pl-0 pr-0 bgc-84CCC7">
    <div class="container">
        <div class="row pr">
            <div class="col-md-12 text-center f30 co-ffffff pt-80 pb-30">三点十分，给企业提供最好的下午茶</div>
            <div class="col-md-10 col-md-offset-1 text-center f14 co-ffffff pb-80 line-height-23">
                <p>最新鲜的水果，最美味的点心，尽在三点十分</p>
                <p>水果每天鲜切，点心每天定制生产，每天按时送达</p>
            </div>
            <span class="arrow-bottom"></span>
        </div>
    </div>
</div>
<div class="container-fluid pl-0 pr-0">
    <div class="row">
        <div class="col-md-12 text-center f30 pt-80">
            工作流程
        </div>
        <div class="col-md-12 text-center f20 pt-3 co-ADADAD">
            WORKFLOW
        </div>
    </div>
    <div class="container pb-50">
        <div class="row">
            <div class="col-md-6 pt-55">
                <div class="border-1 bdc-eeeeee row mr-0 ml-0">
                    <div>
                        <img class="w" src="{{MEDIA_URL}}img/home/workflow-1.jpg" alt="采购">
                    </div>
                    <div class="col-md-3 f30 pt-30 pb-25 pr-0 text-center">
                        采购
                    </div>
                    <div class="col-md-9 pt-25 pr-25 pb-20">
                        每天早上，我们的采购团队已经出发到批发市场和大型超市，力求买到最新鲜的水果食材；点心工厂同时会定制生产可口的点心，每天定时配送
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-55">
                <div class="border-1 bdc-eeeeee row mr-0 ml-0">
                    <div>
                        <img class="w" src="{{MEDIA_URL}}img/home/workflow-2.jpg" alt="洗切">
                    </div>
                    <div class="col-md-3 f30 pt-30 pb-25 pr-0 text-center">
                        洗切
                    </div>
                    <div class="col-md-9 pt-25 pr-25 pb-20">
                        采购回来的新鲜水果，我们的服务专员会用专业的果蔬清洗设备进行清洗，然后对各类水果进行精心分切，保证大家食用的方便性
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-30">
                <div class="border-1 bdc-eeeeee row mr-0 ml-0">
                    <div>
                        <img class="w" src="{{MEDIA_URL}}img/home/workflow-3.jpg" alt="包装">
                    </div>
                    <div class="col-md-3 f30 pt-25 pb-25 pr-0 text-center">
                        包装
                    </div>
                    <div class="col-md-9 pt-25 pr-25">
                        水果和点心我们都采用干净卫生的工具进行包装，并且确保运输配送环节无任何污染
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-30">
                <div class="border-1 bdc-eeeeee row mr-0 ml-0">
                    <div>
                        <img class="w" src="{{MEDIA_URL}}img/home/workflow-4.jpg" alt="配送">
                    </div>
                    <div class="col-md-3 f30 pt-25 pb-25 pr-0 text-center">
                        配送
                    </div>
                    <div class="col-md-9 pt-25 pr-25">
                        全程冷链运输，锁住食物的每一份新鲜，优美的摆盘让你的视觉和味觉同时得以绽放
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pl-0 pr-0 bgc-eeeeee">
    <div class="row">
        <div class="col-md-12 text-center f30 pt-80">
            典型客户
        </div>
        <div class="col-md-12 text-center f20 pt-3 co-ADADAD">
            MAIN CUSTOMER
        </div>
    </div>
    <div class="container pt-55 pb-80">
        <div class="row">
            <div class="col-md-3 pr-50 pl-50">
                <div class="bdr-circle bgc-ffffff pl-30 pr-30 pt-30 pb-30 customer pr">
                    <img class="w" src="{{MEDIA_URL}}img/home/customer-1.png" alt="咕咚网">
                    <div class="customer-circle-1"></div>
                    <div class="customer-circle-2"></div>
                </div>
                <div class="text-center f20 pt-20">咕咚网</div>
            </div>
            <div class="col-md-3 pr-50 pl-50">
                <div class="bdr-circle bgc-ffffff pl-30 pr-30 pt-30 pb-30 customer pr">
                    <img class="w" src="{{MEDIA_URL}}img/home/customer-4.png" alt="e代洗">
                    <div class="customer-circle-1"></div>
                    <div class="customer-circle-2"></div>
                </div>
                <div class="text-center f20 pt-20">e袋洗</div>
            </div>
            <div class="col-md-3 pr-50 pl-50">
                <div class="bdr-circle bgc-ffffff pl-30 pr-30 pt-30 pb-30 customer pr">
                    <img class="w" src="{{MEDIA_URL}}img/home/customer-3.png" alt="味他">
                    <div class="customer-circle-1"></div>
                    <div class="customer-circle-2"></div>
                </div>
                <div class="text-center f20 pt-20">味他</div>
            </div>
            <div class="col-md-3 pr-50 pl-50">
                <div class="bdr-circle bgc-ffffff pl-30 pr-30 pt-30 pb-30 customer pr">
                    <img class="w" src="{{MEDIA_URL}}img/home/customer-2.png" alt="有明堂互动">
                    <div class="customer-circle-1"></div>
                    <div class="customer-circle-2"></div>
                </div>
                <div class="text-center f20 pt-20">有明堂互动</div>
            </div>
        </div>
    </div>
</div>
{% include "pc/include/_contact_us.html" %}
{% endblock %}

