{% extends "pc/base/base_home.html" %}

{% block title_all %}三点十分{% endblock %}
{% block css %}
<style type="text/css">
.customer{
    -webkit-transition: all 0.2s;
            transition: all 0.2s;
    cursor: pointer;
}
.customer:hover{
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background-color: #f9f9f9;
}
.customer-circle-1{
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
}
.customer:hover .customer-circle-1{
    -webkit-animation: circle-wave-1 1.3s ease-out 75ms;
            animation: circle-wave-1 1.3s ease-out 75ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
@-webkit-keyframes circle-wave-1 {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.6;
        border: 1px solid #eee;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        border: 1px solid #eee;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.25);
                transform: scale(1.25);
        opacity: 0;
    }
}
@keyframes circle-wave-1 {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.6;
        border: 1px solid #eee;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        border: 1px solid #eee;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.25);
                transform: scale(1.25);
        opacity: 0;
    }
}
.customer-circle-2{
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
}
.customer:hover .customer-circle-2{
    -webkit-animation: circle-wave-2 1.3s ease-out 75ms;
            animation: circle-wave-2 1.3s ease-out 75ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
@-webkit-keyframes circle-wave-2 {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.6;
        border: 1px solid #eee;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        border: 1px solid #eee;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes circle-wave-2 {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.6;
        border: 1px solid #eee;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        border: 1px solid #eee;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        opacity: 0;
    }
}

</style>
{% endblock %}

{% block js %}

<script type="text/javascript">
$(document).ready(function(){

});

</script>
{% endblock %}

{% block base_container %}
<div class="container-fluid pl-0 pr-0">
    <div class="row">
        <div class="col-md-12">
            <img class="w" src="{{MEDIA_URL}}img/home/banner-1.jpg">
        </div>
    </div>
</div>
<div class="container-fluid pl-0 pr-0 bgc-84CCC7">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center f30 co-ffffff pt-80 pb-30">三点十分，给你最好的下午茶</div>
            <div class="col-md-10 col-md-offset-1 text-center f14 co-ffffff pb-80 line-height-23">
                <p>
                车咖，以行业领导者为目标，致力打造汽车行业的五星级快修美容连锁；届时你会像当初惊叹苹果公司给手机行业带来的冲击一样，惊叹车咖给你带来的非比寻常的汽车保养体验。这一切并不遥远，这一切将要发生，集万千宠爱于一身的车咖，经大师之手精心打磨，即将重磅出场。由此，汽车快修美容行业将被刷新；汽车快修美容行业历史将被改写。
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pl-0 pr-0">
    <div class="row">
        <div class="col-md-12 text-center f30 pt-80">
            工作流程
        </div>
        <div class="col-md-12 text-center f20 pt-3 co-ADADAD">
            WORKFLOW
        </div>
    </div>
    <div class="container pb-50">
        <div class="row">
            <div class="col-md-6 pt-55">
                <div class="border-1 bdc-eeeeee row mr-0 ml-0">
                    <div>
                        <img class="w" src="{{MEDIA_URL}}img/home/workflow-1.jpg">
                    </div>
                    <div class="col-md-3 f30 pt-25 pb-25 pl-35">
                        采购
                    </div>
                    <div class="col-md-9 pt-25 pr-25">
                        早上六点，我们的采购团队已经出发到批发市场，力求买到最新鲜的水果食材。
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-55">
                <div class="border-1 bdc-eeeeee row mr-0 ml-0">
                    <div>
                        <img class="w" src="{{MEDIA_URL}}img/home/workflow-2.jpg">
                    </div>
                    <div class="col-md-3 f30 pt-25 pb-25 pl-35">
                        洗切
                    </div>
                    <div class="col-md-9 pt-25 pr-25">
                        早上六点，我们的采购团队已经出发到批发市场，力求买到最新鲜的水果食材。
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-30">
                <div class="border-1 bdc-eeeeee row mr-0 ml-0">
                    <div>
                        <img class="w" src="{{MEDIA_URL}}img/home/workflow-3.jpg">
                    </div>
                    <div class="col-md-3 f30 pt-25 pb-25 pl-35">
                        包装
                    </div>
                    <div class="col-md-9 pt-25 pr-25">
                        早上六点，我们的采购团队已经出发到批发市场，力求买到最新鲜的水果食材。
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-30">
                <div class="border-1 bdc-eeeeee row mr-0 ml-0">
                    <div>
                        <img class="w" src="{{MEDIA_URL}}img/home/workflow-4.jpg">
                    </div>
                    <div class="col-md-3 f30 pt-25 pb-25 pl-35">
                        配送
                    </div>
                    <div class="col-md-9 pt-25 pr-25">
                        早上六点，我们的采购团队已经出发到批发市场，力求买到最新鲜的水果食材。
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pl-0 pr-0 bgc-eeeeee">
    <div class="row">
        <div class="col-md-12 text-center f30 pt-80">
            主要客户
        </div>
        <div class="col-md-12 text-center f20 pt-3 co-ADADAD">
            MAIN CUSTOMER
        </div>
    </div>
    <div class="container pt-55 pb-80">
        <div class="row">
            <div class="col-md-3 pr-50 pl-50">
                <div class="bdr-circle bgc-ffffff pl-30 pr-30 pt-30 pb-30 customer pr">
                    <img class="w" src="{{MEDIA_URL}}img/home/customer-1.png">
                    <div class="customer-circle-1"></div>
                    <div class="customer-circle-2"></div>
                </div>
                <div class="text-center f20 pt-20">咕咚网</div>
            </div>
            <div class="col-md-3 pr-50 pl-50">
                <div class="bdr-circle bgc-ffffff pl-30 pr-30 pt-30 pb-30 customer pr">
                    <img class="w" src="{{MEDIA_URL}}img/home/customer-2.png">
                    <div class="customer-circle-1"></div>
                    <div class="customer-circle-2"></div>
                </div>
                <div class="text-center f20 pt-20">Camera 360</div>
            </div>
            <div class="col-md-3 pr-50 pl-50">
                <div class="bdr-circle bgc-ffffff pl-30 pr-30 pt-30 pb-30 customer pr">
                    <img class="w" src="{{MEDIA_URL}}img/home/customer-3.png">
                    <div class="customer-circle-1"></div>
                    <div class="customer-circle-2"></div>
                </div>
                <div class="text-center f20 pt-20">小娱Wi-Fi</div>
            </div>
            <div class="col-md-3 pr-50 pl-50">
                <div class="bdr-circle bgc-ffffff pl-30 pr-30 pt-30 pb-30 customer pr">
                    <img class="w" src="{{MEDIA_URL}}img/home/customer-4.png">
                    <div class="customer-circle-1"></div>
                    <div class="customer-circle-2"></div>
                </div>
                <div class="text-center f20 pt-20">麦麦</div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pl-0 pr-0 bgc-EE7A32">
    <div class="row">
        <div class="col-md-12 text-center f30 pt-80 co-ffffff">
            联系我们
        </div>
        <div class="col-md-12 text-center f20 pt-3 co-ffffff">
            CONTACT US
        </div>
    </div>
    <div class="container" style="min-height: 300px;">
        
    </div>
    <div class="container-fluid" style="min-height: 80px; background-color: #B35B26;">
        
    </div>
</div>
{% endblock %}

