body {
	font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif； 
	color: #222;
}

body{
	font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
}

a:focus {outline: none; -moz-outline: none;}

.line-through{text-decoration: line-through;}
.no-underline{text-decoration: none;}
.no-underline:hover{text-decoration: none;}

.line-height-35{
	line-height: 35px;
}

.none{display: none}
.block{display: block;}
.inline-block{display: inline-block;}

.pointer{cursor: pointer;}

.fb{font-weight: bold;}
.fi{font-style: italic;}

.pa{position: absolute;}
.pr{position: relative;}
.pf{position: fixed;}

.f12{font-size: 12px;}
.f18{font-size: 18px;}
.f22{font-size: 22px;}

.w{width: 100%;}
.w35{width: 35px;}
.w40{width: 40px;}
.w100{width: 100px;}
.w300{width: 300px;}
.h{height: 100%;}

.co-ffffff{color: #ffffff;}
.co-222222{color: #222222;}
.co-8CA0B4{color: #8CA0B4;}

.border-1{border: 1px solid;}
.border-2{border: 2px solid;}
.border-bottom-1{border-bottom: 1px solid;}

.bdc-ffffff{border-color: #ffffff;}
.bdc-303547{border-color: #303547;}

.bdr-circle{border-radius: 50%;}

.bgc-eeeeee{background-color: #eeeeee;}
.bgc-EEF3F6{background-color: #EEF3F6;}
.bgc-333A4C{background-color: #333A4C;}
.bgc-3E445B{background-color: #3E445B;}
.bgc-ffffff{background-color: #ffffff;}

.pt-0{padding-top: 0;}
.pt-15{padding-top: 15px;}
.pt-20{padding-top: 20px;}
.pt-25{padding-top: 25px;}
.pt-30{padding-top: 30px;}
.pt-100{padding-top: 100px;}
.pb-0{padding-bottom: 0;}
.pb-15{padding-bottom: 15px;}
.pb-20{padding-bottom: 20px;}
.pb-30{padding-bottom: 30px;}
.pl-0{padding-left: 0;}
.pl-15{padding-left: 15px;}
.pl-25{padding-left: 25px;}
.pl-30{padding-left: 30px;}
.pl-35{padding-left: 35px;}
.pl-40{padding-left: 40px;}
.pl-45{padding-left: 45px;}
.pl-50{padding-left: 50px;}
.pl-60{padding-left: 60px;}
.pl-65{padding-left: 65px;}
.pl-240{padding-left: 240px;}
.pl-300{padding-left: 300px;}
.pr-0{padding-right: 0;}
.pr-15{padding-right: 15px;}
.pr-30{padding-right: 30px;}

.mr-0{margin-right: 0;}
.ml-0{margin-left: 0;}
.ml-300{margin-left: 300px;}
.mb-0{margin-bottom: 0;}
.mb-20{margin-bottom: 20px;}
.mt-10{margin-top: 10px;}
.mt-15{margin-top: 15px;}

.z-99{z-index: 99;}
.z-100{z-index: 100;}

.placeholder { color: #aaa; }

.avatar-30{
	width: 30px;
	border-radius: 50%;
}