{% extends "pc/company/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}账户充值{% endblock %}
{% block frame_title %}账户充值{% endblock %}
{% block frame_title_m %}账户充值{% endblock %}

{% block css %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){

    $('.recharge').on('submit', function(e){
        var totalFee = $.trim($('.total-fee').val());
        
        if(totalFee == ""){
            $.Global.Notice.InfoTopNotice("金额不能为空");
            return false;
        }
        if(!/^(\d{1,7}\.\d{1,2}|\d{1,9})$/.test(totalFee)){
            $.Global.Notice.InfoTopNotice("金额格式错误");
            return false;
        }
        totalFee = parseFloat(totalFee)
        if(totalFee <= 0){
            $.Global.Notice.InfoTopNotice("金额格式错误");
            return false;
        }

        $('#recharge_modal').modal({'show': true, 'backdrop': 'static'});
        return false;
    });
});
</script>
{% endblock %}

{% block frame_main %}
<ul class="nav nav-pills orange-nav-pills">
    <li class="active">
        <a href="#online-recharge" data-toggle="pill">
            <i class="fa fa-desktop pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">在线充值</span>
            <span class="hidden-xs">在线充值</span>
        </a>
    </li>
    <li class="">
        <a href="#transfers" data-toggle="pill">
            <i class="fa fa-credit-card pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">对公转账</span>
            <span class="hidden-xs">对公转账</span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="online-recharge">
        <form class="pt-20 form-horizontal recharge" action="./deposit" method="post" target="_blank">
            <div class="col-md-12 f18 pb-30 pl-0">
                <span>当前账户余额: <span class="co-1DABD9 fb">{{account.balance}}</span> 元</span>
            </div>
            <input name="pay_type" value="1" type="hidden" />
            <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                <label class="col-sm-1 control-label pl-0">充值金额</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control total-fee" name="total_fee" value="{{total_fee}}">
                </div>
            </div>
            <div class="form-group pt-20 pb-20 mb-0">
                <button class="btn btn-primary ok" type="submit">确认充值</button>
            </div>
        </form>
    </div>
    <div class="tab-pane fade in" id="transfers">
        <p class="pt-20">请直接往大橙科技对公账户汇款，充值完成后，管理员会更新贵公司账户余额信息</p>
        <p></p>
        <br/>
        <p>户名：<span class="co-1DABD9">成都大橙科技有限公司</span></p>
        <p>账号：<span class="co-1DABD9 fb">128906453410901</span></p>
        <p>开户行：<span class="co-1DABD9">招商银行成都世纪城支行</span></p>
    </div>
</div>

<div class="modal fade" id="recharge_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body pb-0" style="background-color: #E7F9FF; ">
                <div class="row">
                    <div class="col-md-12 f30 text-center co-428bca pb-20 pt-10">
                        <span class="pl-35">正在支付...</span>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="col-md-12 pt-15 pb-15 pl-0 pr-0 bgc-ffffff">
                        <div class="col-md-6 border-right-1 bdc-dddddd pt-20 pb-30">
                            <div class="col-md-2 pt-20 col-md-offset-1">
                                <i class="fa fa-close co-C33333 f35"></i>
                            </div>
                            <div class="col-md-9">
                                <div class="f20 pt-10">支付失败...</div>
                                <div class="f13 pt-10 co-888888">请联系三点十分管理员</div>
                            </div>
                        </div>
                        <div class="col-md-6 bgc-ffffff pt-20 pb-30">
                            <div class="col-md-2 pt-20 col-md-offset-1">
                                <i class="fa fa-check co-19BA40 f35"></i>
                            </div>
                            <div class="col-md-9">
                                <div class="f20 pt-10">支付成功!</div>
                                <div class="f13 pt-10 co-888888">立即查看<a href="/company/">账户余额</a></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}