{% extends "pc/company/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}操作错误{% endblock %}
{% block frame_title %}操作错误{% endblock %}
{% block frame_title_m %}操作错误{% endblock %}

{% block css %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block frame_main %}
<div class="text-center pt-40">
    <i class="fa fa-close co-C33333 f40"></i><span class="pl-10 f20">操作错误!</span>
</div>
<div class="text-center pt-10 co-888888">
    充值失败，请联系三点十分管理员
</div>
{% endblock %}