{% extends "pc/company/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}意见反馈{% endblock %}
{% block frame_title %}意见反馈{% endblock %}
{% block frame_title_m %}意见反馈{% endblock %}

{% block css %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block frame_main %}
<div class="row">
	<div class="col-md-12">
		<p>请拨打客服电话 4008-920-310</p>
		<p>或</p>
		<p>扫描关注三点十分微信公众号后，在公众号内留言反馈，客服人员会及时跟进</p>
		<p>
			<img style="width: 230px;" src="{{MEDIA_URL}}img/qrcode_430.jpg">
		</p>
	</div>
</div>
{% endblock %}