{% extends "pc/base/base_company.html" %}

{% block base_css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/company/home.css">
{% block css %}{% endblock %}
{% endblock %}

{% block base_js %}
<script type="text/javascript">
$(document).ready(function(){

    // 侧面菜单的开关
    $('.sidebar').on('click', function(){
        $('.frame-top').toggleClass('nav-open');
        $('.frame-main').toggleClass('nav-open');
        $('.sidebar').toggleClass('sidebar-open');
    });

    // 点击菜单事件
    $('.p-nav>.list-group-item>a').on('click', function(e){

        // 关闭其他的菜单
        $('.sub-nav').slideUp('fast');
        $('.p-nav>.list-group-item').removeClass('nav-down');
        $(this).parent().addClass('nav-down');

        // 打开点击的目标菜单
        var target = $(this).next();

        if(target && target.css('display') != 'none'){
            target.slideUp('fast');
        }
        else{
            target.slideDown('fast');
        }

        // e.preventDefault();

    });
    $('.sub-nav>.list-group-item').on('click', function(e){
        $(this).children()[0].click();
    })

    $('.sub-nav>.list-group-item.active').parents('li').addClass('active');
    // 将子菜单打开
    $('.p-nav>.list-group-item.active>.sub-nav').slideDown('fast');

    // 手机访问时 用户头像点击事件
    $('.user-avatar').on('click', function(){

        var target = $(this).next();
        if(target.css('display') == 'none'){
            target.fadeIn('fast');
        } else {
            target.fadeOut('fast');
        }
        
    });

});
</script>
{% block javascript %}{% endblock %}
{% endblock %}

{% block base_container %}
<div class="container-fluid pr-0 pl-0">
    <div class="frame-top">
        <span class="sidebar">
            <span class="sidebar-line sidebar-line-1"></span>
            <span class="sidebar-line sidebar-line-2"></span>
            <span class="sidebar-line sidebar-line-3"></span>
        </span>

        <span class="f18">{% block frame_title_m %}{% endblock %}</span>
        <img class="user-avatar avatar-30 pa" style="right: 20px; top: 12px;" src="{{request.user.get_avatar_100}}">
        <ul class="dropdown-menu pa co-222222" style="right: 1px; left: auto; top: 52px; max-width: 160px;">
            <li>
                <a href="#"><i class="fa fa-user pr-5"></i>半夜没事瞎溜达</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/logout"><i class="fa fa-sign-out pr-5"></i>退出</a>
            </li>
        </ul>
    </div>
    <div class="frame-left">
        <div class="co-ffffff pr pt-20 pb-20">
            <a href="/" target="_blank">
                <img class="pa" style="left: 10px; top: 22px; width: 50px;" src="http://static.3-10.cc/img/logo.png">
            </a>
            <div class="f20 pl-65 fb">三点十分 公司平台</div>
            <div class="f14 pl-65 pt-5 company-name">{{request.company.name}}</div>
        </div>
        <ul class="list-group p-nav">
            <li class="list-group-item {% if '/record' in request.path %}active{% endif %}">
                <a href="/company/{{request.company.id}}/record"><i class="fa fa-list pr-3"></i>账户余额</a>
            </li>
            <li class="list-group-item {% if '/deposit' in request.path %}active{% endif %}">
                <a href="/company/{{request.company.id}}/deposit"><i class="fa fa-credit-card pr-3"></i>账户充值</a>
            </li>
            <li class="list-group-item {% if '/orders' in request.path %}active{% endif %}">
                <a href="/company/{{request.company.id}}/orders"><i class="fa fa-list-alt pr-3"></i>我的订单</a>
            </li>
            <li class="list-group-item {% if '/meal' in request.path %}active{% endif %}">
                <a href="/company/{{request.company.id}}/meal"><i class="fa fa-archive pr-3"></i>我的套餐</a>
            </li>
            <li class="list-group-item {% if '/feedback' in request.path %}active{% endif %}">
                <a href="/company/{{request.company.id}}/feedback"><i class="fa fa-weixin pr-3"></i>意见反馈</a>
            </li>
        </ul>
    </div>

    <div class="frame-main">
        <div class="col-md-12 col-sm-12 pt-32 pb-30 hidden-xs bgc-ffffff">
            <div class="col-md-6 col-sm-6 pl-30">
                <span class="f22 co-8CA0B4">{% block frame_title %}{% endblock %}</span>
            </div>
            <div class="col-md-6 col-sm-6 text-right pr">
                <img class="avatar-30" src="{{request.user.get_avatar_100}}">
                <span>{{request.user.nick}}，</span>
                <a class="pr-10" href="/logout"><i class="fa fa-sign-out pr-3"></i>退出</a>
            </div>
        </div>

        <div class="content-main col-md-12 col-xs-12">
            <div style="min-height: 700px;">
                {% block frame_main %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}