{% extends "pc/base/base_company.html" %}

{% block title %}订单列表{% endblock title %}

{% block base_css %}
<style type="text/css">
@media (min-width: 768px){
    .container{
        width: 900px;
    }
}
.seal{
    position: absolute;
    bottom: 2px;
    right: 25px;
    z-index: 99;
    width: 150px;
}
</style>
{% endblock %}

{% block base_container %}
<div class="container pt-20">
    <div class="row">
        <div class="col-md-12 f25 text-center">{{request.company.name}} 下午茶订单列表</div>
    </div>
    <table class="table table-hover mt-20">
        <thead>
            <tr>
                <th>#</th>
                <th>订单号</th>
                <th>确认时间</th>
                <th>份数</th>
                <th>价格</th>
                <th>状态</th>
            </tr>
        </thead>
        <tbody>
            {% for order in data %}
            <tr>
                <td>{{ order.num }}</td>
                <td>
                    {{ order.order_no }}
                </td>
                <td>{{ order.confirm_time }}</td>
                <td>{{ order.person_count }}</td>
                <td>{{ order.total_price }}</td>
                <td>
                {% if order.state == 1 %}
                    <span style="color: #EFA63F"><i class="fa fa-pencil pr-5"></i>{{ order.state_str }}</span>
                {% elif order.state == 2 %}
                    <span style="color: #4BB9DA"><i class="fa fa-truck pr-5"></i>{{ order.state_str }}</span>
                {% elif order.state == 3 %}
                    <span style="color: #55AF55"><i class="fa fa-check pr-5"></i>{{ order.state_str }}</span>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row pt-30 pr">
        <div class="col-md-12 text-right">
            <div class="col-md-12 text-right bdc-dddddd border-top-2 pb-10"></div>
            <span>订单时间：{{start_date|date:"Y-m-d"}} 至 {{end_date|date:"Y-m-d"}}</span>
            <span class="pl-10">消费金额共计：<span class="fb">{{total_price}}</span> 元</span>
        </div>
        <div class="col-md-12 text-right pt-10">
            提供方：三点十分
        </div>
        <img src="http://static.3-10.cc/img/seal.png" class="seal">
    </div>
</div>
{% endblock %}