{% extends "pc/company/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}我的套餐{% endblock %}
{% block frame_title %}我的套餐{% endblock %}
{% block frame_title_m %}我的套餐{% endblock %}

{% block css %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    var itemDetailView = new $.Global.ComponentView.ItemDetailView({el: '#item_detail'});
    itemDetailView.showItemImage = true;
    itemDetailView.render();
    itemDetailView.getItemsByMealId('{{meal.id}}');
});
</script>
{% endblock %}

{% block frame_main %}
<div class="row">
    <div class="col-md-12 col-xs-12 pt-10 f18">
        <div class="col-md-6 pl-0">套餐价格: <span class="co-1DABD9 fb">{{meal.price}}</span> 元，套餐详情如下：</div>
        <!-- <div class="col-md-6 pr-0 text-right">在线定制套餐功能即将开放.....</div> -->
    </div>
    <div class="col-md-12 col-xs-12 pt-20" id="item_detail"></div>
</div>
{% endblock %}