{% extends "pc/company/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}我的套餐{% endblock %}
{% block frame_title %}我的套餐{% endblock %}
{% block frame_title_m %}我的套餐{% endblock %}

{% block css %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block frame_main %}
<div class="row">
	<div class="col-md-12 col-xs-12 pt-10 f18">
		<div class="col-md-6 pl-0">套餐价格: <span class="co-1DABD9 fb">{{meal.price}}</span> 元，套餐详情如下：</div>
		<div class="col-md-6 pr-0 text-right">套餐定制功能即将开放，尽请期待</div>
	</div>
	<div class="col-md-12 col-xs-12 pt-20">
		<table class="table table-hover">
		    <thead>
	          	<tr>
	            	<th class="hidden-xs">产品编号</th>
	            	<th>产品名称</th>
	            	<th>数量</th>
	            	<th>规格</th>
	            	<th>类别</th>
	          	</tr>
	        </thead>
	        <tbody>
	        	{% if data.1 %}
	        	<tr>
	        		<td colspan="5" class="fb fi border-bottom-2 bdc-dddddd">水果</td>
	        	</tr>
	        	{% for per in data.1 %}
	        	<tr>
		            <td class="hidden-xs">{{per.code}}</td>
		            <td>{{per.name}}</td>
		            <td>{{per.amount}}</td>
		            <td>{{per.spec}}</td>
		            <td>{{per.type}}</td>
	          	</tr>
	        	{% endfor %}
	        	{% endif %}

	        	{% if data.2 %}
	          	<tr>
	        		<td colspan="5" class="fb fi border-bottom-2 bdc-dddddd">点心</td>
	        	</tr>
	          	{% for per in data.2 %}
	        	<tr>
		            <td class="hidden-xs">{{per.code}}</td>
		            <td>{{per.name}}</td>
		            <td>{{per.amount}}</td>
		            <td>{{per.spec}}</td>
		            <td>{{per.type}}</td>
	          	</tr>
	        	{% endfor %}
	        	{% endif %}

	        	{% if data.3 %}
	          	<tr>
	        		<td colspan="5" class="fb fi border-bottom-2 bdc-dddddd">一次性耗材</td>
	        	</tr>
	          	{% for per in data.3 %}
	        	<tr>
		            <td class="hidden-xs">{{per.code}}</td>
		            <td>{{per.name}}</td>
		            <td>{{per.amount}}</td>
		            <td>{{per.spec}}</td>
		            <td>{{per.type}}</td>
	          	</tr>
	        	{% endfor %}
	        	{% endif %}

	        	{% if data.4 %}
	          	<tr>
	        		<td colspan="5" class="fb fi border-bottom-2 bdc-dddddd">盛装容器</td>
	        	</tr>
	          	{% for per in data.4 %}
	        	<tr>
		            <td class="hidden-xs">{{per.code}}</td>
		            <td>{{per.name}}</td>
		            <td>{{per.amount}}</td>
		            <td>{{per.spec}}</td>
		            <td>{{per.type}}</td>
	          	</tr>
	        	{% endfor %}
	        	{% endif %}
	        </tbody>
	    </table>
	</div>
</div>
{% endblock %}