{% extends "pc/company/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}我的订单{% endblock %}
{% block frame_title %}我的订单{% endblock %}
{% block frame_title_m %}我的订单{% endblock %}

{% block css %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $('#start_date_search').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });

    $('#end_date_search').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });

});
</script>
{% endblock %}

{% block frame_main %}
<div class="row ml-0 mr-0">
    <div class="col-md-12 f16 border-bottom-2 bdc-dddddd pb-10">
        <span><i class="fa fa-list-ol pr-5"></i>订单列表</span>
    </div>
    <div class="col-md-12 pl-0 pr-0">
        <form action="./orders" class="form-inline pt-15">
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">开始日期</span>
                <input type="text" class="form-control" name="start_date" id="start_date_search" value="{{start_date|date}}"  />
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">结束日期</span>
                <input type="text" class="form-control" name="end_date" id="end_date_search" value="{{end_date|date}}"  />
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">订单号</span>
                <input type="text" class="form-control order-no" value="{{order_no|default:''}}" name="order_no" placeholder="输入订单号..." />
                <span class="input-group-btn">
                    <button class="btn btn-default search bgc-eeeeee" type="submit">查询</button>
                </span>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>订单号</th>
                    <th class="hidden-xs">创建时间</th>
                    <th class="hidden-xs">配送人</th>
                    <th class="hidden-xs">配送时间</th>
                    <th class="hidden-xs">确认时间</th>
                    <th class="hidden-xs">试吃</th>
                    <th>价格</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                {% for order in data %}
                <tr>
                    <td>{{ order.num }}</td>
                    <td>{{ order.order_no }}</td>
                    <td class="hidden-xs">{{ order.create_time }}</td>
                    <td class="hidden-xs">{{ order.distribute_operator_name }}</td>
                    <td class="hidden-xs">{{ order.distribute_time }}</td>
                    <td class="hidden-xs">{{ order.confirm_time }}</td>
                    <td class="hidden-xs">{% if order.is_test == 1 %}试吃{% endif %}</td>
                    <td>{{ order.total_price }}</td>
                    <td>
                    {% if order.state == 1 %}
                        <span style="color: #EFA63F"><i class="fa fa-pencil pr-5"></i>{{ order.state_str }}</span>
                    {% elif order.state == 2 %}
                        <span style="color: #4BB9DA"><i class="fa fa-truck pr-5"></i>{{ order.state_str }}</span>
                    {% elif order.state == 3 %}
                        <span style="color: #55AF55"><i class="fa fa-check pr-5"></i>{{ order.state_str }}</span>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-12">
        {{page_params|paging:request}}
    </div>
</div>
{% endblock %}