{% extends "pc/company/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}操作成功{% endblock %}
{% block frame_title %}操作成功{% endblock %}
{% block frame_title_m %}操作成功{% endblock %}

{% block css %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block frame_main %}
<div class="text-center pt-40">
    <i class="fa fa-check co-1DABD9 f40"></i><span class="pl-10 f20">充值成功!</span>
</div>
<div class="text-center pt-10 co-888888">
    <span class="pr-3">3</span>秒之后页面跳转
</div>
{% endblock %}