.city{
    line-height: 70px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all .3s;
            transition: all .3s;
}
.city.active, .city:hover{
    background-color: #623314;
}

.location{
    position: absolute;
    left: 470px;
    top: 470px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}
.location-cover{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    opacity: 0.4;
    background-color: #B35B26;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.location-point{
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    margin: 18px;
    position: relative;
    z-index: 2;
}
.location-wave{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: solid 1px white;
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    -webkit-animation: location-wave-effect 1.9s infinite;
            animation: location-wave-effect 1.9s infinite;
}
@-webkit-keyframes location-wave-effect {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.2);
                transform: scale(0.2);
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        -webkit-transform: scale(1.8);
                transform: scale(1.8);
    }
}
@keyframes location-wave-effect {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.2);
                transform: scale(0.2);
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        -webkit-transform: scale(1.8);
                transform: scale(1.8);
    }
}
.location-wave-out{
    -webkit-animation: location-wave-out 1s both;
            animation: location-wave-out 1s both;
}
@-webkit-keyframes location-wave-out {
    25% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(0);
    }
}
@keyframes location-wave-out {
    25% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
                animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
}
.location-wave-in{
    -webkit-animation: location-wave-in 0.8s both;
            animation: location-wave-in 0.8s both;
}
@-webkit-keyframes location-wave-in {
    0%{
        -webkit-transform: scale(0);
    }
    75% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.400, 0.400, 1.000);
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@keyframes location-wave-in {
    0%{
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    75% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.400, 0.400, 1.000);
                animation-timing-function: cubic-bezier(1.000, 0.400, 0.400, 1.000);
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.contact-card{
    position: absolute;
    left: 570px;
    top: 450px;
    background-color: #ffffff;
    width: 300px;
}
.contact-company{
    position: absolute;
    left: 22px;
    top: 13px;
    width: 25px;
}
.contact-phone{
    position: absolute;
    left: 20px;
    top: 13px;
    width: 27px;
}
.contact-map{
    position: absolute;
    left: 22px;
    top: 15px;
    width: 20px;
}
.contact-split{
    position: absolute;
    height: 28px;
    width: 1px;
    background-color: #cccccc;
    display: inline-block;
}
.arrow-left{
    width: 0;
    height: 0;
    position: absolute;
    left: -15px;
    top: 40px;
    border-top: 5px solid transparent;
    border-right: 15px solid white;
    border-bottom: 5px solid transparent;
}