.customer{
    -webkit-transition: all 0.2s;
            transition: all 0.2s;
    cursor: pointer;
}
.customer:hover{
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background-color: #f9f9f9;
}
.slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    -webkit-animation: fadeOutUp 1s both;
            animation: fadeOutUp 1s both;
}
.slide.active{
    z-index: 100;
    -webkit-animation: fadeInUp 1s both;
            animation: fadeInUp 1s both;
}
.slide-name{
    font-size: 35px;
    color: #ffffff;
}
.slide.active .slide-name{
    font-size: 35px;
    color: #ffffff;
    -webkit-animation: fadeInUp 1s 1s both;
            animation: fadeInUp 1s 1s both;
}
.slide-des{
    font-size: 20px;
    color: #ffffff;
}
.slide.active .slide-des{
    font-size: 20px;
    color: #ffffff;
    -webkit-animation: fadeInUp 1s 1.3s both;
            animation: fadeInUp 1s 1.3s both;
}
.slide-img{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    -webkit-animation: fadeOut 1s both;
            animation: fadeOut 1s both;
}
.slide-img.active{
    z-index: 100;
    -webkit-animation: fadeIn 1s both;
            animation: fadeIn 1s both;
}
.left-nav{
    height: 100%;
    background-color: rgba(34,34,34,0.2);
    opacity: 1;
    width: 100px;
    z-index: 102;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    display: none;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.left-nav:hover{
    background-color: rgba(34,34,34,0.3);
}
.left-nav>i{
    position: relative; 
    top: 50%; 
    font-size: 50px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
.right-nav{
    height: 100%;
    background-color: rgba(34,34,34,0.2);
    opacity: 1;
    width: 100px;
    z-index: 102;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    display: none;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.right-nav:hover{
    background-color: rgba(34,34,34,0.3);
}
.right-nav>i{
    position: relative; 
    top: 50%; 
    font-size: 50px;
    transform: translateY(-50%);
}

.slide-nav-container{
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
}
.slide-nav{
    cursor: pointer;
    width: 70px;
    height: 70px;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
    background-color: #ffffff;
    border: solid 5px #dddddd;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-animation: bounceIn 1s both;
            animation: bounceIn 1s both;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.slide-nav:hover, .slide-nav.active{
    background-color: #ffffff;
    border: solid 5px #EF7B32;
}
.slide-nav-img{
    padding: 1px;
    width: 100%;
}