.customer{
    -webkit-transition: all 0.2s;
            transition: all 0.2s;
    cursor: pointer;
}
.customer:hover{
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background-color: #f9f9f9;
}
.customer-circle-1{
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
}
.customer:hover .customer-circle-1{
    -webkit-animation: circle-wave-1 1.3s ease-out 75ms;
            animation: circle-wave-1 1.3s ease-out 75ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
@-webkit-keyframes circle-wave-1 {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.6;
        border: 1px solid #eee;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        border: 1px solid #eee;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.25);
                transform: scale(1.25);
        opacity: 0;
    }
}
@keyframes circle-wave-1 {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.6;
        border: 1px solid #eee;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        border: 1px solid #eee;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.25);
                transform: scale(1.25);
        opacity: 0;
    }
}
.customer-circle-2{
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
}
.customer:hover .customer-circle-2{
    -webkit-animation: circle-wave-2 1.3s ease-out 75ms;
            animation: circle-wave-2 1.3s ease-out 75ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
@-webkit-keyframes circle-wave-2 {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.6;
        border: 1px solid #eee;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        border: 1px solid #eee;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes circle-wave-2 {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.6;
        border: 1px solid #eee;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        border: 1px solid #eee;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        opacity: 0;
    }
}

.slide-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
}
.slide-in{
    -webkit-animation: slideIn 1s both;
            animation: slideIn 1s both;
}
@-webkit-keyframes slideIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.slide-out{
    -webkit-animation: slideOut 1.2s both;
            animation: slideOut 1.2s both;
}
@-webkit-keyframes slideOut {
    0% {
        opacity: 1;
        -webkit-filter: contrast(1);
           -moz-filter: contrast(1);
            -ms-filter: contrast(1);
                filter: contrast(1);
    }
    30% {
        opacity: 1;
        -webkit-filter: contrast(2);
           -moz-filter: contrast(2);
            -ms-filter: contrast(2);
                filter: contrast(2);
    }
    100% {
        opacity: 0;
    }
}
@keyframes slideOut {
    0% {
        opacity: 1;
        -webkit-filter: contrast(1);
           -moz-filter: contrast(1);
            -ms-filter: contrast(1);
                filter: contrast(1);
    }
    30% {
        opacity: 1;
        -webkit-filter: contrast(2);
           -moz-filter: contrast(2);
            -ms-filter: contrast(2);
                filter: contrast(2);
    }
    100% {
        opacity: 0;
    }
}

.arrow-bottom{
    width: 0;
    height: 0;
    position: absolute;
    left: 48.5%;
    bottom: -15px;
    border-top: 15px solid #84CCC7;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}

.slide-nav{
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.slide-nav-item{
    width: 12px;
    height: 12px;
    margin-right: 15px;
    display: inline-block;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.slide-nav-item.active{
    background-color: #EF7A33;
}


/*
    banner
*/
.banner-box-1{
    position: absolute;
    right: 22%;
    top: 35%;
    width: 300px;
    height: 180px;
    opacity: 0;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.banner-box-1 .banner-box-cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: #ffffff;
}
.banner-box-1 .banner-box-main{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    padding-top: 80px;
    padding-right: 15px;
}
.banner-box-1 .eng-text{
    color: #701511;
    font-size: 20px;
    visibility: hidden;
    letter-spacing: 1px;
    padding-right: 85px;
}
.banner-box-1 .tag{
    background-color: #701511;
    color: #ffffff;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    top: 2px;
    display: none;
}
.banner-box-1 .text-1{
    position: absolute;
    width: 75px;
    left: 20px;
    top: 30px;
    opacity: 0;
}
.banner-box-1 .text-2{
    position: absolute;
    width: 50px;
    left: 110px;
    top: 15px;
    opacity: 0;
}
.banner-box-1 .text-3{
    color: #ffffff;
    font-size: 21px;
    letter-spacing: 1px;
    padding-right: 15px;
    visibility: hidden;
}
.banner-box-1 .text-4{
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 21px;
    visibility: hidden;
}
.banner-box-1 .text-5{
    color: #701511;
    letter-spacing: 1px;
    font-size: 21px;
    visibility: hidden;
}
.banner-box-1 .line-1{
    position: absolute;
    display: inline-block;
    left: -190px;
    bottom: -30px;
    width: 120%;
    height: 1px;
    background-color: #ffffff;
    -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-1.active .line-1{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-1 .line-2{
    position: absolute;
    display: inline-block;
    left: -30px;
    bottom: -100px;
    width: 1px;
    height: 110%;
    background-color: #ffffff;
    -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-1.active .line-2{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-1 .line-3{
    position: absolute;
    display: inline-block;
    left: -45px;
    top: 0px;
    width: 160%;
    height: 1px;
    background-color: #ffffff;
    -webkit-transition: all 0.5s 0.2s ease-out;
            transition: all 0.5s 0.2s ease-out;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-1.active .line-3{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-1 .line-4{
    position: absolute;
    display: inline-block;
    right: 0px;
    top: -15px;
    width: 1px;
    height: 170%;
    background-color: #ffffff;
    -webkit-transition: all 0.5s 0.2s ease-out;
            transition: all 0.5s 0.2s ease-out;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-1.active .line-4{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-1 .line-5{
    position: absolute;
    display: inline-block;
    left: -145px;
    bottom: 0px;
    width: 160%;
    height: 1px;
    background-color: #ffffff;
    -webkit-transition: all 0.5s 0.2s ease-out;
            transition: all 0.5s 0.2s ease-out;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-1.active .line-5{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-1 .line-6{
    position: absolute;
    display: inline-block;
    left: 0px;
    top: -15px;
    width: 1px;
    height: 165%;
    background-color: #ffffff;
    -webkit-transition: all 0.5s 0.2s ease-out;
            transition: all 0.5s 0.2s ease-out;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-1.active .line-6{
    -webkit-transform: scale(1);
            transform: scale(1);
}

.banner-box-2{
    position: absolute;
    left: 22%;
    top: 35%;
    width: 300px;
    height: 180px;
    opacity: 0;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.banner-box-2 .banner-box-cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: #ffffff;
}
.banner-box-2 .banner-box-main{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    padding-top: 80px;
    padding-right: 15px;
}
.banner-box-2 .eng-text{
    color: #EF752B;
    font-size: 20px;
    visibility: hidden;
    letter-spacing: 1px;
    padding-right: 75px;
}
.banner-box-2 .tag{
    background-color: #EF7932;
    color: #ffffff;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    top: 2px;
    display: none;
    /*animation-fill-mode: both;*/
}
.banner-box-2 .text-1{
    position: absolute;
    width: 75px;
    left: 20px;
    top: 30px;
}
.banner-box-2 .text-2{
    position: absolute;
    width: 50px;
    left: 110px;
    top: 15px;
}
.banner-box-2 .text-3{
    color: #222222;
    font-size: 21px;
    letter-spacing: 1px;
    padding-right: 15px;
    visibility: hidden;
}
.banner-box-2 .text-4{
    color: #222222;
    letter-spacing: 1px;
    font-size: 21px;
    visibility: hidden;
}
.banner-box-2 .text-5{
    color: #EF752B;
    letter-spacing: 1px;
    font-size: 21px;
    visibility: hidden;
}
.banner-box-2 .line-1{
    position: absolute;
    display: inline-block;
    left: -190px;
    bottom: -30px;
    width: 120%;
    height: 1px;
    background-color: #ffffff;
    -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-2.active .line-1{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-2 .line-2{
    position: absolute;
    display: inline-block;
    left: -30px;
    bottom: -100px;
    width: 1px;
    height: 110%;
    background-color: #ffffff;
    -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-2.active .line-2{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-2 .line-3{
    position: absolute;
    display: inline-block;
    left: -45px;
    top: 0px;
    width: 160%;
    height: 1px;
    background-color: #ffffff;
    -webkit-transition: all 0.5s 0.2s ease-out;
            transition: all 0.5s 0.2s ease-out;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-2.active .line-3{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-2 .line-4{
    position: absolute;
    display: inline-block;
    right: 0px;
    top: -15px;
    width: 1px;
    height: 170%;
    background-color: #ffffff;
    -webkit-transition: all 0.5s 0.2s ease-out;
            transition: all 0.5s 0.2s ease-out;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-2.active .line-4{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-2 .line-5{
    position: absolute;
    display: inline-block;
    left: -145px;
    bottom: 0px;
    width: 160%;
    height: 1px;
    background-color: #ffffff;
    -webkit-transition: all 0.5s 0.2s ease-out;
            transition: all 0.5s 0.2s ease-out;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-2.active .line-5{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-2 .line-6{
    position: absolute;
    display: inline-block;
    left: 0px;
    top: -15px;
    width: 1px;
    height: 165%;
    background-color: #ffffff;
    -webkit-transition: all 0.5s 0.2s ease-out;
            transition: all 0.5s 0.2s ease-out;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-2.active .line-6{
    -webkit-transform: scale(1);
            transform: scale(1);
}

.banner-box-3{
    position: absolute;
    left: 25%;
    top: 37%;
    width: 300px;
    height: 180px;
    opacity: 0;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.banner-box-3 .banner-box-cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: #ffffff;
}
.banner-box-3 .banner-box-main{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    padding-top: 80px;
    padding-right: 15px;
}
.banner-box-3 .eng-text{
    color: #6A0D0A;
    font-size: 20px;
    visibility: hidden;
    letter-spacing: 1px;
    padding-right: 75px;
}
.banner-box-3 .tag{
    background-color: #6E1611;
    color: #ffffff;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    top: 2px;
    display: none;
    /*animation-fill-mode: both;*/
}
.banner-box-3 .text-1{
    position: absolute;
    width: 75px;
    left: 20px;
    top: 30px;
}
.banner-box-3 .text-2{
    position: absolute;
    width: 50px;
    left: 110px;
    top: 15px;
}
.banner-box-3 .text-3{
    color: #EB894A;
    font-size: 21px;
    letter-spacing: 1px;
    padding-right: 15px;
    visibility: hidden;
}
.banner-box-3 .text-4{
    color: #EB894A;
    letter-spacing: 1px;
    font-size: 21px;
    visibility: hidden;
}
.banner-box-3 .text-5{
    color: #721C17;
    letter-spacing: 1px;
    font-size: 21px;
    visibility: hidden;
}
.banner-box-3 .line-1{
    position: absolute;
    display: inline-block;
    left: 120px;
    bottom: -30px;
    width: 120%;
    height: 1px;
    background-color: #ffffff;
    -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-3.active .line-1{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-3 .line-2{
    position: absolute;
    display: inline-block;
    right: -20px;
    bottom: -110px;
    width: 1px;
    height: 110%;
    background-color: #ffffff;
    -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-3.active .line-2{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-3 .line-3{
    position: absolute;
    display: inline-block;
    left: -45px;
    top: 0px;
    width: 160%;
    height: 1px;
    background-color: #ffffff;
    -webkit-transition: all 0.5s 0.2s ease-out;
            transition: all 0.5s 0.2s ease-out;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-3.active .line-3{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-3 .line-4{
    position: absolute;
    display: inline-block;
    right: 0px;
    top: -15px;
    width: 1px;
    height: 170%;
    background-color: #ffffff;
    -webkit-transition: all 0.5s 0.2s ease-out;
            transition: all 0.5s 0.2s ease-out;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-3.active .line-4{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-3 .line-5{
    position: absolute;
    display: inline-block;
    left: -145px;
    bottom: 0px;
    width: 160%;
    height: 1px;
    background-color: #ffffff;
    -webkit-transition: all 0.5s 0.2s ease-out;
            transition: all 0.5s 0.2s ease-out;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-3.active .line-5{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-3 .line-6{
    position: absolute;
    display: inline-block;
    left: -1px;
    top: -15px;
    width: 1px;
    height: 165%;
    background-color: #ffffff;
    -webkit-transition: all 0.5s 0.2s ease-out;
            transition: all 0.5s 0.2s ease-out;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-3.active .line-6{
    -webkit-transform: scale(1);
            transform: scale(1);
}

.banner-box-4{
    position: absolute;
    left: 50%;
    top: 40%;
    width: 300px;
    height: 180px;
    opacity: 0;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.banner-box-4 .banner-box-cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: #ffffff;
}
.banner-box-4 .banner-box-main{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    padding-top: 80px;
    padding-right: 15px;
}
.banner-box-4 .eng-text{
    color: #78B433;
    font-size: 18px;
    visibility: hidden;
    letter-spacing: 1px;
    padding-right: 70px;
}
.banner-box-4 .tag{
    background-color: #78B433;
    color: #ffffff;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    top: 2px;
    display: none;
    /*animation-fill-mode: both;*/
}
.banner-box-4 .text-1{
    position: absolute;
    width: 75px;
    left: 15px;
    top: 30px;
    opacity: 0;
}
.banner-box-4 .text-2{
    position: absolute;
    width: 50px;
    left: 110px;
    top: 15px;
    opacity: 0;
}
.banner-box-4 .text-3{
    color: #c4804a;
    font-size: 21px;
    letter-spacing: 1px;
    padding-right: 15px;
    visibility: hidden;
}
.banner-box-4 .text-4{
    color: #c4804a;
    letter-spacing: 1px;
    font-size: 21px;
    visibility: hidden;
}
.banner-box-4 .text-5{
    color: #78B433;
    letter-spacing: 1px;
    font-size: 21px;
    visibility: hidden;
}
.banner-box-4 .line-1{
    position: absolute;
    display: inline-block;
    left: -130px;
    bottom: -30px;
    width: 120%;
    height: 1px;
    background-color: #ffffff;
    -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-4.active .line-1{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-4 .line-2{
    position: absolute;
    display: inline-block;
    left: -25px;
    bottom: -100px;
    width: 1px;
    height: 110%;
    background-color: #ffffff;
    -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-4.active .line-2{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-4 .line-3{
    position: absolute;
    display: inline-block;
    left: -45px;
    top: 0px;
    width: 160%;
    height: 1px;
    background-color: #ffffff;
    -webkit-transition: all 0.5s 0.2s ease-out;
            transition: all 0.5s 0.2s ease-out;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-4.active .line-3{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-4 .line-4{
    position: absolute;
    display: inline-block;
    right: 0px;
    top: -15px;
    width: 1px;
    height: 170%;
    background-color: #ffffff;
    -webkit-transition: all 0.5s 0.2s ease-out;
            transition: all 0.5s 0.2s ease-out;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-4.active .line-4{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-4 .line-5{
    position: absolute;
    display: inline-block;
    left: -145px;
    bottom: 0px;
    width: 160%;
    height: 1px;
    background-color: #ffffff;
    -webkit-transition: all 0.5s 0.2s ease-out;
            transition: all 0.5s 0.2s ease-out;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-4.active .line-5{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.banner-box-4 .line-6{
    position: absolute;
    display: inline-block;
    left: -1px;
    top: -15px;
    width: 1px;
    height: 165%;
    background-color: #ffffff;
    -webkit-transition: all 0.5s 0.2s ease-out;
            transition: all 0.5s 0.2s ease-out;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.banner-box-4.active .line-6{
    -webkit-transform: scale(1);
            transform: scale(1);
}