.btn-booking-1{
    border-radius: 50px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 16px;
    background-color: transparent;
    border-color: #EF7B32;
    color: #EF7B32;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.btn-booking-1:hover, 
.btn-booking-1:focus, 
.btn-booking-1:active{
    background-color: #EF7B32;
    border-color: #eeeeee;
}

.btn-booking-2{
    border-color: #EF7B32;
    background-color: #EF7B32;
    color: #ffffff;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.btn-booking-2:hover, 
.btn-booking-2:focus, 
.btn-booking-2:active{
    background-color: #D4621B;
    border-color: #D4621B;
}

.btn-booking-3{
    border-color: #EF7B32;
    background-color: #EF7B32;
    color: #ffffff;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.btn-booking-3:hover, 
.btn-booking-3:focus, 
.btn-booking-3:active{
    background-color: #D4621B;
    border-color: #D4621B;
}

.btn-booking-4{
    border-radius: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 15px;
    background-color: transparent;
    border-color: #EF7B32;
    color: #EF7B32;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.btn-booking-4:hover, 
.btn-booking-4:focus, 
.btn-booking-4:active{
    background-color: #EF7B32;
    border-color: #eeeeee;
}

.form-control{
    border-radius: 1px;
}
.form-control:focus{
    border-color: #EF7B32;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 148, 102, 0.6);;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 148, 102, 0.6);;
}

#fullPage-nav span{
    width: 12px;
    height: 12px;
    border-color: #EF7B32;
    -webkit-transition: all .3s;
            transition: all .3s;
}
#fullPage-nav li .active span{
    background-color: #EF7B32;
}


.rotate-text{
    display: inline-block;
    -webkit-transition: all 1.3s;
            transition: all 1.3s;
}
.rotate-x{
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
}
.rotate-y{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
}

.tile-up{
    -webkit-animation: tile-up 18s 3s both infinite;
            animation: tile-up 18s 3s both infinite;
}
@-webkit-keyframes tile-up {
    0% {
        top: -100%;
    }
    5% {
        top: 0;
    }
    50% {
        top: 0;
    }
    55% {
        top: -100%;
    }
    100% {
        top: -100%;
    }
}
@keyframes tile-up {
    0% {
        top: -100%;
    }
    5% {
        top: 0;
    }
    50% {
        top: 0;
    }
    55% {
        top: -100%;
    }
    100% {
        top: -100%;
    }
}
.tile-up-2{
    -webkit-animation: tile-up-2 28s 5s both infinite;
            animation: tile-up-2 28s 5s both infinite;
}
@-webkit-keyframes tile-up-2 {
    0% {
        top: -100%;
    }
    5% {
        top: 0;
    }
    50% {
        top: 0;
    }
    55% {
        top: -100%;
    }
    100% {
        top: -100%;
    }
}
@keyframes tile-up-2 {
    0% {
        top: -100%;
    }
    5% {
        top: 0;
    }
    50% {
        top: 0;
    }
    55% {
        top: -100%;
    }
    100% {
        top: -100%;
    }
}
.tile-down{
    -webkit-animation: tile-down 24s 7s both infinite;
            animation: tile-down 24s 7s both infinite;
}
@-webkit-keyframes tile-down {
    0% {
        top: 0;
    }
    5% {
        top: -100%;
    }
    50% {
        top: -100%;
    }
    55% {
        top: 0;
    }
    100% {
        top: 0;
    }
}
@keyframes tile-down {
    0% {
        top: 0;
    }
    5% {
        top: -100%;
    }
    50% {
        top: -100%;
    }
    55% {
        top: 0;
    }
    100% {
        top: 0;
    }
}

.tips{
    position: absolute;
    letter-spacing: 2px;
    left: 0;
    bottom: -46px;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.tips-img:hover~.tips{
    bottom: 0px;
}

.tile-left-1{
    -webkit-animation: tileLeft 15s 3s both infinite;
            animation: tileLeft 15s 3s both infinite;
}
.tile-left-2{
    -webkit-animation: tileLeft 20s 5s both infinite;
            animation: tileLeft 20s 5s both infinite;
}
.tile-left-3{
    -webkit-animation: tileLeft 25s 4s both infinite;
            animation: tileLeft 25s 4s both infinite;
}
.tile-left-4{
    -webkit-animation: tileLeft 28s 7s both infinite;
            animation: tileLeft 28s 7s both infinite;
}
@-webkit-keyframes tileLeft {
    0% {
        left: 0;
    }
    5% {
        left: -100%;
    }
    50% {
        left: -100%;
    }
    55% {
        left: 0;
    }
    100% {
        left: 0;
    }
}
@keyframes tileLeft {
    0% {
        left: 0;
    }
    5% {
        left: -100%;
    }
    50% {
        left: -100%;
    }
    55% {
        left: 0;
    }
    100% {
        left: 0;
    }
}

.package{
    position: relative;
}
.border-t{
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #EF7B32;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
}
.package:hover .border-t{
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
}
.border-r{
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #EF7B32;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
}
.package:hover .border-r{
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
}
.border-b{
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #EF7B32;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
}
.package:hover .border-b{
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
}
.border-l{
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #EF7B32;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
}
.package:hover .border-l{
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
}


.falling-1{
    width: 150px;
    -webkit-animation-play-state: running;
            animation-play-state: running;
    -webkit-animation: falling-1 12s linear both infinite;
            animation: falling-1 12s linear both infinite;
}
.falling-1:hover{
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}
@-webkit-keyframes falling-1 {
    0% {
        -webkit-transform: translateY(-300px);
                transform: translateY(-300px);
    }
    
    100% {
        -webkit-transform: translateY(700px);
                transform: translateY(700px);
    }
}
@keyframes falling-1 {
    0% {
        -webkit-transform: translateY(-300px);
                transform: translateY(-300px);
    }
    
    100% {
        -webkit-transform: translateY(700px);
                transform: translateY(700px);
    }
}
