{% extends "pc/base/base_home.html" %}

{% block title_all %}关于我们 - 三点十分{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/contact-us.css?v={{MEDIA_VERSION}}">
<style type="text/css">
.fade-move{
    min-height: 500px;
    padding-top: 240px;
    font-size: 22px;
    color: #ffffff;
}
.fade-text{
    overflow: hidden;
    vertical-align: top;
    height: 40px;
    font-weight: bold;
    display: inline-block;
}

.employee{
    height: 212px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.col-md-2{
    width: 20%;
    padding-bottom: 30px;
}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.easing.1.3.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/site/contact-us.js?v={{MEDIA_VERSION}}"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/site/about.js?v={{MEDIA_VERSION}}"></script>
{% endblock %}

{% block base_container %}
<div class="container-fluid pl-0 pr-0 text-center fade-move bgc-84CCC7">
    <span class="">我们</span>
    <span class="fade-text"></span>
    <span class="">下午茶点</span>
    <span class="fade-text"></span>
    <br>
    <span class="">致力于</span>
    <span class="fade-text"></span>
    <span class="">的</span>
    <span class="fade-text"></span>
    <br>
    <span class="">最</span>
    <span class="fade-text"></span>
    <span class="">尽在三点十分</span>
</div>
<div class="container-fluid pl-0 pr-0">
    <div class="row">
        <div class="col-md-12 text-center f30 pt-80">
            我们是谁
        </div>
        <div class="col-md-12 text-center f20 pt-3 co-ADADAD">
            WHO WE ARE
        </div>
    </div>
    <div class="container pt-80 pl-25">
        <div class="row pb-30">
            <div class="col-md-12">
                <div class="col-md-4 pr-0">
                    <div class="co-84CCC7 f20 pb-3">我们不生产水果，</div>
                    <div class="co-84CCC7 f20 pb-15">我们只是新鲜水果的搬运工</div>
                    <div class="f13 letter-spacing-1 line-height-20">每一份鲜切果盒都是精选当季最富活力的时令鲜果和进口鲜果，从四川国际农产品交易中心的供应商直接引。我们的货源主要来自原产地、批发市场、大型超市、加工工厂。依赖这些优质货源，我们希望送到您手里的水果是健康的、新鲜的、安全的。</div>
                </div>
                <div class="col-md-4 col-md-offset-2 pr-30">
                    <img class="w" style="margin-top: -35px;" src="{{MEDIA_URL}}img/about/cube.png">
                </div>
            </div>
            <div class="col-md-12 pt-55">
                <div class="col-md-4">
                    <img class="w" style="margin-top: -55px;" src="{{MEDIA_URL}}img/about/cake.png">
                </div>
                <div class="col-md-5 col-md-offset-2 pl-50">
                    <div class="co-84CCC7 f20 pb-3">我们的自信，</div>
                    <div class="co-84CCC7 f20 pb-15">我们的优势</div>
                    <div class="f13 letter-spacing-1 line-height-20">我们是从事鲜果切领域的先行者，我们反复研究不断打磨产品，不仅提供了鲜果切行业专利标准，还送出了超过千万次的服务。100%即开即食，水果种类一次多样搭配等特点，非常适合繁忙的您在工作之余享用，让您在补充营养的同时，高效完成工作！</div>
                </div>
            </div>
            <div class="col-md-12 pt-30">
                <div class="col-md-4 pr-0">
                    <div class="co-84CCC7 f20 pb-3">我们的路线，</div>
                    <div class="co-84CCC7 f20 pb-15">我们的成长</div>
                    <div class="f13 letter-spacing-1 line-height-20">走得再远，勿忘初衷。为了给白领们提供最健康的工作时间水果服务，2015年08月01日我们送出了第一份鲜果切，奋斗在鲜果切这一细分领域。未来我们还会提供更多可能，让三点十分走向每一位白领！</div>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <img class="w" style="margin-top: -50px;" src="{{MEDIA_URL}}img/about/banana.png">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pl-0 pr-0 bgc-F6F5F1">
    <div class="row">
        <div class="col-md-12 text-center f30 pt-80">
            我们的团队
        </div>
        <div class="col-md-12 text-center f20 pt-3 co-ADADAD">
            OUR TEAM
        </div>
    </div>
    <div class="container pb-30">
        <div class="row pt-40 pb-0">
            <div class="col-md-2 text-center pl-25 pr-25">
                <div class="employee" style="background-image: url({{MEDIA_URL}}img/about/employee-1.png)"></div>
                <div class="f20 pt-5">李政</div>
                <div class="co-ADADAD f13 pt-5">CEO</div>
            </div>
            <div class="col-md-2 text-center pl-25 pr-25">
                <div class="employee" style="background-image: url({{MEDIA_URL}}img/about/employee-2.png)"></div>
                <div class="f20 pt-5">雷成铭</div>
                <div class="co-ADADAD f13 pt-5">技术总监</div>
            </div>
            <div class="col-md-2 text-center pl-25 pr-25">
                <div class="employee" style="background-image: url({{MEDIA_URL}}img/about/employee-3.png)"></div>
                <div class="f20 pt-5">李瑶</div>
                <div class="co-ADADAD f13 pt-5">设计顾问</div>
            </div>
            <div class="col-md-2 text-center pl-25 pr-25">
                <div class="employee" style="background-image: url({{MEDIA_URL}}img/about/employee-5.png)"></div>
                <div class="f20 pt-5">李聪</div>
                <div class="co-ADADAD f13 pt-5">物流专员</div>
            </div>
            <div class="col-md-2 text-center pl-25 pr-25">
                <div class="employee" style="background-image: url({{MEDIA_URL}}img/about/employee-4.png)"></div>
                <div class="f20 pt-5">马瑶</div>
                <div class="co-ADADAD f13 pt-5">服务专员</div>
            </div>

            <div class="col-md-2 text-center pl-25 pr-25">
                <div class="employee" style="background-image: url({{MEDIA_URL}}img/about/employee-1.png)"></div>
                <div class="f20 pt-5">袁某某</div>
                <div class="co-ADADAD f13 pt-5">营养顾问</div>
            </div>
            <div class="col-md-2 text-center pl-25 pr-25">
                <div class="employee" style="background-image: url({{MEDIA_URL}}img/about/employee-2.png)"></div>
                <div class="f20 pt-5">赖某某</div>
                <div class="co-ADADAD f13 pt-5">市场顾问</div>
            </div>
            <div class="col-md-2 text-center pl-25 pr-25">
                <div class="employee" style="background-image: url({{MEDIA_URL}}img/about/employee-3.png)"></div>
                <div class="f20 pt-5">神秘大佬</div>
                <div class="co-ADADAD f13 pt-5">金主</div>
            </div>
        </div>
    </div>
</div>
{% include "pc/include/_contact_us.html" %}
{% endblock %}