{% extends "mobile/base.html" %}

{% block title %}联系我们{% endblock title %}

{% block base_css %}
<style type="text/css">
.bg{
    background: -webkit-linear-gradient(left top, #e8711c, #f09a5d);
    background: linear-gradient(left top, #e8711c, #f09a5d);
}
.logo{
    width: 45px;
    top: 55px;
    left: -15%;
}
.title{
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 20px;
    color: #EF7B32;
    border-bottom: 1px solid rgba(239, 123, 50, 0.3);
}
.info{
    font-size: 15px;
}
.link{
    color: #EF7B32;
    text-decoration: none;
}
.link:hover, .link:focus{
    color: #EF7B32;
    text-decoration: none;
}
</style>
{% endblock %}

{% block base_js %}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row bg">
        <div class="col-xs-8 col-xs-offset-4 pt-55 pb-30 pr">
            <img class="logo pa" src="{{MEDIA_URL}}img/logo_white.png">
            <div class="f20 co-ffffff">三点十分</div>
            <div class="">
                <img class="" style="width: 110px;" alt="下午茶点服务专家" src="{{MEDIA_URL}}img/slogan_white.png">
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 co-ffffff pb-30">
            <p>
                三点十分是一家专注于企业下午茶点服务的互联网公司，下午茶O2O服务领跑者
            </p>
            <p>
                按需定制企业下午茶套餐，免费配送上门，由资深互联网团队倾心打造，一流的水果供应商和行业领先的食品加工厂联袂为企业带来新鲜的水果和可口的点心，资深营养师为你精心搭配，确保营养均衡
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 title">联系我们</div>
        <div class="col-xs-10 col-xs-offset-1 pt-10 info">
            <i class="fa fa-chrome pr-15 f18 co-EF7B32"></i>www.3-10.cc
        </div>
        <div class="col-xs-10 col-xs-offset-1 pt-10 info">
            <i class="fa fa-envelope f18 co-EF7B32" style="padding-right: 13px;"></i>
            <a class="link" href="mailto:lz@3-10.cc">lz@3-10.cc</a>
        </div>
        <div class="col-xs-10 col-xs-offset-1 pt-10 info">
            <i class="fa fa-phone-square f18 co-EF7B32" style="padding-left:1px; padding-right: 13px;"></i>
            <a class="link" href="tel:18111296512">181 - 1129 - 6512</a>
        </div>
        <div class="col-xs-10 col-xs-offset-1 pt-10 info pr" style="padding-left: 47px;">
            <i class="fa fa-map-marker f18 co-EF7B32 pa" style="left:18px; top:10px;"></i>成都市天府五街200号菁蓉国际广场
        </div>
    </div>
</div>
{% endblock %}