{% extends "pc/base/base_home.html" %}

{% block title_all %}典型客户 - 三点十分{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/animate/animate.min.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/customers.css?v={{MEDIA_VERSION}}">
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/countUp.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/site/customers.js?v={{MEDIA_VERSION}}"></script>
{% endblock %}

{% block base_container %}
<div class="container-fluid bdc-dddddd pr">
    <div class="row pr" style="overflow-y: hidden;">
        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/customers/slide01.jpg">
        <div class="slide active">
            <img class="w visibility-hidden" src="{{MEDIA_URL}}img/customers/slide01.jpg">
            <div class="container-fluid pa w" style="left: 0; bottom: 40px; z-index: 101;">
                <div class="container">
                    <div class="slide-name text-right">味他</div>
                    <div class="slide-des text-right">公司规模: 10 - 30人</div>
                </div>
            </div>
            
            <img class="slide-img active" src="{{MEDIA_URL}}img/customers/slide01.jpg">
            <!-- <img class="slide-img" src="{{MEDIA_URL}}img/customers/slide02.jpg"> -->
            <!-- <img class="slide-img" src="{{MEDIA_URL}}img/customers/slide03.jpg"> -->

            <div class="left-nav">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="right-nav">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
        <div class="slide">
            <img class="w visibility-hidden" src="{{MEDIA_URL}}img/customers/slide01.jpg">
            <div class="container-fluid pa w" style="left: 0; bottom: 40px; z-index: 101;">
                <div class="container">
                    <div class="slide-name">铁皮人</div>
                    <div class="slide-des">公司规模: 30 - 100人</div>
                </div>
            </div>

            <!-- <img class="slide-img" src="{{MEDIA_URL}}img/customers/slide04.jpg"> -->
            <!-- <img class="slide-img" src="{{MEDIA_URL}}img/customers/slide05.jpg"> -->
            <img class="slide-img active" src="{{MEDIA_URL}}img/customers/slide06.jpg">

            <div class="left-nav">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="right-nav">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
        <div class="slide">
            <img class="w visibility-hidden" src="{{MEDIA_URL}}img/customers/slide01.jpg">
            <div class="container-fluid pa w" style="left: 0; bottom: 40px; z-index: 101;">
                <div class="container">
                    <div class="slide-name">咕咚</div>
                    <div class="slide-des">公司规模: 100人以上</div>
                </div>
            </div>

            <!-- <img class="slide-img active" src="{{MEDIA_URL}}img/customers/slide07.jpg"> -->
            <!-- <img class="slide-img" src="{{MEDIA_URL}}img/customers/slide08.jpg"> -->
            <img class="slide-img active" src="{{MEDIA_URL}}img/customers/slide09.jpg">

            <div class="left-nav">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="right-nav">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
        
    </div>
    <div class="slide-nav-container">
        <span class="slide-nav active" style="-webkit-animation-delay: 0.4s; animation-delay: 0.4s;">
            <img class="slide-nav-img" src="{{MEDIA_URL}}img/home/customer-3.png">
        </span>
        <span class="slide-nav" style="-webkit-animation-delay: 0.6s; animation-delay: 0.6s;">
            <img class="slide-nav-img" src="{{MEDIA_URL}}img/home/customer-2.png">
        </span>
        <span class="slide-nav" style="-webkit-animation-delay: 0.8s; animation-delay: 0.8s;">
            <img class="slide-nav-img" src="{{MEDIA_URL}}img/home/customer-1.png">
        </span>
    </div>
</div>
<div class="container-fluid pl-0 pr-0 pt-80">
    <div class="row">
        <div class="col-md-12 text-center f25 pt-80">
            三点十分自2015年8月累积服务<span class="co-EF7B32 w55 inline-block" id="company-count" data-count="{{companys.count}}">0</span>家公司，共<span class="co-EF7B32 w100 inline-block" id="person-time-count" data-count="{{person_time_count}}">0</span>人次
        </div>
    </div>
    <div class="container pb-30">
        <div class="row pt-30 pb-30">
            {% for company in companys %}
            <div class="col-md-2 pt-20">
                <div class="bdr-circle bgc-ffffff pl-30 pr-30 pt-30 pb-30 customer pr">
                    <img class="w" src="{{company.logo}}" alt="{{company.short_name}}">
                </div>
                <div class="text-center f16 pt-0">{{company.short_name}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}