{% extends "pc/base/base_home.html" %}

{% block title_all %}产品介绍 - 三点十分{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/animate/animate.min.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/fullpage/jquery.fullPage.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/introduction.css">
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.fullPage.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.easing.1.3.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/site/introduction.js"></script>
{% endblock %}

{% block base_container %}
<div id="fullpage">
    <div class="section">
        <div class="container pl-40 pr-40 mt-80">
            <div class="row bgc-FAE4D5">
                <div class="col-md-5 co-EF7B32 text-center">
                    <div class="f30 pt-80 fb letter-spacing-5 rotate-text-1"></div>
                    <div class="f30 pb-20 fb letter-spacing-5 rotate-text-2"></div>
                    <div class="f14 pb-80 letter-spacing-1">每天搭配多种水果，给你不一样的新鲜！</div>
                    <div class="pb-20">
                        <a href="#" class="btn btn-danger btn-booking-1 animated">马上预订</a>
                    </div>
                    <div class="pb-20">
                        <img class="w150" src="{{MEDIA_URL}}img/introduction/cube.png">
                    </div>
                </div>
                <div class="col-md-7 pl-0 pr-0">
                    <div class="col-md-6 pl-0 pr-0 overflow-y">
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/tile-1.jpg">
                        <div class="pa tile-up" style="left: 0; top: -100%;">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/tile-1.jpg">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/tile-6.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 pl-0 pr-0 text-center pr bgc-ffffff">
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/tile-1.jpg">
                        <div class="pa w" style="top: 30%; left: 0;">
                            <div class="f18 fb">新鲜</div>
                            <div class="f14 pt-5 pl-30 pr-30">当天采购，新鲜为美味加分</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-0 pr-0 text-center pr bgc-ffffff">
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/tile-2.jpg">
                        <div class="pa w" style="top: 35%; left: 0;">
                            <div class="f18 fb">多样</div>
                            <div class="f14 pt-5 pl-30 pr-30">时令水果同时呈现，不定时还有点心哦</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-0 pr-0 overflow-y">
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/tile-2.jpg">
                        <div class="pa tile-left" style="left: 0; top: -100%;">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/tile-2.jpg">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/tile-5.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 pl-0 pr-0 overflow-y">
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/tile-3.jpg">
                        <div class="pa tile-down" style="left: 0; top: 0%;">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/tile-3.jpg">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/tile-4.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 pl-0 pr-0 text-center pr bgc-ffffff">
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/tile-3.jpg">
                        <div class="pa w" style="top: 30%; left: 0;">
                            <div class="f18 fb">健康</div>
                            <div class="f14 pt-5 pl-30 pr-30">确保每个流程的卫生，追求健康食材</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container mt-80">
            <div class="row text-center">
                <div class="col-md-12 f30">供应商</div>
                <div class="col-md-12 f20 co-ADADAD">SUPPLIERS</div>
                <div class="col-md-10 col-md-offset-1 letter-spacing-1 line-height-23 f13 pt-20">
                    <div>每一份鲜切果盒都是精选当季最富活力的时令鲜果和进口鲜果，从四川国际农产品交易中心的供应商直接引。</div>
                    <div>我们的货源主要来自原产地、批发市场、大型超市、加工工厂。依赖这些优质货源，我们希望送到您手里的水果是</div>
                    <div>健康的、新鲜的、安全的。</div>
                </div>
                <div class="col-md-5 col-md-offset-1 pr-0 pl-30">
                    <img class="w" src="{{MEDIA_URL}}img/introduction/supplier-1.jpg">
                </div>
                <div class="col-md-5 pl-0 pr-30">
                    <img class="w" src="{{MEDIA_URL}}img/introduction/supplier-2.jpg">
                </div>
                <div class="col-md-5 col-md-offset-1 pr-0 pl-30">
                    <img class="w" src="{{MEDIA_URL}}img/introduction/supplier-3.jpg">
                </div>
                <div class="col-md-5 pl-0 pr-30">
                    <img class="w" src="{{MEDIA_URL}}img/introduction/supplier-4.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container mt-80">
            <div class="row text-center">
                <div class="col-md-12 f30">包装和加工</div>
                <div class="col-md-12 f20 co-ADADAD pb-20">PACKAGING AND PROCESSING</div>
                <div class="col-md-12 pt-20">
                    <div class="col-md-4 pl-30 pr-30">
                        <img class="w" src="{{MEDIA_URL}}img/introduction/process-1.jpg">
                        <div class="col-md-12 fb f20 pt-20 pb-10">洗</div>
                        <div class="col-md-12 f13">
                            洗水果是很关键的一步，在新鲜的水果都要经过仔细的清洗才能放心食用，洗水果是很关键的一步，在新鲜的水果都要经过仔细的清洗才能放心食用。
                        </div>
                    </div>
                    <div class="col-md-4 pl-30 pr-30">
                        <img class="w" src="{{MEDIA_URL}}img/introduction/process-2.jpg">
                        <div class="col-md-12 fb f20 pt-20 pb-10">切</div>
                        <div class="col-md-12 f13">
                            切水果是是一门艺术，将不同的水果利用不同的工具切成让人耳目一新的形态，让人眼前一亮，还能增加趣味性，为你的工作休息之余带去一份乐趣！
                        </div>
                    </div>
                    <div class="col-md-4 pl-30 pr-30">
                        <img class="w" src="{{MEDIA_URL}}img/introduction/process-3.jpg">
                        <div class="col-md-12 fb f20 pt-20 pb-10">装</div>
                        <div class="col-md-12 f13">
                            装水果是是一门技术，将不同的水果放在同一个盒子里，不能压坏，不能损害水果自身的味道，只为在将最真实的新鲜水果送到您的手中，开心享用。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section bgc-84CCC7">
        <div class="container mt-80 pl-40 pr-40">
            <div class="row text-center">
                <div class="col-md-12 f30">配送</div>
                <div class="col-md-12 f20 co-555555 pb-20">TRANSPORT</div>
                <div class="col-md-12 pt-10">
                    <div class="col-md-3 pl-0 pr-0">
                        <img class="w" src="{{MEDIA_URL}}img/introduction/transport-1.jpg">
                    </div>
                    <div class="col-md-3 pl-0 pr-0">
                        <img class="w" src="{{MEDIA_URL}}img/introduction/transport-2.jpg">
                    </div>
                    <div class="col-md-3 pl-0 pr-0">
                        <img class="w" src="{{MEDIA_URL}}img/introduction/transport-3.jpg">
                    </div>
                    <div class="col-md-3 pl-0 pr-0">
                        <img class="w" src="{{MEDIA_URL}}img/introduction/transport-4.jpg">
                    </div>
                    <div class="col-md-3 pl-0 pr-0">
                        <img class="w" src="{{MEDIA_URL}}img/introduction/transport-5.jpg">
                    </div>
                    <div class="col-md-3 pl-0 pr-0">
                        <img class="w" src="{{MEDIA_URL}}img/introduction/transport-6.jpg">
                    </div>
                    <div class="col-md-3 pl-0 pr-0">
                        <img class="w" src="{{MEDIA_URL}}img/introduction/transport-7.jpg">
                    </div>
                    <div class="col-md-3 pl-0 pr-0">
                        <img class="w" src="{{MEDIA_URL}}img/introduction/transport-8.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container mt-80">
            <div class="row">
                <div class="col-md-12 f30 text-center">套餐介绍</div>
                <div class="col-md-12 f20 co-ADADAD pb-20 text-center">PACKAGE</div>
                <div class="col-md-12 pt-30">
                    <div class="col-md-3">
                        <div class="col-md-12 border-1 bdc-eeeeee pl-0 pr-0">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/package-1.jpg">
                            <div class="col-md-12 pb-15">
                                <div class="f18 pt-15 fb pb-15">
                                    王老五套餐
                                    <span class="pull-right co-EF7B32"><i class="fa fa-rmb pr-3"></i>99</span>
                                </div>
                                <div class="f15 pb-10">套餐主要包括:</div>
                                <div class="f12 pb-5">新鲜车厘子 1 斤;</div>
                                <div class="f12 pb-5">口口脆西瓜 2 斤;</div>
                                <div class="f12 pb-5">美国红地厘蛇果 3 斤;</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 border-1 bdc-eeeeee pl-0 pr-0">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/package-2.jpg">
                            <div class="col-md-12 pb-15">
                                <div class="f18 pt-15 fb pb-15">
                                    小资套餐
                                    <span class="pull-right co-EF7B32"><i class="fa fa-rmb pr-3"></i>199</span>
                                </div>
                                <div class="f15 pb-10">套餐主要包括:</div>
                                <div class="f12 pb-5">新鲜车厘子 1 斤;</div>
                                <div class="f12 pb-5">口口脆西瓜 2 斤;</div>
                                <div class="f12 pb-5">美国红地厘蛇果 3 斤;</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 border-1 bdc-eeeeee pl-0 pr-0">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/package-3.jpg">
                            <div class="col-md-12 pb-15">
                                <div class="f18 pt-15 fb pb-15">
                                    土豪套餐
                                    <span class="pull-right co-EF7B32"><i class="fa fa-rmb pr-3"></i>299</span>
                                </div>
                                <div class="f15 pb-10">套餐主要包括:</div>
                                <div class="f12 pb-5">新鲜车厘子 1 斤;</div>
                                <div class="f12 pb-5">口口脆西瓜 2 斤;</div>
                                <div class="f12 pb-5">美国红地厘蛇果 3 斤;</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 border-1 bdc-eeeeee pl-0 pr-0">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/package-1.jpg">
                            <div class="col-md-12 pb-15">
                                <div class="f18 pt-15 fb pb-15">
                                    情怀套餐
                                    <span class="pull-right co-EF7B32"><i class="fa fa-rmb pr-3"></i>399</span>
                                </div>
                                <div class="f15 pb-10">套餐主要包括:</div>
                                <div class="f12 pb-5">新鲜车厘子 1 斤;</div>
                                <div class="f12 pb-5">口口脆西瓜 2 斤;</div>
                                <div class="f12 pb-5">美国红地厘蛇果 3 斤;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container mt-80" style="padding-bottom: 250px;">
            <div class="row">
                <div class="col-md-12 f30 text-center">立即预订</div>
                <div class="col-md-12 f20 co-ADADAD pb-20 text-center">BOOKING</div>
                <div class="col-md-12 pt-30">
                    <form class="form-inline">
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" placeholder="姓名">
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" placeholder="公司名称">
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" placeholder="联系方式">
                        </div>
                        <div class="form-group col-md-3">
                            <a href="#" class="btn btn-danger btn-booking-2 btn-block">立即预订</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="pt-30 pb-30 bgc-444B5C co-ADADAD f12 pa" style="left: 0; bottom: 0; width: 100%;">
            <div class="container pb-0 pt-20 pb-10">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <div class="col-md-4">
                            <a class="co-ffffff" href="mailto:lz@3-10.cc">
                                <i class="contact-hover-email fa fa-envelope-o f28 bdc-ffffff border-2 bdr-circle pl-8 pr-8 pb-8 pt-8"></i>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=390973848&amp;site=qq&amp;menu=yes" target="_blank" class="co-ffffff">
                                <i class="contact-hover-qq fa fa-qq f28 bdc-ffffff border-2 bdr-circle pl-8 pr-8 pb-8 pt-8"></i>
                            </a>
                        </div>
                        <!-- <div class="col-md-3">
                            <i class="contact-hover-weibo fa fa-weibo f28 bdc-ffffff border-2 bdr-circle pl-8 pr-8 pb-8 pt-8"></i>
                        </div> -->
                        <div class="col-md-4 pr">
                            <i class="contact-hover-weixin fa fa-weixin f28 bdc-ffffff border-2 bdr-circle pl-6 pr-6 pb-8 pt-8"></i>
                            <!-- <img class="w140 pa cekaa-wx" style="left: -10px; top: -155px;" src="{{MEDIA_URL}}img/home/cekaa_wx.jpg"> -->
                        </div>
                    </div>

                    <div class="col-md-6 col-md-offset-3 text-center pt-40 co-ffffff f22">
                        三点十分
                    </div>

                    <div class="col-md-12 text-center pt-20">
                        <div class="pt-5">Copyright &copy; {% if YEAR == "2015" %}{{YEAR}}{% else %}2015 - {{YEAR}}{% endif %} 大橙科技. All Rights Reserved.</div>
                        <!-- <div class="pt-5 co-555555">蜀ICP备14028531号-2</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}