{% extends "pc/base/base_home.html" %}

{% block title_all %}产品介绍 - 三点十分{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/animate/animate.min.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/fullpage/jquery.fullPage.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/introduction.css?v={{MEDIA_VERSION}}">
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.fullPage.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.easing.1.3.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/site/introduction.js?v={{MEDIA_VERSION}}"></script>
{% endblock %}

{% block base_container %}
<div id="fullpage">
    <div class="section">
        <div class="container mt-80">
            <div class="row bgc-FAE4D5">
                <div class="col-md-5 co-EF7B32 text-center">
                    <div class="f30 pt-80 fb letter-spacing-5 rotate-text-1"></div>
                    <div class="f30 pb-20 fb letter-spacing-5 rotate-text-2"></div>
                    <div class="f14 pb-80 letter-spacing-1">每天精心搭配多种水果和点心，给你不一样的新鲜！</div>
                    <div class="pb-20">
                        <a href="#" class="btn btn-danger btn-booking-1 animated">立即预约</a>
                    </div>
                    <div class="pb-20 pt-20">
                        <img class="w200" src="{{MEDIA_URL}}img/introduction/cube.png" alt="魔方">
                    </div>
                </div>
                <div class="col-md-7 pl-0 pr-0">
                    <div class="col-md-6 pl-0 pr-0 overflow-y">
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/tile-1.jpg">
                        <div class="pa tile-up" style="left: 0; top: -100%;">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/tile-1.jpg">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/tile-2.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 pl-0 pr-0 text-center pr bgc-ffffff">
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/tile-1.jpg">
                        <div class="pa w" style="top: 30%; left: 0;">
                            <div class="f18 fb">新鲜</div>
                            <div class="f14 pt-5 pl-30 pr-30">水果当天采购，配送前鲜切，点心当天定制生产，新鲜为美味加分</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-0 pr-0 text-center pr bgc-ffffff">
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/tile-3.jpg">
                        <div class="pa w" style="top: 35%; left: 0;">
                            <div class="f18 fb">多样</div>
                            <div class="f14 pt-5 pl-30 pr-30">时令水果精心组合，合理搭配各类点心，由专业的营养师为你精心配制</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-0 pr-0 overflow-y">
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/tile-3.jpg">
                        <div class="pa tile-up-2" style="left: 0; top: -100%;">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/tile-3.jpg">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/tile-4.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 pl-0 pr-0 overflow-y">
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/tile-5.jpg">
                        <div class="pa tile-down" style="left: 0; top: 0%;">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/tile-5.jpg">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/tile-6.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 pl-0 pr-0 text-center pr bgc-ffffff">
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/tile-5.jpg">
                        <div class="pa w" style="top: 30%; left: 0;">
                            <div class="f18 fb">健康</div>
                            <div class="f14 pt-5 pl-30 pr-30">确保每个流程的卫生，追求健康食材</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container mt-80">
            <div class="row text-center">
                <div class="col-md-12 f30">供应商</div>
                <div class="col-md-12 f20 co-ADADAD">SUPPLIERS</div>
                <div class="col-md-10 col-md-offset-1 letter-spacing-1 line-height-23 f13 pt-30 pb-30">
                    每一份鲜切水果都是精选当季富有活力的时令鲜果和进口鲜果，我们的水果主要来自原产地、批发市场、大型超市，我们的点心由一流的加工工厂每天定制生产并按时送达。正是因为这些优质货源，我们才能保证送到您手里的水果和点心是可口的、健康的、新鲜的、安全的。
                </div>
                <div class="col-md-3 pr-0 pl-0 overflow-y">
                    <img class="w tips-img" src="{{MEDIA_URL}}img/introduction/supplier-1.jpg">
                    <div class="tips">原产地</div>
                </div>
                <div class="col-md-3 pl-0 pr-0 overflow-y">
                    <img class="w tips-img" src="{{MEDIA_URL}}img/introduction/supplier-2.jpg">
                    <div class="tips">批发市场</div>
                </div>
                <div class="col-md-3 pr-0 pl-0 overflow-y">
                    <img class="w tips-img" src="{{MEDIA_URL}}img/introduction/supplier-3.jpg">
                    <div class="tips">大型超市</div>
                </div>
                <div class="col-md-3 pl-0 pr-0 overflow-y">
                    <img class="w tips-img" src="{{MEDIA_URL}}img/introduction/supplier-4.jpg">
                    <div class="tips">加工工厂</div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container mt-80">
            <div class="row text-center">
                <div class="col-md-12 f30">包装和加工</div>
                <div class="col-md-12 f20 co-ADADAD pb-20">PACKAGING AND PROCESSING</div>
                <div class="col-md-12 pt-20">
                    <div class="col-md-4 pl-30 pr-30">
                        <img class="w" src="{{MEDIA_URL}}img/introduction/process-1.jpg">
                        <div class="col-md-12 fb f20 pt-20 pb-10">洗</div>
                        <div class="col-md-12 f13">
                            洗水果是很关键的一步，再新鲜的水果都要经过仔细的清洗才能放心食用，我们采用可靠的设备对水果进行清洗，确保水果的干净和无残留物。
                        </div>
                    </div>
                    <div class="col-md-4 pl-30 pr-30">
                        <img class="w" src="{{MEDIA_URL}}img/introduction/process-2.jpg">
                        <div class="col-md-12 fb f20 pt-20 pb-10">切</div>
                        <div class="col-md-12 f13">
                            切水果是是一门艺术，将不同的水果利用不同的工具切成让人耳目一新的形态，让人眼前一亮，还能增加趣味性，为你的工作休息之余带去一份乐趣！
                        </div>
                    </div>
                    <div class="col-md-4 pl-30 pr-30">
                        <img class="w" src="{{MEDIA_URL}}img/introduction/process-3.jpg">
                        <div class="col-md-12 fb f20 pt-20 pb-10">装</div>
                        <div class="col-md-12 f13">
                            装水果是是一门技术，我们一个容器只盛放一类水果，不损害水果自身的味道，只为在将真实的新鲜水果送到您的手中，开心享用。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section bgc-84CCC7">
        <div class="container mt-80 pl-40 pr-40">
            <div class="row text-center">
                <div class="col-md-12 f30">配送</div>
                <div class="col-md-12 f20 co-555555 pb-20">TRANSPORT</div>
                <div class="col-md-12 pt-10">

                    <div class="col-md-3 pl-0 pr-0 pr overflow-x">
                        <div class="pa tile-left-1" style="left: 0px; top: 0; width: 200%;">
                            <img class="pull-left" src="{{MEDIA_URL}}img/introduction/transport-1.jpg" style="width: 50%">
                            <img src="{{MEDIA_URL}}img/introduction/transport-2.jpg" style="width: 50%">
                        </div>
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/transport-1.jpg">
                    </div>
                    <div class="col-md-3 pl-0 pr-0 bgc-F2FDFD">
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/transport-1.jpg">
                        <div class="pa f20 w pl-15" style="left: 0; top: 43%;">
                            <i class="fa fa-angle-left pa f32" style="left: 25%; top: -3px;"></i>配送人员
                        </div>
                    </div>

                    <div class="col-md-3 pl-0 pr-0 pr overflow-x">
                        <div class="pa tile-left-2" style="left: 0px; top: 0; width: 200%;">
                            <img class="pull-left" src="{{MEDIA_URL}}img/introduction/transport-3.jpg" style="width: 50%">
                            <img src="{{MEDIA_URL}}img/introduction/transport-4.jpg" style="width: 50%">
                        </div>
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/transport-3.jpg">
                    </div>
                    <div class="col-md-3 pl-0 pr-0 bgc-F2FDFD">
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/transport-3.jpg">
                        <div class="pa f20 w pl-15" style="left: 0; top: 43%;">
                            <i class="fa fa-angle-left pa f32" style="left: 35%; top: -3px;"></i>冰袋
                        </div>
                    </div>

                    <div class="col-md-3 pl-0 pr-0 bgc-F2FDFD">
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/transport-5.jpg">
                        <div class="pa f20 w pr-15" style="left: 0; top: 43%;">
                            <i class="fa fa-angle-right pa f32" style="right: 25%; top: -3px;"></i>配送车辆
                        </div>
                    </div>
                    <div class="col-md-3 pl-0 pr-0 pr overflow-x">
                        <div class="pa tile-left-3" style="left: 0px; top: 0; width: 200%;">
                            <img class="pull-left" src="{{MEDIA_URL}}img/introduction/transport-5.jpg" style="width: 50%">
                            <img src="{{MEDIA_URL}}img/introduction/transport-6.jpg" style="width: 50%">
                        </div>
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/transport-5.jpg">
                    </div>

                    <div class="col-md-3 pl-0 pr-0 bgc-F2FDFD">
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/transport-7.jpg">
                        <div class="pa f20 w pr-15" style="left: 0; top: 43%;">
                            <i class="fa fa-angle-right pa f32" style="right: 30%; top: -3px;"></i>隔热箱
                        </div>
                    </div>
                    <div class="col-md-3 pl-0 pr-0 pr overflow-x">
                        <div class="pa tile-left-4" style="left: 0px; top: 0; width: 200%;">
                            <img class="pull-left" src="{{MEDIA_URL}}img/introduction/transport-7.jpg" style="width: 50%">
                            <img src="{{MEDIA_URL}}img/introduction/transport-8.jpg" style="width: 50%">
                        </div>
                        <img class="w visibility-hidden" src="{{MEDIA_URL}}img/introduction/transport-7.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="section">
        <div class="container mt-80">
            <div class="row">
                <div class="col-md-12 f30 text-center">套餐介绍</div>
                <div class="col-md-12 f20 co-ADADAD pb-20 text-center">PACKAGE</div>
                <div class="col-md-12 pt-10">
                    <div class="col-md-3">
                        <div class="col-md-12 border-1 bdc-eeeeee pl-0 pr-0 package">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/package-1.jpg">
                            <div class="col-md-12 pb-15 bgc-F6F5F1">
                                <div class="f18 pt-15 fb pb-15">
                                    初创型
                                    <span class="pull-right co-EF7B32"><i class="fa fa-rmb pr-3"></i>99元/次</span>
                                </div>
                                <div class="f15 pb-10">套餐主要包括:</div>
                                <div class="f12 pb-5">水果类：哈密瓜、香蕉、西瓜、葡萄、火龙果、橙子等;</div>
                                <div class="f12 pb-5">点心类：蛋挞、烧烤布丁、老婆饼、拿破仑、耶圈、曲奇饼干等;</div>
                                <div class="pt-15 pb-5">
                                    <a href="#" class="btn btn-danger btn-booking-3 btn-wave f14">立即预订</a>
                                </div>
                            </div>
                            <span class="border-t"></span>
                            <span class="border-r"></span>
                            <span class="border-b"></span>
                            <span class="border-l"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 border-1 bdc-eeeeee pl-0 pr-0 package">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/package-2.jpg">
                            <div class="col-md-12 pb-15 bgc-F6F5F1">
                                <div class="f18 pt-15 fb pb-15">
                                    成长型
                                    <span class="pull-right co-EF7B32"><i class="fa fa-rmb pr-3"></i>299元/次</span>
                                </div>
                                <div class="f15 pb-10">套餐主要包括:</div>
                                <div class="f12 pb-5">水果类：哈密瓜、香蕉、西瓜、葡萄、火龙果、橙子等;</div>
                                <div class="f12 pb-5">点心类：蛋挞、烧烤布丁、老婆饼、拿破仑、耶圈、曲奇饼干等;</div>
                                <div class="pt-15 pb-5">
                                    <a href="#" class="btn btn-danger btn-booking-3 btn-wave f14">立即预订</a>
                                </div>
                            </div>
                            <span class="border-t"></span>
                            <span class="border-r"></span>
                            <span class="border-b"></span>
                            <span class="border-l"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 border-1 bdc-eeeeee pl-0 pr-0 package">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/package-3.jpg">
                            <div class="col-md-12 pb-15 bgc-F6F5F1">
                                <div class="f18 pt-15 fb pb-15">
                                    成熟型
                                    <span class="pull-right co-EF7B32"><i class="fa fa-rmb pr-3"></i>499元/次</span>
                                </div>
                                <div class="f15 pb-10">套餐主要包括:</div>
                                <div class="f12 pb-5">水果类：哈密瓜、香蕉、西瓜、葡萄、火龙果、橙子等;</div>
                                <div class="f12 pb-5">点心类：蛋挞、烧烤布丁、老婆饼、拿破仑、耶圈、曲奇饼干等;</div>
                                <div class="pt-15 pb-5">
                                    <a href="#" class="btn btn-danger btn-booking-3 btn-wave f14">立即预订</a>
                                </div>
                            </div>
                            <span class="border-t"></span>
                            <span class="border-r"></span>
                            <span class="border-b"></span>
                            <span class="border-l"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 border-1 bdc-eeeeee pl-0 pr-0 package">
                            <img class="w" src="{{MEDIA_URL}}img/introduction/package-4.jpg">
                            <div class="col-md-12 pb-15 bgc-F6F5F1">
                                <div class="f18 pt-15 fb pb-15">
                                    上市型
                                    <span class="pull-right co-EF7B32"><i class="fa fa-rmb pr-3"></i>699元+/次</span>
                                </div>
                                <div class="f15 pb-10">套餐主要包括:</div>
                                <div class="f12 pb-5">水果类：哈密瓜、香蕉、西瓜、葡萄、火龙果、橙子等;</div>
                                <div class="f12 pb-5">点心类：蛋挞、烧烤布丁、老婆饼、拿破仑、耶圈、曲奇饼干等;</div>
                                <div class="pt-15 pb-5">
                                    <a href="#" class="btn btn-danger btn-booking-3 btn-wave f14">立即预订</a>
                                </div>
                            </div>
                            <span class="border-t"></span>
                            <span class="border-r"></span>
                            <span class="border-b"></span>
                            <span class="border-l"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="section" style="">
        <div class="container" style="min-height: 100%; height: 100%; overflow-y: hidden;">
            <div class="row pr" style="padding-top: 20%;">
                <img class="pa falling-1" style="left: 0; top: 0;" src="{{MEDIA_URL}}img/introduction/intro_1.png">
                <img class="pa falling-1" style="left: 300px; top: 0; animation-delay: 3s; -webkit-animation-delay: 3s;" src="{{MEDIA_URL}}img/introduction/intro_2.png">
                <img class="pa falling-1" style="left: 600px; top: 0; animation-delay: 1s; -webkit-animation-delay: 1s;" src="{{MEDIA_URL}}img/introduction/intro_3.png">
                <img class="pa falling-1" style="left: 800px; top: 0; animation-delay: 2s; -webkit-animation-delay: 2s;" src="{{MEDIA_URL}}img/introduction/intro_4.png">
                <img class="pa falling-1" style="left: 400px; top: 0; animation-delay: 4.5s; -webkit-animation-delay: 4.5s;" src="{{MEDIA_URL}}img/introduction/intro_5.png">
                <img class="pa falling-1" style="left: 500px; top: 0; animation-delay: 8.5s; -webkit-animation-delay: 8.5s;" src="{{MEDIA_URL}}img/introduction/intro_6.png">
                <!-- <img class="pa falling-1" style="left: 600px; top: 0; animation-delay: 1s; -webkit-animation-delay: 1s;" src="{{MEDIA_URL}}img/introduction/intro_15.png"> -->
                <img class="pa falling-1" style="left: 650px; top: 0; animation-delay: 6.5s; -webkit-animation-delay: 6.5s;" src="{{MEDIA_URL}}img/introduction/intro_8.png">
                <img class="pa falling-1" style="left: 700px; top: 0; animation-delay: 3.8s; -webkit-animation-delay: 3.8s;" src="{{MEDIA_URL}}img/introduction/intro_9.png">
                <img class="pa falling-1" style="left: 800px; top: 0; animation-delay: 10s; -webkit-animation-delay: 10s;" src="{{MEDIA_URL}}img/introduction/intro_10.png">
                <img class="pa falling-1" style="left: 180px; top: 0; animation-delay: 1.5s; -webkit-animation-delay: 0.5s;" src="{{MEDIA_URL}}img/introduction/intro_18.png">
                <img class="pa falling-1" style="left: 80px; top: 0; animation-delay: 3.3s; -webkit-animation-delay: 3.3s;" src="{{MEDIA_URL}}img/introduction/intro_12.png">
                <img class="pa falling-1" style="left: 240px; top: 0; animation-delay: 5.5s; -webkit-animation-delay: 5.5s;" src="{{MEDIA_URL}}img/introduction/intro_13.png">
                <img class="pa falling-1" style="left: 100px; top: 0; animation-delay: 8s; -webkit-animation-delay: 8s;" src="{{MEDIA_URL}}img/introduction/intro_16.png">
                <img class="pa falling-1" style="left: 300px; top: 0; animation-delay: 9.5s; -webkit-animation-delay: 9.5s;" src="{{MEDIA_URL}}img/introduction/intro_14.png">
                <!-- <img class="pa falling-1" style="left: 670px; top: 0; animation-delay: 8s; -webkit-animation-delay: 8s;" src="{{MEDIA_URL}}img/introduction/intro_16.png"> -->
                <!-- <img class="pa falling-1" style="left: 780px; top: 0; animation-delay: 4s; -webkit-animation-delay: 4s;" src="{{MEDIA_URL}}img/introduction/intro_17.png"> -->
                <div class="pa" style="left: 290px; top: 90%; width: 420px">
                    <div class="col-md-12 f30 text-center">套餐介绍</div>
                    <div class="col-md-12 f20 co-ADADAD pb-20 text-center">PACKAGE</div>
                    <div class="col-md-12 pt-10 co-EF7B32 text-center f16">
                        人均最低仅需 8 元，即可享受美好下午茶时光
                    </div>
                    <div class="col-md-12 pt-10 text-center f14">水果: 香蕉、葡萄、火龙果、西瓜、哈密瓜、石榴、脆红李等</div>
                    <div class="col-md-12 pt-3 text-center f14">点心: 蛋挞、布丁、老婆饼、曲奇、拿破仑、蛋糕、甜甜圈等</div>
                    <div class="col-md-12 pt-20 text-center">
                        <a href="#" class="btn btn-danger btn-booking-4">立即预约</a>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="section">
        <div class="container mt-80" style="padding-bottom: 250px;">
            <div class="row">
                <div class="col-md-12 f30 text-center">立即预约</div>
                <div class="col-md-12 f20 co-ADADAD pb-20 text-center">BOOKING</div>
                <div class="col-md-10 col-md-offset-1 letter-spacing-1 line-height-23 text-center f14 pt-5">
                预约成功之后，我们的市场专员会在24小时内与你联系确认套餐详情和配送时间，符合要求的企业可免费试吃一次
                </div>
                <div class="col-md-10 co-ADADAD col-md-offset-1 letter-spacing-1 line-height-23 text-center f12 pb-10">(PS:目前只支持员工数在10人以上，办公地址在城南高新区的企业，更多地区加速开放中...)
                </div>
                <div class="col-md-12 pt-30">
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control name" placeholder="姓名">
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control company" placeholder="公司名称">
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control mobile" placeholder="联系方式">
                    </div>
                    <div class="form-group col-md-3">
                        <a class="btn btn-danger btn-booking-2 btn-block btn-wave">立即预约</a>
                    </div>
                </div>
            </div>
        </div>
        {% include "pc/include/_footer.html" %}
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}