{% extends "pc/base/base.html" %}

{% block title_all %}女神节 - 三点十分{% endblock %}
{% block base_css %}
<style type="text/css">
.ai{
    position: absolute;
    top: 60px;
    left: 70px;
    border: none;
    font-size: 20px;
    background-color: ;
    color: #f1735b;
}
</style>
{% endblock %}

{% block base_container %}
<img src="{{MEDIA_URL}}/img/event/poster38.jpg" alt="38" width="92%">
<input type="text" width="100" class="ai" value="曹女神" />
{% endblock %}


{% block footer %}{% endblock footer %}