{% extends "pc/base/base_home.html" %}

{% block title_all %}产品目录 - 三点十分{% endblock %}
{% block css %}
<style type="text/css">
body{
	background-color: #eeeeee;
}
.list-inline>li{
	padding-left: 7px;
	padding-right: 7px;
}
.orange-nav-pills{
    border-bottom: 2px solid #d9d9d9;
}
.orange-nav-pills>li>a{
  border-radius: 0px;
  margin-bottom: -2px;
  border-bottom: 2px solid #d9d9d9;
  color: #222222;
  transition: all 0.3s;
}
.orange-nav-pills>li>a:hover{
  background-color: transparent;
  border-bottom: 2px solid #EF7B32;
  color: #EF7B32;
}
.orange-nav-pills>li.active>a,
.orange-nav-pills>li.active>a:hover, 
.orange-nav-pills>li.active>a:focus{
  background-color: transparent;
  color: #EF7B32;
  border-bottom: 2px solid #EF7B32;
}
</style>
{% endblock %}

{% block js %}
{% endblock %}

{% block base_container %}
<div class="container pt-80">
	<div class="row pt-20 pb-20">
		<div class="col-md-12">
			<ul class="nav nav-pills orange-nav-pills">
			    <li class="active">
			        <a href="#fruit" data-toggle="pill">
			            <i class="fa fa-apple pr-5"></i>
			            <span class="hidden-sm hidden-md hidden-lg">水果</span>
			            <span class="hidden-xs">水果 ( {{fruit.count}}种 )</span>
			        </a>
			    </li>
			    <li>
			        <a href="#cake" data-toggle="pill">
			            <i class="fa fa-coffee pr-5"></i>
			            <span class="hidden-sm hidden-md hidden-lg">点心</span>
			            <span class="hidden-xs">点心 ( {{cake.count}}种 )</span>
			        </a>
			    </li>
			    <li>
			        <a href="#drink" data-toggle="pill">
			            <i class="fa fa-glass pr-5"></i>
			            <span class="hidden-sm hidden-md hidden-lg">饮料</span>
			            <span class="hidden-xs">饮料 ( {{drink.count}}种 )</span>
			        </a>
			    </li>
			    <li>
			        <a href="#luwei" data-toggle="pill">
			            <i class="fa fa-tint pr-5"></i>
			            <span class="hidden-sm hidden-md hidden-lg">卤味</span>
			            <span class="hidden-xs">卤味 ( {{luwei.count}}种 )</span>
			        </a>
			    </li>
			</ul>

			<div class="tab-content">
			    <div class="tab-pane fade in active" id="fruit">
			        <div class="row">
			            <div class="col-md-12">
			                <ul class="list-inline">
			                    {% for item in fruit %}
			                    <li class="col-md-3 col-xs-6 pt-25">
			                        <div class="col-md-12 bgc-ffffff pt-15">
			                            <img src="{{item.get_img}}" class="w">
			                            <div class="pt-10 pb-10 text-center">{{item.name}}{{item.smart_des}}</div>
			                        </div>
			                    </li>
			                    {% endfor %}
			                </ul>
			            </div>
			        </div>
			    </div>

			    <div class="tab-pane fade in" id="cake">
			        <div class="row">
			            <div class="col-md-12">
			                <ul class="list-inline">
			                    {% for item in cake %}
			                    <li class="col-md-3 col-xs-6 pt-25">
			                        <div class="col-md-12 bgc-ffffff pt-15">
			                            <img src="{{item.get_img}}" class="w">
			                            <div class="pt-10 pb-10 text-center">{{item.name}}{{item.smart_des}}</div>
			                        </div>
			                    </li>
			                    {% endfor %}
			                </ul>
			            </div>
			        </div>
			    </div>

			    <div class="tab-pane fade in" id="drink">
			        <div class="row">
			            <div class="col-md-12">
			                <ul class="list-inline">
			                    {% for item in drink %}
			                    <li class="col-md-3 col-xs-6 pt-25">
			                        <div class="col-md-12 bgc-ffffff pt-15">
			                            <img src="{{item.get_img}}" class="w">
			                            <div class="pt-10 pb-10 text-center">{{item.name}}{{item.smart_des}}</div>
			                        </div>
			                    </li>
			                    {% endfor %}
			                </ul>
			            </div>
			        </div>
			    </div>

			    <div class="tab-pane fade in" id="luwei">
			        <div class="row">
			            <div class="col-md-12">
			                <ul class="list-inline">
			                    {% for item in luwei %}
			                    <li class="col-md-3 col-xs-6 pt-25">
			                        <div class="col-md-12 bgc-ffffff pt-15">
			                            <img src="{{item.get_img}}" class="w">
			                            <div class="pt-10 pb-10 text-center">{{item.name}}{{item.smart_des}}</div>
			                        </div>
			                    </li>
			                    {% endfor %}
			                </ul>
			            </div>
			        </div>
			    </div>

			</div>
		</div>
	</div>
</div>
{% endblock %}