{% extends "base/base.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}忘记密码{% endblock %}

{% block base_css %}
<style type="text/css">
.btn-forget{
    background-color: #f36119;
    border-color: #f36119;
}

.btn-forget:hover{
    background-color: #C4490C;
    border-color: #C4490C;
}
</style>
{% endblock %}

{% block base_js %}
<script type="text/javascript">
    $(document).ready(function(){
        // 表单验证
        $('.forget-main form').validate();
    });
</script>
{% endblock %}

{% block header %}{% endblock header %}

{% block container %}
<div class="pt-50 forget-main">
    <div class="col-md-4 col-md-offset-4">
        <div class="text-center pb-10"><a href=""><h1><a href="/">三点十分</a></h1></a></div>
        <form class="form-horizontal" role="form" method="post" action="/forget_password">
            <div class="form-group pt-5">
                <div class="col-md-offset-1">
                    <input type="email" name="email" required maxlength='50' class="form-control input-lg" placeholder="请输入邮箱" value='' >
                </div>
            </div>
            <div class="form-group pt-5">
                <div class="col-md-offset-1">
                    <button type="submit" class="btn btn-primary btn-lg btn-block btn-forget">重置密码</button>
                </div>
            </div>
            <div class="form-group pt-5">
                <div class="col-md-offset-1">
                    <div class="col-md-6">
                        
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="/login">返回登录</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
