{% extends "pc/base/base.html" %}

{% block title %}账号登录{% endblock %}

{% block base_css %}
<style type="text/css">
body, html{
    background-color: #2a2f35;
    height: 100%;
}

.user-name{
    background-color: #3b4148;
    border-color: #3b4148;
    border-radius: 2px;
    color: #999;
}

.pwd{
    background-color: #3b4148;
    border-color: #3b4148;
    border-radius: 2px;
    color: #999;
}

.login{
    border-radius: 2px;
    background-color: #D76427;
    color: #eee;
    transition: all 0.3s;
}
.login:hover{
    background-color: #E87B42;
    color: #eee;
}

.login-type a{
    color: #888;
}

label.error{
    color: #C84B21;
    font-size: 12px;
    padding-top: 5px;
}

.form-control:focus {
    border-color: #EF7B32;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 148, 102, 0.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 148, 102, 0.6);
}
</style>
{% endblock %}

{% block base_js %}
<script type="text/javascript">
$(document).ready(function(){
    // 表单验证
    $('.login-main').validate();
});
</script>
{% endblock %}

{% block header %}{% endblock header %}

{% block base_container %}
<div class="container h pr">
    <div class="row h">
        <div class="col-md-offset-3 col-md-6 col-xs-12 pt-40">
            <div class="pt-40 pr row">
                <div class="col-md-offset-2 col-md-8 text-center pr">
                    <img class="mt--5" style="width: 30px;" src="{{MEDIA_URL}}img/logo_white.png">
                    <span class="inline-block pl-10 co-ffffff f20 pl-10">三点十分</span>
                </div>
            </div>
            <form class="form-horizontal login-main" role="form" action="/login" method="post">
                <div class="pt-30 form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="text" name="mobile" required maxlength="15" class="form-control input-lg user-name" placeholder="手机号码" value='{{mobile}}'>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="password" name="password" required maxlength="50" class="form-control input-lg pwd" placeholder="密码">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button class="btn btn-lg btn-block login" type="submit">登 录</button>
                    </div>
                </div>
            </form>
            <div class="row login-type pb-30">
                <div class="col-md-offset-2 col-md-4 col-xs-6 text-left">
                    
                </div>
                <div class="col-md-4 col-xs-6 text-right pl-0">
                    <!-- <a href="/forget_pwd">忘记密码?</a> -->
                    <a href="/login_weixin"><i class="fa fa-qrcode pr-3 f15"></i>扫描二维码登录</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center co-888888 f12" style="margin-top: -50px;">
        Copyright &copy; {% if YEAR == "2015" %}{{YEAR}}{% else %}2015 - {{YEAR}}{% endif %} 大橙科技. All Rights Reserved.
    </div>
</div>

{% endblock %}
{% block footer %}{% endblock %}