{% extends "base/base.html" %}

{% block title %}重置密码{% endblock %}

{% block base_css %}
<style type="text/css">
.btn-regist{
    background-color: #f36119;
    border-color: #f36119;
}

.btn-regist:hover{
    background-color: #C4490C;
    border-color: #C4490C;
}
</style>
{% endblock %}

{% block base_js %}
<script type="text/javascript">
    $(document).ready(function(){
        // 表单验证
        $('.regist-main form').validate();
    });
</script>
{% endblock %}

{% block header %}{% endblock header %}

{% block container %}
<div class="pt-50 reset-main">
    <div class="col-md-4 col-md-offset-4">
        <div class="text-center pb-10"><h1>三点十分</h1></div>
        <form class="form-horizontal" role="form" method="post" action="/reset_password">
            <div class="form-group pt-5">
                <div class="col-md-offset-1">
                    <p class="form-control-static">重置帐号<span class="text-danger">{{user.email}}</span>的密码</p>
                </div>
            </div>
            <div class="form-group pt-5">
                <div class="col-md-offset-1">
                    <input type="password" class="form-control" placeholder="请输入你的新密码" name='new_password_1'>
                </div>
            </div>
            <div class="form-group pt-5">
                <div class="col-md-offset-1">
                    <input type="password" class="form-control" placeholder="请确认你的新密码" name='new_password_2'>
                </div>
            </div>
            <div class="form-group pt-5">
                <div class="col-md-offset-1">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">重置密码</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1">
                    <div class="col-md-6">
                        
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="/login">返回登录</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
